<section class="full_w">
    <div class="h_title">Eliminar Usuario</div>
<p>¿Estas seguro que quieres borrar el usuario? 
</p>
<form action="<?php echo $this->baseUrl(); ?>/admin/usuarios/borrar" method="post">
	<div>
		<input type="hidden" name="id" value="<?php echo $this->usuario['id']; ?>" />
		<input type="submit" name="del" value="Si" />
		<input type="submit" name="del" value="No" />
	</div>
</form>
</section>

