<section>
        <div class="h_title">Editar Usuario</div>
        <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>EL usuario fue creado.</p></div>
        <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                    <div class="n_error"><p>Error al registrar el usuario, vuelva a intentarlo.</p></div>
        <?php  } ?> 
        <form id="frmActualizarUsuario" action="" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/usuarios/editar">
               <div class="element">
                        <label for="name">Nombres <span class="msg-error"><p id="error-nombres">* Ingrese su nombre.</p></span></label>
                        <?php 
                            $propertiesid = array('id' => 'id');
                            echo $this -> formUsuario -> id -> setAttribs($propertiesid) -> renderViewHelper();                            
                        ?> 
                         <?php 
                            $propertiesNombres = array('id' => 'txtNombres');
                            echo $this -> formUsuario -> txtNombres -> setAttribs($propertiesNombres) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Apellidos <span class="msg-error"><p id="error-apellidos">* Ingrese sus apellidos.</p></span></label>
                        <?php 
                            $propertiesApellidos = array('id' => 'txtApellidos');
                            echo $this -> formUsuario -> txtApellidos -> setAttribs($propertiesApellidos) -> renderViewHelper();                            
                        ?>
                </div>
             <div class="element">
                        <label for="content">Usuario <span class="msg-error"><p id="error-username">* Ingrese un nombre de usuario.</p></span></label>
                        <?php 
                            $propertiesUsername = array('id' => 'txtUsername');
                            echo $this -> formUsuario -> txtUsername -> setAttribs($propertiesUsername) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Contraseña<span class="msg-error"><p id="error-password">* Ingrese una contraseña.</p></span></label>
                        <?php 
                            $propertiesPassword = array('id' => 'txtPassword');
                            echo $this -> formUsuario -> txtPassword -> setAttribs($propertiesPassword) -> renderViewHelper();                            
                        ?>
                </div>
            <div class="element">
                        <label for="content">Email<span class="msg-error"><p id="error-email">* Ingrese un correo electronico.</p></span></label>
                        <?php 
                            $propertiesEmail = array('id' => 'txtEmail');
                            echo $this -> formUsuario -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();                            
                        ?>
             </div>
            <div class="entry">
                        <?php 
                            $propertiesBtnUsuario = array('id' => 'btnRegistroUsuario');
                            echo $this -> formUsuario -> btnRegistroUsuario -> setAttribs($propertiesBtnUsuario) -> renderViewHelper();                            
                        ?>
                        <!-- button type="submit" class="add">Guardar</button> 
                        <button class="cancel">Cancelar</button -->
                </div>
                
        </form>
</section>