<div class="full_w">
        <div class="h_title">Usuarios</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <!-- div class="sep"></div -->
                <a class="button add" href="<?php echo $this->url(array('controller'=>'usuarios','action'=>'nuevo'));?>">A&ntilde;adir nuevo usuario</a>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">E-mail</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php foreach($this->paginator as $usuario) : ?>
                        <tr>		
                            <td class="align-center">-</td>   
                            <td><?php echo htmlentities($this->escape($usuario['username'])) ;?></td>
                            <td><?php echo htmlentities($this->escape($usuario['nombres']).','.$this->escape($usuario['apellidos'])) ;?></td>
                            <td><?php echo htmlentities($this->escape($usuario['email'])); ?></td>
                            <td>
                                <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'usuarios', 'action'=>'editar', 'id'=>$usuario['id']));?>"></a>
                                <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'usuarios','action'=>'borrar', 'id'=>$usuario['id']));?>"></a>
                                <!-- a class="table-icon delete" href="#" data-reveal-id="myModal" data-animation="none"></a -->
                              
                                 <?php if($usuario['estado'] == 1):?>
                                    <a href="<?php echo $this->url(array('controller'=>'usuarios', 'action'=>'activar', 'id'=>$usuario['id'], 'act'=>0));?>" class="table-icon activo" title="Activo"></a>
                                <?php else:?>
                                    <a href="<?php echo $this->url(array('controller'=>'usuarios', 'action'=>'activar', 'id'=>$usuario['id'], 'act'=>1));?>" class="table-icon desactivo" title="Desactivo"></a>
                                <?php endif;?>
                            </td>		
                        </tr>	
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                </div>
                
        </div>
        <!-- div id="myModal" class="reveal-modal">
                <div class="aviso-delete"><img class="aviso-img" src="<?php echo $this->baseUrl()?>/static/admin/img/i_warning.png" title="Aviso"><p>¿Esta seguro de eliminar este registro?</p></div>
                <div class="aviso-button">
                    <a class="button" href="<?php //echo $this->url(array('controller'=>'usuarios', 'action'=>'borrar', 'id'=>$usuario['id']));?>">Si</a>
                    <a class="button" id="no-poput" href="#">No</a>
                    
                </div>
                
                <a class="close-reveal-modal">&#215;</a>
        </div -->
</div>