<section class="content-body-section">
		<h2>Becas IPD &gt; Crear cuenta</h2>
		<h3><span>Crear Cuenta</span></h3>
		
                <div class="content-msg">
                        <?php if($this->respRegistro==0):?>
                            <div  id="msg-form" class="note note-blue">			                        
			                        <b>Nota</b>: Ingrese sus datos, todos los campos marcados con <span class="campo-obligatorio">(*)</span> son obligatorios. 					
			                </div>
                        <?php else:?>
                            <div  id="msg-form" class="note note-green">			                        
			                        <b>Nota</b>: Se registro correctamente. 					
			                </div>
                        <?php endif;?>
                </div>
                       <?php if($this->respRegistro==0):?> 
                       <form id="frmCrearCuentaUsuarios" action="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'crear-cuenta'),'',true); ?>" method="POST">
                                <div class="content-ru" >
                                        <dl class="ru-titulos">
                                                <dt><span>(*)</span>Nombre de Usuario:</dt>
                                                <dt><span>(*)</span>Contraseña:</dt>
                                                <dt><span>(*)</span>Nombres:</dt>
                                                <dt><span>(*)</span>Apellidos:</dt>
                                                <dt><span>(*)</span>Correo:</dt>
                                                <dt><span>(*)</span>Ciudad:</dt>
                                                <dt><span>(*)</span>Pais:</dt>									
                                        </dl>
                                        <dl class="ru-controles">
                                                <dd>
                                                    <?php 
                                                        $propertiesNombreUsuarioRu= array('id' => 'txtNombreUsuarioRu');
                                                        echo $this -> frmRegistrar -> txtNombreUsuarioRu -> setAttribs($propertiesNombreUsuarioRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesPasswordRu= array('id' => 'txtPasswordRu');
                                                        echo $this -> frmRegistrar -> txtPasswordRu -> setAttribs($propertiesPasswordRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                     <?php 
                                                        $propertiesNombresRu= array('id' => 'txtNombresRu');
                                                        echo $this -> frmRegistrar -> txtNombresRu -> setAttribs($propertiesNombresRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesApellidosRu= array('id' => 'txtApellidosRu');
                                                        echo $this -> frmRegistrar -> txtApellidosRu -> setAttribs($propertiesApellidosRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                     <?php 
                                                        $propertiesEmailRu= array('id' => 'txtEmailRu');
                                                        echo $this -> frmRegistrar -> txtEmailRu -> setAttribs($propertiesEmailRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesCiudadRu= array('id' => 'txtCiudadRu');
                                                        echo $this -> frmRegistrar -> txtCiudadRu -> setAttribs($propertiesCiudadRu) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>    
                                                        <?php 
                                                            $propertiesSelect= array('id' => 'pais');
                                                            echo $this -> frmRegistrar -> pais -> setAttribs($propertiesSelect) -> renderViewHelper();
                                                        ?>
                                                </dd>
                                        </dl>
                                        <dl class="ru-error">
                                                <dd><p id="error-usuario">Ingresar</p></dd>
                                                <dd><p id="error-password">Ingresar</p></dd>
                                                <dd><p id="error-nombres">Ingresar</p></dd>
                                                <dd><p id="error-apellidos">Ingresar</p></dd>
                                                <dd><p id="error-email">Ingresar</p></dd>
                                                <dd><p id="error-ciudad">Ingresar</p></dd>
                                                <dd><p id="error-pais">Seleccionar</p></dd>
                                        </dl>
                                </div>
                                <div class="ru-linea"></div>
                                <input type="submit" value="enviar" id="btnCrearCuentaUsuario" name="btnCrearCuentaUsuario" class="boton1 left" style=" margin-left:470px;">
                        </form>
                <?php endif;?>
               
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>