<section class="content-body-section">
        <h2>La Evolución del Deporte &gt; Contactenos</h2>

        <h3><span>CONTÁCTENOS</span> <a href="<?php echo $this->baseUrl(); ?>/inicio/index" class="boton1 right">Regresar</a></h3>

        <div class="content-des-evento">
                        <div class="evento-des">
                                        <p>
                                                ¿Necesitas ayuda para registrarte o acceder a los eventos? Déjanos un mensaje y nuestro equipo de soporte se pondrá en contacto contigo. 
                                        </p>

                        </div>
                        <!-- 
                        <nav class="nav-redes-sociales right">																								
                                        <a href="#" class="linkeid"></a>
                                        <a href="#" class="twitter"></a>												
                                        <a href="#" class="google"></a>
                                        <a href="#" class="facebook"></a>
                                        <a href="#" class="correo"></a>
                        </nav>
                        <span>Comparte:</span>
                        -->
        </div>

        <div class="content-msg">
               <div  id="msg-form" class="note note-blue">
                        <!--<a class="close-note" href="#">Cerrar Nota</a>-->
                        <b>Nota</b>: Ingrese sus datos, todos los campos marcados con <span class="campo-obligatorio">(*)</span> son obligatorios. 					
                </div>
        </div>
        <form id="frmContactos" name="frmContactos"  action="<?php echo $this->baseUrl();?>/usuarios/contactos/enviaremail" data-source="<?php echo $this->baseUrl();?>/usuarios/contactos/enviaremail" method="POST" >
                        <div class="content-ru">
                                        <dl class="ru-titulos">
                                                <dt><span>(*)</span>E-mail:</dt>
                                                <dt class="alto1"><span>(*)</span>Descripción:</dt>
                                        </dl>
                                        <dl class="ru-controles">
                                                <dd><input type="text" id="txtEmail" name="txtEmail" placeholder="e-mail"></dd>
                                                <dd class="alto1"><textarea id="textDescripcion" placeholder="descripcion" name="textDescripcion"></textarea></dd>
                                        </dl>
                                        <dl class="ru-error">
                                                <dd><p id="error-email">Falta el e-mail.</p></dd>
                                                <dd class="alto1"><p id="error-descripcion">Falta la descripción.</p></dd>
                                        </dl>
                        </div>

                        <div class="ru-linea"></div>
                        <input type="submit" name="btnContactos" id="btnContactos" value="Enviar" class="boton1">	
        </form>
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>