<div class="py-5 bg-dark">
    <div class="container">
     <div class="row align-items-center">
       <div class="col-md-6 text-white">
         <h2>Accreditation</h2>
       </div>
       <div class="col-md-6">
        <ol class="breadcrumb justify-content-md-end bg-transparent">  
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li> 
          <li class="breadcrumb-item">
            Accreditation
          </li>
        </ol>
       </div>
     </div>
    </div> 
  </div>
  
  
   <section class="padding-y-100 border-bottom">
    <div class="container">
    <div class="row align-items-center">


        <div class="col-lg-12">
            <h2>
                <span class="text-primary">Accreditation</span>
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
            <p class="mb-5">
              <b>Gracias Online Spanish Language School</b> is a partner of the renowned Hispana Spanish Language School based in Lima, Peru, language school that belongs to the Hispana Idiomas Group. From its inception in 2004 our language school has aimed to meet the highest standards in teaching Spanish as a second language with a focus on Latin-American culture and to promote language travel to South America among its international students.
            </p>
            
        </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
    <div class="row isotop-filter">
      <div class="isotope-item col-md-6 col-lg-6 marginTop-30 top-cources">
       <div class="card hover:parent shadow-v1">
          <div class="text-center">
            <img class="card-img-top col-md-4" src="assets/img/marca-peru.png" alt="">
          </div>
          <div class="card-body">
            <h4>
              Peru Country Brand License Holder
            </h4>
            <p>
              Our company is a proud holder of the Peru Country Brand seal granted by Peruvian Ministry of Trade and Tourism after a rigorous quality evaluation process that takes into account best business practices, customer service and the promotion of exports of services.
            </p>
          </div>
        </div>
      </div>
     
      <div class="isotope-item col-md-6 col-lg-6 marginTop-30 free-courses">
        <div class="card hover:parent shadow-v1">
          <div class="text-center">
            <img class="card-img-top col-md-4" src="assets/img/creatividad-empresarial.png" alt="">
          </div>
          <div class="card-body">
            <h4>
              "Entrepreneurial Creativity Award" 
            </h4>
            <p>
              Our Spanish language immersion and cultural program has been recognized as finalist in the prestigious contest "Entrepreneurial Creativity" where top public and private organizations in Peru participate. Our company’s language and culture program has been a finalist in the years 2011 and 2012 in the categories of Culture and Tourism respectively for providing the best language immersion experience, showcasing Latin American Spanish and its sociocultural references in its study materials as well as presenting Lima city as a great tourism language destination.
            </p>
          </div>
          
        </div>
      </div>
     
     
      
     
      
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>
   
