<section class="content-body-section">
        <h2>IPD  &gt; Panel de mantenimiento</h2>
	<h3><span>PANEL DE MANTENIMIENTO</span> </h3>
        
        <?php
            $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'');
            $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'mm-active');
            
            $data['menu']=$setMenu;
            echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
        ?>
        
        <nav class="submenu-matenimiento" >            
            <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'nuevo'),"",TRUE);?>"  class="boton7">Añadir nuevo equipo</a>
            <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'listaequipos'),"",TRUE);?>"  class="boton7">Lista de equipos</a>
            <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'update','id'=>$this->idEquipo),"",TRUE);?>"  class="boton7">Modificar equipo</a>
        </nav>
        
        <div class="content-msg">
                <?php if((int)$this->existe==1): ?>
                        <div class="note note-red" id="msg-form">                        
                                <b>Nota</b>: Tu equipo ya se encuentra participando en este evento, elija un nuevo evento.
                        </div>
                <?php elseif((int)$this->existe==2): ?>
                        <div class="note note-green" id="msg-form">                        
                                <b>Nota</b>: Tu equipo ahora está participando en un evento.
                        </div>
                <?php elseif((int)$this->existe==3): ?>
                        <div class="note note-yellow" id="msg-form">                        
                                <b>Nota</b>: Tu equipo ya no participa en un evento,  puedes participar nuevamente si está vigente.
                        </div>
                <?php else: ?>        
                           <div class="note note-blue" id="msg-form">                        
                                    <b>Nota</b>: Tu equipo puede participar en varios eventos. Seleccione el evento y dale participar. 					
                            </div> 
                <?php endif; ?>
                    
        </div>
        
        <h3><?php echo $this->equipo['nombre'];?></h3>
        
        <form id="frmAsignarEquipo" name="frmAsignarEquipo" action="<?php echo $this->baseUrl();?>/usuarios/equipos/addasignarequipo" method="POST">
            <?php 
                $propertiesEventos= array('id' => 'eventos');
                echo $this -> frmAsignarEquipo -> eventos -> setAttribs($propertiesEventos)-> renderViewHelper();
            ?>
            
            <?php 
                $propertiesEquipos= array('id' => 'equipos');
                echo $this -> frmAsignarEquipo -> equipos -> setAttribs($propertiesEquipos)-> renderViewHelper();
            ?>
            
            <?php 
                $propertiesBtnAgregar= array('id' => 'btnAgregar');
                echo $this -> frmAsignarEquipo -> btnAgregar -> setAttribs($propertiesBtnAgregar)-> renderViewHelper();
            ?>
        </form>
                
        <div id="grilla" class="gilla-3">					
                <dl class="titulos">
                        <dt class="ancho-1">N</dt>
                        <dt class="ancho-2">Nombre de Evento</dt>
                        <dt class="ancho-3">Estado</dt>
                        <dt class="ancho-3">Fecha</dt>
                        <dt class="ancho-3">Hora</dt>
                        <dt class="ancho-3">Opcion</dt>
                </dl>
                <?php $num=1;$count=1;?> 
                <?php foreach ($this->participa as $row):?>
                        <?php if($num==3){$num=1;}?>
                        <dl class="contenido <?php echo 'fila-'.$num;?>">
                                <dd class="ancho-1"><?php echo $count;?></dd>
                                <dd class="ancho-2"><?php echo $row['nombre_evento'];?></dd>
                                <dd class="ancho-3">Activo</dd>
                                <dd class="ancho-3"><?php echo $row['fecha']; ?></dd>
                                <dd class="ancho-3"><?php echo $row['hora']; ?></dd>
                                <dd class="ancho-3">
                                        <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos', 'action'=>'deleteasignarequipos', 'id'=>$row['id']),'',true).'/equipo/'.$row['id_equipos'];?>" class="delete" title="Eliminar Evento"></a>
                                </dd>
                        </dl>
                        <?php $num=$num+1;?>
                        <?php $count=$count+1;?>
                <?php endforeach;?>
        </div>
        
        <?php
            $valores['parametros']='';                                    
            $valores['urlPagination']=$this->baseUrl().'/equipos/listaequipos';

            //echo $this->paginationControl($this->participa,'Sliding','paginator/paguinar.phtml',$valores);
        ?>
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>