<section class="content-evento">
		<h2>Becas IPD &gt; Equipo</h2>
		<h1>EQUIPOS <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'index'),'',true);?>" class="boton1 right">Regresar</a></h1>
		<div class="content-image-evento">
			<img alt="" src="<?php echo $this->baseUrl();?>/static/images/equipos.jpg">									
		</div>
                <h3><span><?php echo strtoupper($this->equipo['nombre']);?></span> </h3>
		<div class="content-des-evento">
				<div class="evento-des">
						<div class="des-sedes">
								<p>
									<b>Deporte</b>
									<span>: <?php echo $this->equipo['deporte'];?></span>
									<b>Teléfono</b>
									<span>: <?php echo $this->equipo['telefono'];?></span>
								</p>
								<p>
									<b>Disciplina</b>
									<span>: <?php echo $this->equipo['disciplina'];?></span>
									<b>Email</b>
									<span>: <?php echo $this->equipo['email'];?></span>
								</p>
								<p>
									<b>Dirección Postal</b>
									<span>: <?php echo $this->equipo['direccion_postal'];?></span>
								</p>
								<p>
									<b>Departamento</b>
									<span>: <?php echo $this->equipo['departamento'];?></span>
								</p>
								<p>
									<b>Provincia</b>
									<span>: <?php echo $this->equipo['provincia'];?></span>															
								</p>
								<p>
									<b>Distrito</b>
									<span>: <?php echo $this->equipo['distrito'];?></span>															
								</p>
						</div>
				</div>
				
				<?php 
                                    $dataCompartir['lado']='right';
                                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                                ?>
				<span>Comparte:</span>
		</div>
		
		<!--inicio galeria-->
		<div class="content-galeria-evento" tipo="fotos">
				<div>
						<nav>
								<a href="#" class="m-fotos me-activo-fotos">FOTOS</a>
								<a href="#" class="m-videos ">VIDEOS</a>								
								<a href="#" class="m-deportistas ">DEPORTISTAS</a>
						</nav>						
				</div>
				
				<section class="section-galeria" vista="1">
						
						<!--inicio fotos-->
						<section class="content-galeria-fotos ">
                                                                <?php $numFotos=1; ?>
                                                                <?php foreach ($this->fotos as $row):?>
                                                                                <article id="sgag-<?php echo $numFotos;?>" class="g-fotos <?php if($numFotos==1): echo 'mostrar';  endif; ?>">
                                                                                                <img alt="" src="<?php echo $this->rutaFotos.$row['nombre']; ?>">
                                                                                                
                                                                                                <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'foto','id'=>$this->equipo['id']),'',true);?>"></a>
                                                                                </article>
                                                                                <?php $numFotos+=1; ?>
                                                                <?php endforeach; ?>
								
								<section class="content-menu-galeria-fotos">
                                                                                <?php $numFotos=1; ?>
                                                                                <?php foreach ($this->fotos as $row):?>                                                                                            
                                                                                            <article id="sgagm-<?php echo $numFotos;?>" valor="<?php echo $numFotos;?>" class="mostrar">															
                                                                                                            <img alt="" src="<?php echo $this->rutaFotos.$row['nombre'];?>">
                                                                                                            <div class="<?php if($numFotos==1): echo 'fondo-rojo'; else: echo 'fondo-blanco'; endif; ?>">

                                                                                                            </div>
                                                                                                            <a href="#"></a>
                                                                                            </article>
                                                                                            <?php $numFotos+=1; ?>    
                                                                                <?php endforeach; ?>
								</section>
						</section>
						<!--fin fotos-->
						
						<!--inicio videos-->
						<section class="content-galeria-videos ocultar">
                                                                <?php $numVideos=1; ?>
                                                                <?php foreach ($this->videos as $row):?>
                                                                                <article id="sgav-<?php echo $numVideos;?>" class="g-videos <?php if($numFotos==1): echo 'mostrar';  endif; ?>">
                                                                                                <div id="video-<?php echo $numVideos;?>"></div>
                                                                                                <p class="img-grande-des">
                                                                                                    Puede también ver el video solo en:<br><br> 
                                                                                                    <a class="boton4 left" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'video','id'=>$row['id'],'ide'=>$this->equipo['id']));?>">Ver video solo</a>
                                                                                                </p>
                                                                                                <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'foto'));?>"></a>
                                                                                </article>
                                                                                <?php $numVideos+=1; ?>
                                                                <?php endforeach; ?>
                                                    
								<section class="content-menu-galeria-videos">
                                                                                <?php $numVideos=1; ?>
                                                                                <?php foreach ($this->videos as $row):?>
                                                                                                <article id="sgavm-<?php echo $numVideos;?>" valor="<?php echo $numVideos; ?>">
                                                                                                                <?php 
                                                                                                                    $idYoutube=explode('=',$row['nombre']);
                                                                                                                ?>
                                                                                                                <img alt="" src="http://img.youtube.com/vi/<?php echo $idYoutube[1]; ?>/mqdefault.jpg">
                                                                                                                <div class="<?php if($numVideos==1): echo 'fondo-rojo'; else: echo 'fondo-blanco'; endif; ?>">

                                                                                                                </div>
                                                                                                                <a href="#"></a>                                                                                                                
                                                                                                </article>
                                                                                                <?php $numVideos+=1; ?>
                                                                                <?php endforeach; ?>
								</section>
						</section>
						<!--fin videos-->
																														
						<section class="content-galeria-deportistas ocultar">
								<h4>LISTADO DE DEPORTISTAS:</h4>
								<ul>
                                                                        <?php foreach ($this->deportistas as $row):?>
                                                                                        <li>
                                                                                                <a href="#"><?php echo $row['nombres']; ?></a>
                                                                                        </li>
                                                                        <?php endforeach; ?>
								</ul>
						</section>						
				</section>
		</div>
		<!--fin galeria-->
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>