<section class="content-body-section">
		<h2>IPD &gt; Equipos &gt; Fotos</h2>																
		<h3><span><?php echo strtoupper($this->equipo['nombre']);?> (FOTOS)</span> <a class="boton1 right" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'detalle','id'=>(int)$this->equipo['id']),"",TRUE);?>">Regresar</a></h3>
		
                <?php 
                    $dataCompartir['lado']='right';
                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                ?>
                
		<section class="content-galeria-sola" vista="1" count="<?php echo $this->countFotos;?>">
				<section>
						<a href="#" class="gs-siguiente"></a>
						<a href="#" class="gs-anterior"></a>
                                                
                                                <?php $num=1; ?>
						<?php foreach ($this->equiposFotos as $row): ?>
                                                <article class="animacion-<?php echo $num; if($num==1): echo ' mostrar'; endif; ?> ">
                                                                <img src="<?php echo $this->rutaFotos.$row['nombre'];?>" alt="">
                                                        </article>
                                                        <?php $num+=1; ?>
                                                <?php endforeach; ?>                                                
                                                
				</section>
				<div>
						<a id="indica-foto" href="#" class="boton2">FOTO 1 DE <?php echo $this->countFotos;?></a>
                                                <!-- 
						<p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor</p>
                                                -->
				</div>
		</section>										
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>