<section class="bolsa-trabajo-section">
		<h2>IPD &gt; Lista de equipos</h2>
		<h1>EQUIPOS</h1>
		<div class="content-busqueda">
			<form  id="frmEquipoBuscar" method="POST" action="<?php echo $this->baseUrl();?>/usuarios/equipos/index" >
				<h3>CRITERIOS DE BUSQUEDA</h3>
				<dl>
					<dt>
						<span>Tipo Disciplina:</span>												
					</dt>
					<dd>
                                                
                                                <?php 
                                                        $propertiesDisciplina= array('id' => 'disciplina');
                                                        echo $this -> frmEquiposBuscar -> disciplina -> setAttribs($propertiesDisciplina) -> renderViewHelper();
                                                ?>
						
						<input type="submit" id="btnBuscar" name="btnBuscar" value=""/>
					</dd>
				</dl>
														
			</form>
		</div>
		
		<h4>
                        <!-- 
			Resultados de la búsqueda: Informática/Telecomunicaciones <span>1 de 50</span>
                        -->
		</h4>
		
		<section id="content-avisos">
                                <?php foreach ($this->equipos as $row):?>
                                            <article>												
                                                            <div class="ca-foto">
                                                                    
                                                                    <?php if(!empty($row['foto_inicio'])):?>
                                                                            <img alt="" src="<?php echo $this->rutaFotos.$row['foto_inicio'];?>">
                                                                    <?php else:?>
                                                                            <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                                                    <?php endif;?>
                                                            </div>
                                                            <div class="ca-descripcion">
                                                                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'detalle','id'=>$row['id']),'',true);?>"><?php echo strtoupper($row['nombre']) ?></a>
                                                            </div>

                                            </article>
                                <?php endforeach; ?>
                                
                                <?php
                                    $valores['parametros']='/buscar/'.$this->parametros;
                                    $valores['urlPagination']=$this->baseUrl().'/equipos/index';
                                    
                                    echo $this->paginationControl($this->equipos,'Sliding','paginator/paguinar.phtml',$valores);
                                ?>

		</section>
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>