<section class="content-body-section">
        <h2>IPD  &gt; Panel de mantenimiento</h2>
	<h3><span>PANEL DE MANTENIMIENTO</span> </h3>
        
        <?php            
            
            $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'');
            $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'mm-active');
            
            $data['menu']=$setMenu;
            echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
        ?>
        
        <nav class="submenu-matenimiento" >            
            <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'nuevo'),"",TRUE);?>"  class="boton7">Añadir nuevo equipo</a>
        </nav>
        
        <?php if((int)$this->existe==2): ?>
                <div class="note note-yellow" id="msg-form">                        
                        <b>Nota</b>: Tu equipo ha sido eliminado y ya no puedes participar en los eventos.
                </div>
        <?php else: ?>        
                   <div class="note note-blue" id="msg-form">                        
                            <b>Nota</b>: Puedes editar, eliminar y hacer que participe tu equipo en los eventos <b>(opciones).</b>
                    </div> 
        <?php endif; ?>
        
        <div id="grilla" class="gilla-2">					
                <dl class="titulos">
                        <dt class="ancho-1">N</dt>
                        <dt class="ancho-2">Nombre del Equipo</dt>
                        <dt class="ancho-2">Deporte</dt>
                        <dt class="ancho-2">Disciplina</dt>
                        <dt class="ancho-3">Opciones</dt>
                </dl>
                <?php $num=1;$count=1;?> 
                <?php foreach ($this->equipos as $row):?>
                        <?php if($num==3){$num=1;}?>
                        <dl class="contenido <?php echo 'fila-'.$num;?>">
                                <dd class="ancho-1"><?php echo $count;?></dd>
                                <dd class="ancho-2"><?php echo $row['nombre'];?></dd>
                                <dd class="ancho-2"><?php echo $row['deporte'];?></dd>
                                <dd class="ancho-2"><?php echo $row['disciplina'];?></dd>
                                <dd class="ancho-3">
                                        <a href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'asignarequipo', 'id'=>$row['id']));?>" class="add" title="Agregar  a evento"></a>
                                        <a  href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'update', 'id'=>$row['id']));?>" class="edit" title="Editar Equipo"></a>
                                        <a  href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'borrar', 'id'=>$row['id'])).'/existe/2';?>" class="delete" title="Eliminar Equipo"></a>
                                </dd>
                        </dl>
                        <?php $num=$num+1;?>
                        <?php $count=$count+1;?>
                <?php endforeach;?>
        </div>
        
        <?php
            $valores['parametros']='';                                    
            $valores['urlPagination']=$this->baseUrl().'/calendario/listaeventos';

            echo $this->paginationControl($this->equipos,'Sliding','paginator/paguinar.phtml',$valores);
        ?>
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>