<section class="content-evento">
		<h2>IPD  &gt; Panel de mantenimiento</h2>
		<h3><span>PANEL DE MANTENIMIENTO</span> </h3>
                
                <?php
                    
                    $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'');
                    $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'mm-active');
                    
                    $data['menu']=$setMenu;
                    echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
                ?>
                
                <nav class="submenu-matenimiento" >
                    <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'listaequipos'),"",TRUE);?>" class="boton7">Lista de Equipos</a>
                </nav>
                
                
		<div class="content-msg">
                        <div class="note note-blue" id="msg-form">                        
                                <b>Nota</b>: Ingrese sus datos, todos los campos marcados con <span class="campo-obligatorio">(*)</span> son obligatorios. 					
                        </div>    
                </div>
                <form id="frmEquipo" name="frmEquipo" action="<?php echo $this->baseUrl(); ?>/usuarios/equipos/nuevo" data-source="<?php echo $this->baseUrl(); ?>/usuarios/equipos/nuevo" method="POST" enctype="multipart/form-data">
                                <div class="content-ru">
                                                <dl class="ru-titulos">
                                                        <dt><span>(*)</span>Nombre de Equipo:</dt>
                                                        <dt><span>(*)</span>Deporte:</dt>
                                                        <dt><span>(*)</span>Disciplina:</dt>
                                                        <dt><span></span>Direccion postal:</dt>											
                                                        <dt><span>(*)</span>Departamento:</dt>
                                                        <dt><span>(*)</span>Provincia:</dt>
                                                        <dt><span>(*)</span>Distrito:</dt>
                                                        <dt><span>(*)</span>Telefono:</dt>
                                                        <dt><span>(*)</span>Email:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>
                                                                <?php 
                                                                    $propertiesNombre = array('id' => 'txtNombre');
                                                                    echo $this -> frmEquipoDeportivo -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesDeporte= array('id' => 'txtDeporte');
                                                                    echo $this -> frmEquipoDeportivo -> txtDeporte -> setAttribs($propertiesDeporte) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesDisciplina= array('id' => 'sltDisciplina');
                                                                    echo $this -> frmEquipoDeportivo -> sltDisciplina -> setAttribs($propertiesDisciplina) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>                                                                
                                                                <?php 
                                                                    $propertiesDireccion= array('id' => 'txtDireccionpostal');
                                                                    echo $this -> frmEquipoDeportivo -> txtDireccionpostal -> setAttribs($propertiesDireccion) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $url=$this->baseUrl().'/calendario/getprovincias';
                                                                    $propertiesDepartamentos= array('id' => 'departamento','data-source'=>$url);
                                                                    echo $this -> frmEquipoDeportivo -> departamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $url=$this->baseUrl().'/calendario/getdistritos';
                                                                    $propertiesProvincias= array('id' => 'provincia','data-source'=>$url);
                                                                    echo $this -> frmEquipoDeportivo -> provincia -> setAttribs($propertiesProvincias) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>											
                                                        <dd>
                                                                
                                                                <?php 
                                                                    $propertiesDistrito= array('id' => 'distrito');
                                                                    echo $this -> frmEquipoDeportivo -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();                            
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesTelefono= array('id' => 'txtTelefono');
                                                                    echo $this -> frmEquipoDeportivo -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();                            
                                                                ?>
                                                                
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesEmail= array('id' => 'txtEmail');
                                                                    echo $this -> frmEquipoDeportivo -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();                            
                                                                ?>
                                                                
                                                        </dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-nombre">Ingrese el nombre del Equipo.</p></dd>
                                                        <dd><p id="error-deporte">Falta el deporte.</p></dd>
                                                        <dd><p id="error-disciplina">Falta escribir la disciplina.</p></dd>
                                                        <dd><p id="error-direccionPostal">Falta la dirección postal.</p></dd>
                                                        <dd><p id="error-departamento">Falta elegir el departamento.</p></dd>
                                                        <dd><p id="error-provincia">Falta elegir la provincia.</p></dd>
                                                        <dd><p id="error-distrito">Falta elegir el distrito.</p></dd>											
                                                        <dd><p id="error-telefono">Falta escribir el Teléfono.</p></dd>
                                                        <dd><p id="error-email">Falta escribir el email.</p></dd>
                                                </dl>
                                </div>
                                
                                <div class="ru-linea"></div>

                                <div class="content-ru">
                                                <p>Se puede subir hasta 3 fotos, con un tamaño de (520x370) o similares, solo acepta las extensiones (JPG, JPEG, PNG, BMP), hasta un peso máximo de (1MB).</p>
                                                <dl class="ru-titulos">
                                                        <dt>Fotos:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>    
                                                                <a id="subir-fotos" href="#" class="boton1 left">Subir fotos</a>
                                                        </dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-fotos">Falta subir una foto.</p></dd>
                                                </dl>

                                                <div id="content-sf" class="content-vf" tipo="fotos">
                                                            <?php 
                                                                $propertiesGetFotos= array('id' => 'getFotos');
                                                                echo $this -> frmEquipoDeportivo -> getFotos -> setAttribs($propertiesGetFotos) -> renderViewHelper();
                                                            ?>
                                                </div>
                                </div>

                                <div class="ru-linea"></div>

                                <div class="content-ru">
                                                <p>Mostrará solo videos de YouTube hasta un máximo de 3.</p>
                                                <dl class="ru-titulos">
                                                        <dt>Videos:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>
                                                            
                                                            <input type="text" id="txtVideos" name="txtVideos" placeholder="https://www.youtube.com/">
                                                        </dd>
                                                        <dd><a id="subir-videos" href="#" class="boton1 left">Agregar</a></dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-videos">Falta subir un video.</p></dd>											
                                                </dl>
                                                <div id="content-sv" class="content-vf" tipo='videos'>
                                                     	   <?php 
                                                                $propertiesGetVideos= array('id' => 'getVideos');
                                                                echo $this -> frmEquipoDeportivo -> getVideos -> setAttribs($propertiesGetVideos) -> renderViewHelper();
                                                            ?>           
                                                </div>
                                </div>
                                <div class="ru-linea"></div>
                                <input type="submit" name="btnEquipo" id="btnEquipo" value="Registrar" class="boton1">	
                </form>
		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>