<section class="content-body-section">
		<h2>IPD &gt; Calendario de actividades &gt; Videos</h2>
		<h3><span><?php echo strtoupper($this->nombre);?> (VIDEOS)</span> <a class="boton1 right" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'detalle','id'=>(int)$this->id),"",TRUE);?>">Regresar</a></h3>
		
                <?php 
                    $dataCompartir['lado']='right';
                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                ?>								
		
		<section class="content-vf-solo">
				<div class="cvs-vf">
                                        <div class="yturl"><?php echo $this->video['nombre'];?></div>
				</div>
				<div class="cvs-des">
					<p>
                                            
					</p>
				</div>
				
		</section>
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>