<section class="pt-5 paddingBottom-100 bg-light-v2">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="accordion"> 
					<div class="card card-body accordion-item marginTop-30">
						<a href="#acc1" class="accordion__title h6 mb-0" data-toggle="collapse" aria-expanded="true">
						   Filter by Category
						   <span class="accordion__icon float-right small mx-2 mt-1">
							<i class="ti-angle-down"></i>
							<i class="ti-angle-up"></i>
						  </span>
						</a>
						<div id="acc1" class="collapse show" data-parent="#accordion">
						   <div class="mt-4">
							 <p class="mb-2">
							  <label class="ec-checkbox">
								<input type="checkbox" name="checkbox">
								<span class="ec-checkbox__control"></span>
								<span class="ec-checkbox__lebel">All Categories</span>
							  </label>
							 </p>
						    </div>
						</div>
					</div> <!-- END accordion-item--> 
				</div> <!-- END accordion-->
			</div> <!-- END col-md-3 -->
      
      <div class="col-md-9">
        <div class="row">
	
		<?php if(count($this->noticias)):?>
			<?php foreach($this->noticias as $noticia) : ?>
				<div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn">
					<div class="card text-center height-100p shadow-v1">
					    <div class="card-header">
							<?php if(!empty($noticia['pro_id'])):?>
									<img class="w-100" alt="" src="<?php echo $this->rutaFotos.'pro_'.$noticia['pro_id'].'.jpg';?>">
							<?php else:?>
									<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
							<?php endif;?>
						</div>
						<div class="card-body px-3 py-0">
						   <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'shop','action'=>'detail','id'=>$noticia['pro_id']),'',true);?>" class="h6"><?php echo $noticia['pro_nombre']; ?></a>
						   <select class="chosen-select ec-select my_select_box" tabindex="5"onchange="changePrice(this)">
							<option value="10" price="150.OO">10-Hour Lessons</option>
							<option value="20" price="280.00">20-Hour Lessons</option>
							<option value="40" price="560.00">40-Hour Lessons</option>
							<option value="60" price="780.00">60-Hour Lessons</option>
							<option value="1" price="18.00">1-Hour Lessons</option>
						  </select>
						  <p class="mb-0 font-weight-semiBold">
							<span class="text-primary" data-type="price">$ <?php echo number_format($noticia['pro_precio'],2); ?></span>
						  </p>
						   <div class="d-flex align-items-center justify-content-between">
						   </div>
						</div>
						<div class="card-footer border-top-0">
							<form action="" class="form" data-cesta-feira-form>
							  <input type="hidden" value="General Spanish Course" name="product_name" data-cesta-feira-attribute="">
							  <input type="hidden" value="150.00" name="price" data-cesta-feira-attribute>
							  <input type="hidden" value="general-spanish" data-cesta-feira-item-id />
							  <input type="hidden" value="10-Hour Lessons" name="description" data-cesta-feira-attribute>
							  <button class="btn btn-outline-primary mx-1" onclick="buy_now(this)">Buy Now</button>
							  <button class="btn btn-outline-light mx-1" 
								type="submit"        
								data-container="body"
								data-toggle="tooltip"
								data-placement="top"
								data-skin="light"
								title="Add to cart">
								<i class="ti-shopping-cart"></i>
							  </button>
							</form>
						</div>
					</div>
				</div>

			<?php endforeach; ?>

			<?php
				//$valores['parametros']='/buscar/'.$this->parametros;
				//$valores['urlPagination']=$this->baseUrl().'/noticias/index';

				//echo $this->paginationControl($this->noticias,'Sliding','paginator/paguinar.phtml',$valores);
			?>
		<?php else:?>
					<dl><dd>No hay datos</dd></dl>
		<?php endif;?>
                  
          
        </div> <!-- END row-->
      </div> <!-- END col-md-9-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>