<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    
    <div class="carousel-inner">
     
      <div class="carousel-item height-90vh padding-y-80 active">
       <div class="bg-absolute" data-dark-overlay="5" style="background:url(assets/img/1920x800/2-2.jpg) no-repeat"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-9 mx-auto text-white text-center">
                <h2 class="display-md-4 font-weight-bold text-primary wow slideInUp">
                  Gracias Online
                </h2>
                <h1 class="display-md-3 font-weight-bold text-white wow slideInUp">
                  Spanish School
                </h1>
                <p class="lead wow slideInUp">
                  Learn Spanish Online 1 on 1 with a Live Spanish Tutor
                </p>
                <!--<a href="" class="btn btn-primary btn-lg mt-3 wow slideInUp">Read More</a>-->
              </div>
            </div>
          </div>
      </div>
     
      <div class="carousel-item height-90vh padding-y-80">
       <div class="bg-absolute" data-dark-overlay="5" style="background:url(assets/img/1920x800/2.jpg) no-repeat"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-9 mx-auto text-white text-center">
                <h2 class="display-md-4 font-weight-bold text-primary wow slideInUp">
                  Gracias Online
                </h2>
                <h1 class="display-md-3 font-weight-bold text-white wow slideInUp">
                  Spanish School
                </h1>
                <p class="lead wow slideInUp">
                  Learn Spanish Online 1 on 1 with a Live Spanish Tutor
                </p>
                <!--<a href="" class="btn btn-primary btn-lg mt-3 wow slideInUp">Read More</a>-->
              </div>
            </div>
          </div>
      </div>
  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <i class="ti-angle-left iconbox bg-black-0_5 hover:primary"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <i class="ti-angle-right iconbox bg-black-0_5 hover:primary"></i>
    </a>
  </div>
  
  <section class="padding-y-10 bg-light-v5">
	  <div class="container">
		<div class="row">
		  <div class="col-12">
			<h2 class="paddingTop-20 paddingBottom-20">Learn from Scratch or Improve your Spanish skills no Matter Where You are in the World!</h2>
			<ul class="list-unstyled list-style-icon list-icon-check-circle">
			  <li>Get a Live Native Spanish Speaker tutor</li>
			  <li>Certified, Experienced and qualified teaching staff</li>
			  <li>Spanish Classes on Skype from your mobile, tablet or personal computer.</li>
			  <li>Organized Classes and Flexible Schedules </li>        	            
			  <li>Learn Your Way and at Your Convenience</li>
			  <li>Your Goals are ours:  Study or Work-Related, Traveling, Family Relationships, Heritage Language </li>
			  <li> Easy payment online with Credit Card, Debit Card, or PayPal</li>

			</ul>
			
		  </div>
		</div><!-- END row-->
	  </div>
	</section>
	<section class="paddingBottom-10">
  <div class="container">
    
    
    <div class="row text-center md-5">
      <div class="col-md-3 mt-5 wow slideInUp" data-wow-delay=".1s">
        <div class="card p-3">
          <i class="ti-layers display-3 mt-3 text-primary"></i>
          <h4 class="my-4">
            Choose your Preferred Course	
          </h4>
          <p style="display: none;">
            Investig ationes demons trave wanrunt lectores legere liushg kequd leunt saeph claritas.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-5 wow slideInUp" data-wow-delay=".2s">
        <div class="card p-3">
          <i class="ti-tag display-3 mt-3 text-primary"></i>
          <h4 class="my-4">
            Register
          </h4>
          <p style="display: none;">
            Investig ationes demons trave wanrunt lectores legere liushg kequd leunt saeph claritas.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="card p-3">
          <i class="ti-time display-3 mt-3 text-primary"></i>
          <h4 class="my-4">
            Choose Date and Time
          </h4>
          <p style="display: none;">
            Investig ationes demons trave wanrunt lectores legere liushg kequd leunt saeph claritas.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="card p-3">
          <i class="ti-target display-3 mt-3 text-primary"></i>
          <h4 class="my-4">
            Connect
          </h4>
          <p style="display: none;">
            Investig ationes demons trave wanrunt lectores legere liushg kequd leunt saeph claritas.
          </p>
        </div>
      </div>
    </div> <!-- END row-->
    
    
    
  </div> <!-- END container-->
</section>   
<!-- END section-->
  
  
  
   
<section class="padding-y-100 bg-light-v5"> 
  <div class="container">
    <div class="row">
     <div class="col-12 text-center mb-5">
        <h2 class="mb-4">
          Spanish Online Courses
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
      
      <div class="col-12" style="display: none;">
        <div class="d-md-flex justify-content-between bg-white rounded shadow-v1 p-4">
          <ul class="nav nav-pills nav-isotop-filter align-items-center my-2">
            <a class="nav-link active" href="#" data-filter="*">All</a>
            <a class="nav-link" href="#" data-filter=".free-courses">Top Paid Courses</a>
            <a class="nav-link" href="#" data-filter=".start-soon">Free Courses</a>
            <a class="nav-link" href="#" data-filter=".free-courses">Starting Soon</a>
          </ul>

          <a href="all-cources.html" class="btn btn-outline-primary my-2">
            All Courcess
          </a>
        </div>
      </div> 
    </div> <!-- END row-->
    
    <div class="row isotop-filter">
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 top-cources">
       <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/1.jpg" alt="">
          <div class="card-body">
            <h4>
              <a href="general-spanish.html">General Spanish Course</a>
            </h4>
            <p>
              A Structured Language Program that guarantees results from the first class. Speaking, Listening, Reading, Writing and Cultural Awareness 
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
             $150
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="general-spanish.html" class="btn btn-primary btn-sm left-20 rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
     
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 free-courses">
        <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/2.jpg" alt="">
          <div class="card-body">
            <h4>
              <a href="conversational-spanish.html">Conversational Spanish </a>
            </h4>
            <p>
              Increase Your Conversational Fluency in Spanish with our Great Native-Spanish Tutors. <b style="color:white">Fluency in Spanish with our Great</b>
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
             US$150
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="conversational-spanish.html" class="btn btn-primary btn-sm left-20 rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
     
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 start-soon">
        <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/3.jpg" alt="">
          <div class="card-body">
            <h4>
             <a href="spanish-for-travelers.html">Spanish For Travelers</a>
            </h4>
            <p>
              Learn the Spanish you Need to Travel with Confidence around the Spanish-speaking world <b style="color:white">Spanish For Travelers</b>
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
             $150
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="spanish-for-travelers.html" class="btn btn-primary btn-sm left-20 rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
     
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 top-cources">
        <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/5.jpg" alt="">
          <div class="card-body">
            <h4>
              <a href="business-spanish.html">Business Spanish </a>
            </h4>
            <p>
              The Right Course for Busy People Who Want to do Business with Spanish Speaking Countries
			  <b style="color:white">Business Spanish The Right Course for Busy People Who Want to do 
			  Business with Spanish Speaking Countries Business Spanish</b>
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
             $180
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="business-spanish.html" class="btn btn-primary btn-sm left-20 rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
     
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 start-soon">
        <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/6.jpg" alt="">
          <div class="card-body">
            <h4>
              <a href="dele-siele.html">DELE / SIELE Exam Preparation</a>
            </h4>
            <p>
              Are you determined to pass the DELE or SIELE exam this year? Our preparation course is specifically designed to make you familiar with the content and structure of these official Exams
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
            $180
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="dele-siele.html" class="btn btn-primary btn-sm left-20 rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
      
      <div class="isotope-item col-md-6 col-lg-4 marginTop-30 free-courses">
       <div class="card hover:parent shadow-v1">
          <img class="card-img-top" src="assets/img/360x220/4.jpg" alt="">
          <div class="card-body">
            <h4>
              <a href="spanish-your-way.html">Spanish Your Way</a>
            </h4>
            <p>
              Custom-designed course to meet your individual needs and objectives
			  <b style="color:white">Spanish Your Way Custom-designed course to meet 
			  your individual needs and objectives Spanish Your Way Your Way Custom-designed course to meet 
			  your individual</b>
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top position-relative p-4">
           <span class="d-inline-block bg-primary text-white px-4 py-1 rounded-pill">
            $180
           </span>
            <!-- <div class="group">
              <button class="btn btn-opacity-primary iconbox iconbox-sm mr-2">
                <i class="ti-heart"></i>
              </button>
              <button class="btn btn-opacity-primary iconbox iconbox-sm">
                <i class="ti-share"></i>
              </button>
            </div> -->
            <a href="#" class="btn btn-primary btn-sm left-20  rounded-pill">
              Buy now
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
    
  </div> <!-- END container-->
</section>   <!-- END section-->
    
    
<section class="paddingTop-40 paddingBottom-20">
  <div class="container">
    <!--
    <div class="row">
        <div class="col-12 text-center">
          <h2>Experienced Teachers</h2>
      <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
        <p class="mt-5">
          Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
        </p>
      </div>

    <div class="col-12 text-center">
          <h2>
          Learn Your Way and At Your Convenience
      </h2>
      <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
          <p class="mt-5">
        Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
      </p>
      </div>


    <div class="col-12 text-center">
          <h2>
          Get Results
      </h2>
      <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
          <p class="mt-5">
        Investig ationes demons travg vunt lectores legere lyrus quod legunt saepius claritas est.
      </p>
      </div>


    <div class="col-12 text-center">
          <h2>
          More than 16 Years of Exclusively Teaching Spanish
      </h2>
      <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
          <p class="mt-5">
        Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
      </p>
      </div>


      <div class="col-12 text-center">
          <h2>
          Study Abroad Option
      </h2>
      <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
          <p class="mt-5">
        Investig ationes demons travg vunt lectores legere lyrus quod legunt saepius claritas est.
      </p>
      </div>
    -->


      
      <div class="col-12 text-center">
        <h2>
          Classes via Skype
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
        <p class="mt-5">
          You can use Skype from your mobile, table or personal computer.
        </p>
      </div>
    </div> <!-- END row-->  
  </div> <!-- END container-->
</section>   <!-- END section-->    
   
    
<section class="padding-y-20">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Learning at <em>Gracias</em> Online Spanish School
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".1s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-pencil-alt"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Experienced Teachers
            </h4>
            <p>
              Native Spanish Speakers with Broad Experience Teaching Spanish as a Second and Foreign Language. Friendly, dynamic, knowledgeable and highly motivated in the teaching of Spanish and the culture of Spanish-speaking countries
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".2s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-medall"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Learn Your Way and At Your Convenience
            </h4>
            <p>
              Perfectly suited to your Schedule and Academic needs, teachers will take into account your personal variables (age, native language, learning objectives, among others) in the learning and teaching process
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-flag-alt"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Get Results
            </h4>
            <p>
              Whether it is Study or Work-Related, Traveling around Spanish Speaking countries, Family Relationships, Heritage Language or other, tell us your objective and we will help you to make it happen
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".1s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-wand"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              + 16 Years Teaching Spanish Only
            </h4>
            <p>
              We only teach Spanish as a Second or Foreign Language and we know how to do it
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".2s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-book"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Study Abroad Option
            </h4>
            <p>
              Enjoy an Immersion Course at our Partner School in the vibrant city of Lima or the historical city of Cusco in Peru, stay with a local family or travel while you practice Spanish
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-5 wow slideInUp" data-wow-delay=".3s">
        <div class="media">
          <div class="iconbox iconbox-lg rounded font-size-24 bg-primary text-white mt-2">
            <i class="ti-ruler-pencil"></i>
          </div>
          <div class="media-body ml-4">
            <h4 class="mt-0 mb-3">
              Secure Payment
            </h4>
            <p>
              We guarantee that all transactions that you do at Gracias Spanish School will be 100% secure thanks to the protection the PayPal offers
            </p>
          </div>
        </div>
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 


   
   
   
   
<section class="padding-y-100 bg-cover bg-center jarallax" data-dark-overlay="7" style="background: url(assets/img/1920/550.jpg) no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center text-white">
        <p class="lead text-center">
          Start Speaking Spanish from the First Class
        </p>
        <h2 class="font-size-md-40 mb-4">
          Begin Learning or Improving
        </h2>
        <h2 class="font-size-md-40 mb-4">
          Your Spanish with
        </h2>
		<h2 class="font-size-md-40 mb-4"><span class="text-success"><em>Gracias</em> Online Spanish</span></h2> 
        <a href="shop.html" class="btn btn-success">Register Now</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
    
    
   
    
<section class="padding-y-100" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          How Gracias Online Can Improve your Spanish
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6 marginTop-30">
        <img class="w-100" src="assets/img/555x490/1.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="assets/img/262x230/1.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" data-fancybox="" class="position-absolute absolute-center iconbox iconbox-lg bg-white ">
              <i class="ti-control-play text-primary"></i>
            </a>
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="assets/img/262x230/2.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" data-fancybox="" class="position-absolute absolute-center iconbox iconbox-lg bg-white ">
              <i class="ti-control-play text-primary"></i>
            </a>
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="assets/img/262x230/3.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" data-fancybox="" class="position-absolute absolute-center iconbox iconbox-lg bg-white ">
              <i class="ti-control-play text-primary"></i>
            </a>
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="assets/img/262x230/4.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" data-fancybox="" class="position-absolute absolute-center iconbox iconbox-lg bg-white ">
              <i class="ti-control-play text-primary"></i>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 
    
    
   
    
<section class="padding-y-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Campus News
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="list-card align-items-center marginTop-30">
          <div class="col-md-4 px-md-0">
            <img class="w-100" src="assets/img/262x230/1.jpg" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 9, 2018</p>
            <a href="#" class="h5">
              Tips to Practice your Spanish Outside your Online Class wherever You Are
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class="col-md-4 px-md-0">
            <img class="w-100" src="assets/img/262x230/2.jpg" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 12, 2018</p>
            <a href="#" class="h5">
              What are the Differences Between Latin American Spanish and Spanish from Spain and Why is it important to know this
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class="col-md-4 px-md-0">
            <img class="w-100" src="assets/img/262x230/3.jpg" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 17, 2018</p>
            <a href="#" class="h5">
              The Demographics of Spanish Language in 2030
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 marginTop-30">
        <div class="card">
          <img class="card-img-top" src="assets/img/555x490/2.jpg" alt="">
          <div class="card-body">
           <p class="text-primary">
             20 July 2018
           </p>
           <h4>
            <a href="#">
              How to choose the type of Language Immersion Trip that is right for you
            </a>
           </h4>
           
            <a href="#" class="btn btn-outline-primary">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 

 
  <section class="padding-y-100" data-dark-overlay="6" style="background:url(assets/img/1920/550.jpg) no-repeat">
    <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 mr-auto my-2 text-white wow slideInUp">
        <h2>Get our <span class="text-primary">renowned 3-hour Spanish Boot Camp E-Tutorial</span></h2>
        <p class="lead">
          You will learn how to introduce yourself, interact at a basic level in a social environment, ask for directions, buy products and services, be able to order food in a restaurant, be able to get around in a money exchange office and more
        </p>
      </div>
      <div class="col-md-6 my-2 wow zoomIn">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text ti-user bg-white pl-4"></div>
        </div>
        <input type="text" placeholder="Enter your name" class="form-control py-3 pl-0 border-white" required>
        
      </div>
      <div class="input-group mt-5">
        <div class="input-group-prepend">
          <div class="input-group-text ti-email bg-white pl-4"></div>
        </div>
        <input type="text" placeholder="Enter your best e-mail" class="form-control py-3 pl-0 border-white" required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </div>
      </div>
      </div>
    </div> <!-- END row-->
    </div>
  </section>