<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var map;
    var infoWindow = null;
 
    function openInfoWindow(marker) {
        var markerLatLng = marker.getPosition();
        
        $('#mapaLatitud').attr('value',markerLatLng.lat());
        $('#mapaLongitud').attr('value',markerLatLng.lng());
        
    }

    $('#buscarSitio').live('click', function() {        
        // Obtenemos la dirección y la asignamos a una variable
        var address = $('#txtMapa').val();
        // Creamos el Objeto Geocoder
        var geocoder = new google.maps.Geocoder();
        // Hacemos la petición indicando la dirección e invocamos la función
        // geocodeResult enviando todo el resultado obtenido
        geocoder.geocode({ 'address': address}, geocodeResult);
        return false;
    });
    
    
    function geocodeResult(results, status) {
        // Verificamos el estatus
        if (status == 'OK') {
            // Si hay resultados encontrados, centramos y repintamos el mapa
            // esto para eliminar cualquier pin antes puesto
            var mapOptions = {
                zoom: 15,
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map($("#map").get(0), mapOptions);
            $('#mapaLatitud').attr('value',results[0].geometry.location.lat());
            $('#mapaLongitud').attr('value',results[0].geometry.location.lng());            
            // fitBounds acercará el mapa con el zoom adecuado de acuerdo a lo buscado
            map.fitBounds(results[0].geometry.viewport);
            // Dibujamos un marcador con la ubicación del primer resultado obtenido
            var markerOptions = { position: results[0].geometry.location,draggable: true,title:"Arrastre"}
            var marker = new google.maps.Marker(markerOptions);
                        
            marker.setMap(map);
            
            google.maps.event.addListener(marker, 'dragend', function(){ openInfoWindow(marker); });
            google.maps.event.addListener(marker, 'click', function(){ openInfoWindow(marker); });
        } else {
            // En caso de no haber resultados o que haya ocurrido un error
            // lanzamos un mensaje con el error
            alert("Geocoding no tuvo éxito debido a: " + status);
        }
    }
    
    
    //--------------------------------------------------------------
    //INICIALIZACION
    //--------------------------------------------------------------
    function initialize() {
        var myLatlng= new google.maps.LatLng(<?php echo $this->mapa['latitud'];?>,<?php echo $this->mapa['longitud'];?>);

        var mapOptions = {
          zoom: 15,
          center:myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
              
        map = new google.maps.Map(document.getElementById('map'),mapOptions);
                
        //marcador (draggable: true,//con esta propiedad se puede arrastrar el puntero)
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            draggable: true,
            title:"Arrastre"
        });
        
         google.maps.event.addListener(marker, 'dragend', function(){ openInfoWindow(marker); });
	 google.maps.event.addListener(marker, 'click', function(){ openInfoWindow(marker); });
        
    }

    google.maps.event.addDomListener(window, 'load', initialize);//inicializamos en el evento load
    //-------------------------------------------------------------

</script>