<!-- <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA2fVWuhckUdH80Q92RPQB8BR5fNRNVtgsMJmv40tSJg2ILcgS_BSXsotdg0Y13H7wHnjfH25mAcORcw" type="text/javascript"></script>-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAGAEGVZIXwwutieHF4QOL4RRpYoRN0FKJQ7RZd_AzeNEq2PLjZhR3W4-qrIA2KyJ0hRw-barmpbORVQ" type="text/javascript"></script>
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
<script type="text/javascript">
    //<![CDATA[

	// Inicialización de variables.
    var map      = null;
    var geocoder = null;

    function load() {                                      // Abre LLAVE 1.
      if (GBrowserIsCompatible()) {			   // Abre LLAVE 2.
        map = new GMap2(document.getElementById("map"));
		
	                   
        map.setCenter(new GLatLng(<?php echo $this->mapa['latitud'];?>,<?php echo $this->mapa['longitud'];?>), 15);//LATITUD,  LONGITUD   
        //map.setCenter(new GLatLng(-11.6952727330294,-77.2998046875), 3);//LATITUD,  LONGITUD   
        
        map.addControl(new GSmallMapControl());
	   	map.addControl(new GMapTypeControl());
		map.addControl(new GOverviewMapControl());
                geocoder = new GClientGeocoder();
                
                // Creamos el punto.  
                var point = new GLatLng(<?php echo $this->mapa['latitud'];?>,<?php echo $this->mapa['longitud'];?>);  
                // Pintamos el punto  
                map.addOverlay(new GMarker(point));
                
		//GEvent.addListener(marca, "click", ocultar_mostrar_poligono); 
        //---------------------------------//
        //   MARCADOR AL HACER CLICK
		//---------------------------------//
		GEvent.addListener(map, "click",
			function(marker, point) {
 		 		if (marker) {
                                        null;
                                } else {
                                        map.clearOverlays();
                                                var marcador = new GMarker(point);
                                                map.addOverlay(marcador);
                                                //marcador.openInfoWindowHtml("<b><br>Coordenadas:<br></b>Latitud : "+point.y+"<br>Longitud : "+point.x+"<a href=http://www.mundivideo.com/fotos_pano.htm?lat="+point.y+"&lon="+point.x+"&mapa=3 TARGET=fijo><br><br>Fotografias</a>");
                                                //marcador.openInfoWindowHtml("<b>Coordenadas:</b> "+point.y+","+point.x);
                                                //document.form.mapaLatitud.value = point.y; //latitud
                                                //document.form.mapaLongitud.value = point.x; //Longitud
                                                $('#mapaLatitud').attr('value',point.y);
                                                $('#mapaLongitud').attr('value',point.x);
                                                }
                                }
			);
        //---------------------------------//
        //   FIN MARCADOR AL HACER CLICK
		//---------------------------------//

      } // Cierra LLAVE 1.
    }   // Cierra LLAVE 2.

    //---------------------------------//
    //           GEOCODER
	//---------------------------------//
    function showAddress(address, zoom) {
    	if (geocoder) {
        	geocoder.getLatLng(address,
          		function(point) {
                                if (!point) {
                                        alert(address + " not found");
                                } else {
                                        map.setCenter(point, zoom);
                                        var marker = new GMarker(point);
                                        map.addOverlay(marker);
                                        //marker.openInfoWindowHtml("<b>"+address+"</b><br>Coordenadas:<br>Latitud : "+point.y+"<br>Longitud : "+point.x+"<a href=http://www.mundivideo.com/fotos_pano.htm?lat="+point.y+"&lon="+point.x+"&mapa=3 TARGET=fijo><br><br>Fotografias</a>");
                                     //marker.openInfoWindowHtml("<b>Latitud:</b> "+point.y+"<br /><b>Longitud:</b> "+point.x);
                                     
                                      //document.form.mapaLatitud.value = point.y;
                                      //document.form.mapaLongitud.value = point.x; //Longitud
                                      $('#mapaLatitud').attr('value',point.y);
                                      $('#mapaLongitud').attr('value',point.x);
                                }
                        }
        	);
      	}
   }
    //---------------------------------//
    //     FIN DE GEOCODER
	//---------------------------------//

    //]]>
	
	function ocultar_mostrar_poligono(){
            if (polygon.isHidden()){
               //alert("Estaba oculto");
               polygon.show();
            }else{
               //alert("Estaba mostrandose");
               polygon.hide();
            }
        } 
       
        //txtMapa
        //showAddress(this.address.value, 15); return false
        
        $(document).on('ready',function() {//asi es ahora con html5
                $('#buscarSitio').on('click',function(e){
                    var buscar=$.trim($('#txtMapa').val());
                    showAddress(buscar, 15);
                    return false;
                });
        });
</script>

