<nav id="menu">
        <!-- 
	<a class="<?php if($this->menu=='inicio'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>">Inicio</a>
        <a class="<?php if($this->menu=='calendario'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'calendario','action' => 'index'),'',true); ?>">Calendario de Actividades</a>
        <a class="<?php if($this->menu=='noticias'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'noticias','action' => 'index'),'',true); ?>">Noticias</a>
        <a class="<?php if($this->menu=='bolsa-trabajo'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'bolsa-trabajo','action' => 'index'),'',true); ?>">Bolsa de Trabajo</a>         
        <a class="<?php if($this->menu=='sede-deportiva'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'index'),'',true);?>">Sede  Deportiva</a>  
        <a class="<?php if($this->menu=='equipos'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'index'),'',true);?>">Equipos</a>        
        <a class="<?php if($this->menu=='programas'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'programas','action'=>'index'),'',true);?>">Programas</a>
        -->
        <a class="<?php if($this->menu=='inicio'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>">Inicio</a>
        <a class="<?php if($this->menu=='calendario'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'calendario','action' => 'index'),'',true); ?>">Calendario</a>
        <a class="<?php if($this->menu=='noticias'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'noticias','action' => 'index'),'',true); ?>">Noticias</a>
        <a class="<?php if($this->menu=='programas'){echo "menu-active";}?>" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'programas','action' => 'index'),'',true); ?>">Programas </a>         
        
        <!-- <a class="<?php if($this->menu=='sede-deportiva'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'index'),'',true);?>">Federaciones</a>  -->
        
        <a class="<?php if($this->menu=='federaciones'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'index'),'',true);?>">Federaciones</a>  
        
        <!-- <a class="<?php if($this->menu=='equipos'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'index'),'',true);?>">Consejo Regional del Deporte</a>-->
        
        <a class="<?php if($this->menu=='consejo-regional'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'consejo-regional','action'=>'index'),'',true);?>">Consejo Regional del Deporte</a>
        <a class="<?php if($this->menu=='especializaciones'){echo "menu-active";}?>" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'especializaciones','action'=>'index'),'',true);?>">Especializaciones</a>
</nav>