	<div class="row">
          <div class="col-lg-6 col-md-6 mt-5">
            <h4 class="h5 text-white">Contact Us</h4>
            <div class="width-3rem bg-primary height-3 mt-3"></div>
            <ul class="list-unstyled marginTop-40">
              <li class="mb-3"><i class="ti-headphone mr-3"></i><a href="tel:+9494419813">USA (949)  441-9813 </a></li>
              <li class="mb-3"><i class="fab fa-whatsapp mr-3"></i><a title="whatsapp" href="https://api.whatsapp.com/send?phone=+51999389827&amp;text=Could%20you%20please%20send%20me%20more%20information%20about%20your%20Online%20Spanish%20Course%3F">+51 999389827</a></li>
              <li class="mb-3"><i class="fab fa-whatsapp mr-3"></i><a title="whatsapp" href="https://api.whatsapp.com/send?phone=+51937100997&amp;text=Could%20you%20please%20send%20me%20more%20information%20about%20your%20Online%20Spanish%20Course%3F">+51 937100997</a></li>
              <li class="mb-3"><i class="ti-email mr-3"></i><a href="mailto:info@graciasonlinespanish.com">info@graciasonlinespanish.com</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mt-5">
            <h4 class="h5 text-white">Quick links</h4>
            <div class="width-3rem bg-primary height-3 mt-3"></div>
            <ul class="list-unstyled marginTop-40">
              <li class="mb-2"><a href="about.html">About Us</a></li>
              <li class="mb-2"><a href="contact-us.html">Contact Us</a></li>
              <li class="mb-2"><a href="terms-and-conditions.pdf" target="_blank">Terms and Conditions</a></li>
            </ul>
          </div>
    </div> <!-- END row-->