<ul class="nav navbar-nav ec-nav__navbar ml-auto">
		<li class="nav-item nav-item__has-dropdown">
					<a class="ti-home nav-link" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>"></a>
			</li>
          <li class="nav-item nav-item__has-dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
			  <li><a class="nav-link__list" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'about','action' => 'index'),'',true); ?>">About us</a></li>
              <li><a class="nav-link__list" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'why-learning-spanish-online','action' => 'index'),'',true); ?>">Why Learning Spanish Online?</a></li>
              <li><a class="nav-link__list" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'accreditation','action' => 'index'),'',true); ?>">Accreditation</a></li>
            </ul>
          </li>

            <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">The General Spanish Course</a>
                <ul class="dropdown-menu">
                  <li><a href="general-spanish.html" class="nav-link__list">Description</a></li>
                    <li><a href="study-levels-expected-progress.html" class="nav-link__list">Study Levels and Expected Progress</a></li>
                    <li><a href="general-spanish-course-outline.html" class="nav-link__list">Course Outline</a></li>
                  <li><a href="http://www.hispanaidiomas.com/placement_test/quizform.php " class="nav-link__list">Online Entrance Test</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Specialized Courses</a>
                <ul class="dropdown-menu">
                  <li><a href="spanish-for-travelers.html" class="nav-link__list">Spanish for Travelers </a></li>
                  <li><a href="conversational-spanish.html" class="nav-link__list">Conversational Spanish</a></li>
                  <li><a href="business-spanish.html" class="nav-link__list">Business Spanish </a></li>
                  <li><a href="dele-siele.html" class="nav-link__list">DELE &amp; SIELE</a></li>
                  <li><a href="spanish-your-way.html" class="nav-link__list">Spanish Your Way</a></li>
				  <li><a class="nav-link__list" href="study-abroad.html">Study Abroad Option</a></li>
                </ul>
            </li>

            <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Methodology </a>
              <div class="dropdown-menu">
                  <ul class="list-unstyled">
                    <li><a class="nav-link__list" href="teaching-methodology.html">Teaching Methodology</a></li>
                    <li><a class="nav-link__list" href="our-teachers.html">Our Teachers</a></li>
                    <li><a class="nav-link__list" href="study-materials.html">Study Materials</a></li>
                    <li><a class="nav-link__list" target="blanck" href="certificado/AS23145F12XT/certificado-de-estudio.jpg">Certificate of Studies</a></li>
                  </ul>
              </div>
            </li>

             <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Shop </a>
                <div class="dropdown-menu">
                  <ul class="list-unstyled">
                  <li>
                    <a class="nav-link__list" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'shop','action' => 'index'),'',true); ?>"> Shop </a>
                  </li>
                  <li>
                    <a class="nav-link__list" href="shop-cart.html"> Cart</a>
                  </li>
                  <li>
                    <a class="nav-link__list" href="shop-checkout.html"> Checkout</a>
                  </li>

                  </ul>
                </div>
              </li>
        </ul>