<footer id="footer">
        <nav >
                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'sistema-nacional','action' => 'index'),'',true); ?>">Acerca del SNC</a>
                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'terminos-condiciones','action' => 'index'),'',true); ?>">T&eacute;rminos y condiciones</a>
                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'mapa','action' => 'index'),'',true); ?>">Mapa del sitio</a>
                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'ayuda','action' => 'index'),'',true); ?>">Ayuda</a>
                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'contactos','action' => 'index'),'',true); ?>">Cont&aacute;ctenos</a>
        </nav>
</footer>