<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CMS-Administrador</title>	

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/admin/css/reset.css" media="screen" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/admin/css/style.css" media="screen" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/admin/css/new.css" media="screen" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/admin/css/navi.css" media="screen" />


<?php echo $this->headScript();?>
<?php $selectMenu=$this->layout()->menuSelect;?>
<script>
    $(function(){
            $(".box .h_title").not(this).next("ul").hide("normal");
            $(".box .h_title").not(this).next("#home").show("normal");
            $(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
    });
</script>


        <?php  if(isset($this->layout()->fechas)): ?>                    
                    <script type="text/javascript">
                                jQuery(function($){
                                   $("#txtHora").mask("99:99");
                                   //$("#txtFecha").mask("99-99-9999");
                                });
                    </script>
                   
                    <!--inicio datepicker-->
                    <link type="text/css" href="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" />
                    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/js/jquery-ui-1.8.12.custom.min.js"></script>
                    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/js/jquery.ui.datepicker-es.js"></script>
                    <script type="text/javascript">
                            $(document).ready(function(){							
                                    $("#txtFechaInicio").datepicker({
                                            //changeMonth: true,
                                            changeYear: true
                                    });
                                    $("#txtFechaFin").datepicker({
                                            //changeMonth: true,
                                            changeYear: true
                                    });
                            })
                    </script>
                    <!--fin datepicker-->					                    
        <?php endif; ?>
                    
        <?php $iniciar=""; ?>                                
        <?php  if(isset($this->layout()->googleMap)): ?>
                     <?php  
                            $mapa=$this->layout()->googleMap;
                            echo $this->partial('_google_map_v3.phtml',array('mapa'=>$mapa));
                            //$iniciar='onLoad="load();"  onunload="GUnload();"';
                     ?>
                     
        <?php endif; ?>
</head>
<body>
<div class="wrap">
	<div id="header">
		<div id="top">
			<div class="left">
                            <?php
                                $auth = Zend_Auth::getInstance();
                                if(isset($auth->getIdentity()->backend)):    
                                    $dato = $auth->getIdentity()->backend;
                            ?>
                                <p>Bienvenido, <strong><?php echo $dato->username;?>
                                    </strong> [ <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'login','action' => 'logout'),'',true); ?>">logout</a> ]
                                </p>
                            <?php endif;?>
				
			</div>
			<div class="right">
				<div class="align-right">
                                    <p>Fecha : <strong><?php echo date('d-m-Y');?></strong></p>
					<!-- p>Ultima sesion: <strong>23-04-2012 23:12</strong></p -->
				</div>
			</div>
		</div>
		<div id="nav">
			<ul>
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'usuarios','action' => 'index'),'',true); ?>" class="menu-1">Usuarios</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'usuarios','action' => 'index'),'',true); ?>">Lista de ususarios</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'usuarios','action' => 'nuevo'),'',true); ?>">Nuevo</a></li>
					</ul>
				</li>
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'estudiantes','action' => 'index'),'',true); ?>" class="menu-2">Estudiantes</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'estudiantes','action' => 'index'),'',true); ?>">Lista de estudiantes</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'estudiantes','action' => 'nuevo'),'',true); ?>">Nuevo</a></li>
					</ul>
				</li>
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'profesores','action' => 'index'),'',true); ?>" class="menu-3">Profesores</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'profesores','action' => 'index'),'',true); ?>">Lista de profesores</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'profesores','action' => 'nuevo'),'',true); ?>">Nuevo</a></li>
					</ul>
				</li>
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'productos','action' => 'index'),'',true); ?>" class="menu-4">Productos</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'productos','action' => 'index'),'',true); ?>">Lista de productos</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'productos','action' => 'nuevo'),'',true); ?>">Nuevo producto</a></li>
					</ul>
				</li>
                                
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'noticias','action' => 'index'),'',true); ?>" class="menu-5">Noticias</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'noticias','action' => 'index'),'',true); ?>">Lista de noticias</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'noticias','action' => 'nuevo'),'',true); ?>">Nueva Noticia</a></li>
					</ul>
				</li>
				
                                
                                <li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'federaciones','action' => 'index'),'',true); ?>" class="menu-6">Federaciones</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'federaciones','action' => 'index'),'',true); ?>">Lista  federaciones</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'federaciones','action' => 'add'),'',true); ?>">Nueva federacion</a></li>
						
					</ul>
				</li>
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'noticias','action' => 'index'),'',true); ?>" class="menu-7">Calendario</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'calendario','action' => 'listaeventos'),'',true); ?>">Lista de eventos</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'calendario','action' => 'add'),'',true); ?>">Nueva Evento</a></li>
					</ul>
				</li>
                                
                                <!-- 
				<li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'bolsa-trabajo','action' => 'listado'),'',true); ?>" class="menu-3">Bolsa de trabajo</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'bolsa-trabajo','action' => 'listado'),'',true); ?>">Lista de avisos</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'bolsa-trabajo','action' => 'index'),'',true); ?>">Nuevo aviso</a></li>
						
					</ul>
				</li>
                                -->
                                
                                <!-- 
                                <li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'sede-deportiva','action' => 'index'),'',true); ?>" class="menu-4">Sedes Deportivas</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'sede-deportiva','action' => 'index'),'',true); ?>">Lista de sedes</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'sede-deportiva','action' => 'nuevo'),'',true); ?>">Nueva sede</a></li>
						
					</ul>
				</li>
                                <li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'equipos','action' => 'index'),'',true); ?>" class="menu-5">Equipos</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'equipos','action' => 'index'),'',true); ?>">Lista de equipos</a></li>
                                                 <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'equipos','action' => 'nuevo'),'',true); ?>">Nuevo equipo</a>
						
					</ul>
				</li>
                                <li class="upp"><a href="<?php echo $this->url(array('module' => 'admin','controller' => 'deportistas','action' => 'index'),'',true); ?>" class="menu-6">Deportistas</a>
					<ul>
						<li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'deportistas','action' => 'index'),'',true); ?>">Lista de deportistas</a></li>
                                                <li>&#8250; <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'deportistas','action' => 'nuevo'),'',true); ?>">Nuevo deportista</a></li>
						
					</ul>
				</li>
                                -->
			</ul>
		</div>
	</div>
	
	<div id="content">
		<!-- sidebar>
			<div class="box">
				<div class="h_title">&#8250; Main control</div>
				<ul id="home">
					<li class="b1"><a class="icon view_page" href="">Visit site</a></li>
					<li class="b2"><a class="icon report" href="">Reports</a></li>
					<li class="b1"><a class="icon add_page" href="">Add new page</a></li>
					<li class="b2"><a class="icon config" href="">Site config</a></li>
				</ul>
			</div>
			
			<div class="box">
				<div class="h_title">&#8250; Manage content</div>
				<ul>
					<li class="b1"><a class="icon page" href="">Show all pages</a></li>
					<li class="b2"><a class="icon add_page" href="">Add new page</a></li>
					<li class="b1"><a class="icon photo" href="">Add new gallery</a></li>
					<li class="b2"><a class="icon category" href="">Categories</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title">&#8250; Users</div>
				<ul>
					<li class="b1"><a class="icon users" href="">Show all users</a></li>
					<li class="b2"><a class="icon add_user" href="">Add new user</a></li>
					<li class="b1"><a class="icon block_users" href="">Lock users</a></li>
				</ul>
			</div>
		</sidebar -->
		<div id="main">
                        <?php echo $this->layout()->content; ?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="footer">
		<div class="left">
			<p>Portal IPD © 2013</p>
		</div>
		<div class="right">
			<p>Desarrollado por peru.com</p>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).on('ready',function() {
        $('.menu-<?php echo $selectMenu;?>').addClass('a-action');//seleccion de menu
    });
</script>
</body>
</html>