<!DOCTYPE html>
<html lang="es">
<head>
	<title>1 LA EVOLUCIÓN DEL DEPORTE</title>
	<meta  charset="utf-8">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/images/logotit.ico" />
	<link href="<?php echo $this->baseUrl(); ?>/static/css/reset.css" rel="stylesheet" />
	<link href="<?php echo $this->baseUrl(); ?>/static/css/styles.css" rel="stylesheet" />
	<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/js/jquery-1.8.0.min.js"></script>

	<!--[if lt IE 9]>
		<script src="<?php echo $this->baseUrl(); ?>/static/js/html5shiv.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/static/js/selectivizr-min.js"></script>
	<![endif]-->

	<!--inicio fondo autoajustable solo para ie8-->
	<link href="<?php echo $this->baseUrl(); ?>/static/plugins/fondo-autoajustable/styles.css" rel="stylesheet" />
	<script src="<?php echo $this->baseUrl(); ?>/static/plugins/fondo-autoajustable/fondo-autoajustable.js"></script>
	<!--fin fondo autoajustable solo para ie8-->

	<script src="<?php echo $this->baseUrl(); ?>/static/js/frontend/login.js"></script>
	<script src="<?php echo $this->baseUrl(); ?>/static/js/frontend/calendario.js"></script>

	<!--inicio width carousel-->
	<link type="text/css" href="<?php echo $this->baseUrl(); ?>/static/plugins/width-carusel/css/bottom.css" rel="stylesheet" />
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/width-carusel/js/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/width-carusel/js/jquery.pikachoose.min.js"></script>
	<script language="javascript">
		$(document).ready(
			function (){
				$("#pikame").PikaChoose({carousel:true});
			});
	</script>
	<!--fin width carousel-->
        
        <?php echo $this->headScript();?>

</head>
<body>
        <section class="content">
                <header id="header">
                        <div class="content-logo">
                                <a href="http://laevoluciondeldeporte.com/becasipd/" class="logo-ipd"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logo-ipd.png"></a>
                                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'sistema-nacional','action' => 'index'),'',true); ?>"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logoSistemaNacionalCapacitacion.png"></a>
                                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logoEvolucionDeporte.png"></a>

                               <?php
                                    $authIni = Zend_Auth::getInstance();
                                    if(isset($authIni->getIdentity()->frontend)):
                                        $datoLogin=$authIni->getIdentity()->frontend;
                                ?>
                                            <nav>
                                                    <p>											
                                                            <span>
                                                                    Bienvenido <?php echo $datoLogin->username;?>
                                                            </span>
                                                            <a  class="boton3" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'logout'),'',true); ?>">logout</a> 		
                                                    </p>                                        
                                            </nav>
                                            <!-- form id="frmLoginLM" action="http://localhost:8080/testmoodle/moodle/login/index.php" method="POST">
                                                    <input id="usernameLM" type="hidden" value="<?php //echo $authIni->getIdentity()->username;?>" name="username">
                                                    <input id="passwordLM" type="hidden" value="<?php //echo $authIni->getIdentity()->key;?>" name="password">
                                                    <input id="btnEnviarLoginLM" type="submit" value="Acceder moodle" name="btnEnviarLoginLM">
                                            </form -->
                               <?php else:?>
                                            <nav>
                                                <a href="index.php" class="login" active="0">LOGIN</a>
                                            </nav>
                                <?php endif;?>

                                <div class="content-login">
                                        <form id="frmLogin" name="frmLogin" action="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'index'),'',true); ?>" method="POST">
                                                <div>
                                                        <p>Usuario:</p>
                                                        <input type="text" id="txtUsuario" name="txtUsuario" value="">
                                                </div>
                                                <div>
                                                        <p>Contraseña:</p>
                                                        <input type="password" id="txtPassword" name="txtPassword" value="">
                                                </div>
                                                <div>
                                                        <input type="submit" id="btnIngresar" name="btnIngresar" value="INGRESAR">
                                                </div>
                                            
                                                <?php if(isset($this->loginError)):?>                                                    
                                                        <p><?php echo $this->loginError;?></p>
                                                <?php endif;?>
                                                        
                                                <div>
                                                        <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'crear-cuenta'),'',true); ?>">Crear Cuenta</a>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </header>

                <div class="space1"></div>

                <section class="content">
                    <section class="content-body">
                                <section class="content-slider">                                    
                                    <!--inicio nivo slider-->
                                    <div class="slider-wrapper theme-default">
                                                <div class="ribbon"></div>
                                                <div id="slider" class="nivoSlider slider-tavo">
                                                    <a href="#"><img src="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/images/slider1.jpg" alt="" /></a>
                                                    <a href="#"><img src="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/images/slider2.jpg" alt="" /></a>
                                                    <a href="#"><img src="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/images/slider4.jpg" alt="" /></a>
                                                </div>
                                                <div id="htmlcaption" class="nivo-html-caption">
                                                    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                                                </div>
                                    </div>
                                    <!--fin nivo slider-->
                                </section>

                                <?php  echo $this->partial('_menu.phtml',array('menu'=>$this->layout()->menu)); ?>
                                <?php echo $this->layout()->content; ?>
                    </section>
                </section>
                
                <?php  echo $this->render('_menu_footer.phtml'); ?>
                
        </section>

        <!--inicio nivo slider-->
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/nivo-slider/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript">
                $(window).load(function() {
                    $('#slider').nivoSlider();
                });
        </script>
        <!--fin nivo slider-->
        
</body>
</html>











