<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CMS LOGIN</title>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/js/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/static/admin/css/login.css" media="screen" />
<?php echo $this->headScript();?>
</head>
<body>
<div class="wrap">
    <?php echo $this->layout()->content; ?>	
</div>
</body>
</html>