<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Title-->
	<title><?php echo $this->layout()->title;?></title>
    <!-- SEO Meta-->
	<meta name="description" content="<?php echo $this->layout()->description;?>">
    <meta name="keywords" content="<?php echo $this->layout()->keywords;?>">
    <meta name="author" content="education">
    <!-- viewport scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    
    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico">
    <link rel="shortcut icon" href="assets/img/favicon/114x114.png">
    <link rel="apple-touch-icon-precomposed" href="assets/img/favicon/96x96.png">  
    <!--Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700%7CWork+Sans:400,500">
    
    
    <!-- Icon fonts -->
	<link href="<?php echo $this->baseUrl(); ?>/assets/fonts/fontawesome/css/all.css" rel="stylesheet" />
	<link href="<?php echo $this->baseUrl(); ?>/assets/fonts/themify-icons/css/themify-icons.css" rel="stylesheet" />
    
    
    <!-- stylesheet-->  
	<link href="<?php echo $this->baseUrl(); ?>/assets/css/vendors.bundle.css" rel="stylesheet" />
	<link href="<?php echo $this->baseUrl(); ?>/assets/css/style.css" rel="stylesheet" />
    
  </head>
  
  <body>
   

  <header class="site-header bg-dark text-white-0_5">        
    <div class="container">
      <div class="row align-items-center justify-content-between mx-0">
        <ul class="list-inline d-none d-lg-block mb-0">
          <li class="list-inline-item mr-3">
           <div class="d-flex align-items-center">
            <i class="ti-email mr-2"></i>
            <a href="mailto:info@graciasonlinespanish.com">info@graciasonlinespanish.com</a>
           </div>
          </li>
          <li class="list-inline-item mr-3">
           <div class="d-flex align-items-center">
            <i class="ti-headphone mr-2"></i>
            <a href="tel:+9494419813">USA (949)  441-9813 </a>
           </div>
          </li>          
          <li class="list-inline-item mr-3">
            <div class="d-flex align-items-center">
              <i class="fab fa-whatsapp  mr-2"></i>
              <a target="blanck" href="https://api.whatsapp.com/send?phone=+51999389827&amp;text=Could%20you%20please%20send%20me%20more%20information%20about%20your%20Online%20Spanish%20Course%3F">+51  937 100997</a>
            </div>
          </li>       
          <li class="list-inline-item mr-3">
            <div class="d-flex align-items-center">
              <i class="fab fa-whatsapp  mr-2"></i>
              <a target="blanck" href="https://api.whatsapp.com/send?phone=+51937100997&amp;text=Could%20you%20please%20send%20me%20more%20information%20about%20your%20Online%20Spanish%20Course%3F"> + 51  999 389827</a>
            </div>
          </li>
        </ul>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0 p-3 border-right border-left border-white-0_1">
            <a target="blanck" href="https://www.facebook.com/GraciasOnlineSpanish/"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item mr-0 p-3 border-white-0_1">
			<a target="blanck" href="https://www.linkedin.com/company/gracias-online-spanish-school/"><i class="ti-linkedin"></i></a>
          </li>
        </ul>
        <ul class="list-inline mb-0">
			<?php
				$authIni = Zend_Auth::getInstance();
				if(isset($authIni->getIdentity()->frontend)):
						$datoLogin=$authIni->getIdentity()->frontend;
			?>	
				<li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1">										
					<span>Hi, <?php echo $datoLogin->firstname;?></span>
				</li>
				<li class="list-inline-item mr-0 p-md-3 p-2 border-right border-white-0_1">
					<a  class="boton3" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'logout'),'',true); ?>">logout</a> 		
				</li>		
		   <?php else:?>
				<li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1">										
					<a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'index'),'',true); ?>">Login</a>
				</li>
				<li class="list-inline-item mr-0 p-md-3 p-2 border-right border-white-0_1">
					<a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'register'),'',true); ?>">Register</a>
				</li>	
			<?php endif;?>
        </ul>
      </div> <!-- END END row-->
    </div> <!-- END container-->
  </header><!-- END site header-->
  
  

  <nav class="ec-nav sticky-top bg-white">
  <div class="container">
    <div class="navbar p-0 navbar-expand-lg">
      <div class="navbar-brand">
        <a class="logo-default" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>"><img alt="" src="assets/img/logo-black1.png"></a>
      </div>
      <span aria-expanded="false" class="navbar-toggler ml-auto collapsed" data-target="#ec-nav__collapsible" data-toggle="collapse">
        <div class="hamburger hamburger--spin js-hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </span>
      <div class="collapse navbar-collapse when-collapsed" id="ec-nav__collapsible">
		<?php  echo $this->partial('_menu.phtml',array('menu'=>$this->layout()->menu)); ?>
      </div>
      <div class="nav-toolbar">
        <ul class="navbar-nav ec-nav__navbar">
          <li class="nav-item nav-item__has-dropdown">
            <a class="nav-link dropdown-toggle no-caret" href="shop-cart.html" ><i class="ti-shopping-cart"></i><span class="badge badge-primary rounded-circle" data-cesta-feira-items-count></span></a>

          </li>
          <li class="nav-item">
            <a class="nav-link site-search-toggler" href="#">
              <i class="ti-search"></i>
            </a>
          </li>
        </ul>
      </div>		
    </div>
  </div> <!-- END container-->		
  </nav> <!-- END ec-nav -->    

  <div class="site-search">
   <div class="site-search__close bg-black-0_8"></div>
   <form class="form-site-search" action="#" method="POST">
    <div class="input-group">
      <input type="text" placeholder="Search" class="form-control py-3 border-white" required="">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
      </div>
    </div>
   </form> 
  </div> <!-- END site-search-->

  <?php echo $this->layout()->content; ?>

  <footer class="site-footer">
    <div class="footer-top bg-dark text-white-0_6 pt-5 paddingBottom-100">
      <div class="container"> 
		<?php  echo $this->render('_menu_footer.phtml'); ?>
      </div> <!-- END container-->
    </div> <!-- END footer-top-->
  
    <div class="footer-bottom bg-black-0_9 py-5 text-center">
      <div class="container">
        <p class="text-white-0_5 mb-0">&copy; Gracias Online Spanish School 2020. All rights reserved.</p>
      </div>
    </div>  <!-- END footer-bottom-->
  </footer> <!-- END site-footer -->


<div class="scroll-top">
  <i class="ti-angle-up"></i>
</div>
     
    <script src="<?php echo $this->baseUrl(); ?>/assets/js/vendors.bundle.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jstorage.min.js"></script>
    <script src="assets/js/cesta-feira.js"></script>
    <script type="text/javascript">
    $( document ).ready(function() {
      $.CestaFeira({
        debug: false,
        onItemAdded: function (item) {
          console.log(item);
        },
        onItemUpdated: function (item) {
          console.log(item);
        }
      });
    });
    function changePrice(elem){
      price = $(elem).find(":selected").attr('price');
      $(elem).parent().find('[data-type="price"]').text('$'+price);
      $(elem).parent().next().find('[name="price"]').val(price);
      $(elem).parent().next().find('[name="description"]').val($(elem).find(":selected").text());
      
    }
    function buy_now(elem){
      $(elem).parent().submit()
      location.href ='shop-cart.html';
      return false;
    }
    </script>
  </body>
</html>