<!DOCTYPE html>

<html lang="es">
<head>
	<!-- <title>IPD</title>-->
        
        <title>2 - <?php echo $this->layout()->title;?></title>
        <meta name="description" content="<?php echo $this->layout()->description;?>">
	<meta  charset="utf-8">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/images/logotit.ico" />
       
        
	<link href="<?php echo $this->baseUrl(); ?>/static/css/reset.css" rel="stylesheet" />
	<link href="<?php echo $this->baseUrl(); ?>/static/css/styles.css" rel="stylesheet" />
	<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/js/jquery-1.8.3.min.js"></script>

	<!--[if lt IE 9]>
		<script src="<?php echo $this->baseUrl(); ?>/static/js/html5shiv.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/static/js/selectivizr-min.js"></script>
	<![endif]-->

	<!--inicio fondo autoajustable solo para ie8-->
	<link href="<?php echo $this->baseUrl(); ?>/static/plugins/fondo-autoajustable/styles.css" rel="stylesheet" />
	<script src="<?php echo $this->baseUrl(); ?>/static/plugins/fondo-autoajustable/fondo-autoajustable.js"></script>
	<!--fin fondo autoajustable solo para ie8-->

	<script src="<?php echo $this->baseUrl(); ?>/static/js/frontend/login.js"></script>
        <?php echo $this->headScript();?>
        
	<?php   
            $plugin=$this->layout()->plugin;        
            if($plugin=='galeria'):
        ?>
                <!--inicio embed video-->           
                 <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/js/jquery.oembed.min.js"></script>
                 <script type="text/javascript">                         	

                         //$(document).on('ready',function() {
                         $(document).ready(function() {
                                 <?php 
                                     $getVideos=$this->layout()->videos;
                                     $countVideos=count($getVideos);
                                     $num=1;
                                     if($countVideos>0):
                                            foreach ($getVideos as $row):
                                 ?> 
                                                    $("#video-<?php echo $num; ?>").oembed("<?php echo $row['nombre']; ?>",{maxHeight:370, maxWidth:520});
                                 <?php       
                                                    $num+=1;
                                            endforeach;
                                     endif;
                                 ?>
                                         
                                 <?php 
                                     $getVideo=$this->layout()->video;
                                     
                                     if(isset($getVideo)):                                            
                                 ?> 
                                                    $("#video-1").oembed("<?php echo $getVideo['nombre']; ?>",
                                                                        {
                                                                            maxHeight: 295, maxWidth:426
                                                                        });
                                 <?php     
                                     endif;
                                 ?>
                         });
                 </script>			
                 <!--inicio embed video-->
     <?php  endif;?>
     
	
	
	<?php  if(isset($this->layout()->fechas)): ?>                    
                    <script type="text/javascript">
                                jQuery(function($){
                                   $("#txtHora").mask("99:99");
                                   //$("#txtFecha").mask("99-99-9999");
                                });
                    </script>
                   
                    <!--inicio datepicker-->
                    <link type="text/css" href="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" />
                    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/js/jquery-ui-1.8.12.custom.min.js"></script>
                    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/static/plugins/jquery-ui/datepicker/js/jquery.ui.datepicker-es.js"></script>
                    <script type="text/javascript">
                            $(document).ready(function(){							
                                    $("#txtFechaInicio").datepicker({
                                            //changeMonth: true,
                                            changeYear: true
                                    });
                                    $("#txtFechaFin").datepicker({
                                            //changeMonth: true,
                                            changeYear: true
                                    });
                            })
                    </script>
                    <!--fin datepicker-->					                    
        <?php endif; ?>
                    
        <?php $iniciar=""; ?>                                
        <?php  if(isset($this->layout()->googleMap)): ?>
                     <?php  
                            $mapa=$this->layout()->googleMap;
                            echo $this->partial('_google_map_v3.phtml',array('mapa'=>$mapa));
                            //$iniciar='onLoad="load();"  onunload="GUnload();"';
                     ?>
                     
        <?php endif; ?>
                 
     

</head>

<body <?php echo $iniciar;?>>
        <section class="content">
                <header id="header2">
                        <div class="content-logo">
                                <a href="http://laevoluciondeldeporte.com/becasipd/" class="logo-ipd"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logo-ipd.png"></a>
                                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'sistema-nacional','action' => 'index'),'',true); ?>"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logoSistemaNacionalCapacitacion.png"></a>
                                <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>"><img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/logoEvolucionDeporte.png"></a>
                                
                                 <?php
                                    $authIni = Zend_Auth::getInstance();
                                    if(isset($authIni->getIdentity()->frontend)):
                                            $datoLogin=$authIni->getIdentity()->frontend;
                                ?>
                                            <nav>
                                                    <p>											
                                                            <span>
                                                                    Bienvenido <?php echo $datoLogin->username;?>
                                                            </span>
                                                            <a  class="boton3" href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'logout'),'',true); ?>">logout</a> 		
                                                    </p>
                                            </nav>
                               <?php else:?>
                                            <nav>
                                                <a href="index.php" class="login" active="0">LOGIN</a>
                                            </nav>
                                <?php endif;?>

                                <div class="content-login">
                                        <form id="frmLogin" name="frmLogin" action="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'index'),'',true); ?>" method="POST">
                                                <div>
                                                        <p>Usuario:</p>
                                                        <input type="text" id="txtUsuario" name="txtUsuario" value="">
                                                </div>

                                                <div>
                                                        <p>Contraseña:</p>
                                                        <input type="password" id="txtPassword" name="txtPassword" value="">
                                                </div>

                                                <div>
                                                        <input type="submit" id="btnIngresar" name="btnIngresar" value="INGRESAR">
                                                </div>
                                            
                                                <?php if(isset($this->loginError)):?>                                                    
                                                            <p><?php echo $this->loginError;?></p>
                                                <?php endif;?>

                                                <div>
                                                        <a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'login','action' => 'crear-cuenta'),'',true); ?>">Crear Cuenta</a>
                                                </div>
                                        </form>
                                </div>
                        </div>

                        <?php  echo $this->partial('_menu.phtml',array('menu'=>$this->layout()->menu)); ?>
                </header>

                <div class="space2"></div>
                
                <section class="content">
                    <section class="content-body">
                        <?php echo $this->layout()->content; ?>
                    </section>
                </section>

                <?php  echo $this->render('_menu_footer.phtml'); ?>
        </section>
</body>
</html>





