<section class="content-evento">
		<div class="content-tca">
				<h2>La Evolución del Deporte &gt; Terminos y condiciones</h2>
		
				<h3><span>TÉRMINOS Y CONDICIONES DE USO</span></h3>
		
					<p>
		
						Este es el Portal BecasIPD.com del Instituto Peruano de Deportes (IPD), en adelante LA EMPRESA y los siguientes Términos y Condiciones regulan el acceso y uso, y en general, la relación entre este Portal (en adelante WEBSITE) y los usuarios del WEBSITE, sin perjuicio de de otras comunicaciones, condiciones e instrucciones particulares o específicas que pudieren cursarse específicamente.
		
						<br/><br/>
		
						Al comunicarte con este sitio web, los Términos y Condiciones de Uso detalladas a continuación, se consideran aceptadas por los usuarios (visitantes e interesados) en los Servicios que correspondan del mismo (en adelante USUARIOS).							
		
					</p>
		
					
		
					<h4>1. POLÍTICA DE PROTECCIÓN DE DATOS</h4>
		
					<p>
		
						A través de este apartado se indica el uso de datos en la relación entre este WEBSITE y los USUARIOS.
		
						<br/><br/>
		
						Con elfin de facilitar un desarrollo rápido y eficaz de la relación entre la EMPRESA y los USUARIOS, la EMPRESA garantiza mediante este documento, la privacidad de los servicios de acuerdo con las exigencias legales e informa acerca de su política de protección de datos de carácter personal para que los USUARIOS determinen libre y voluntariamente si desean facilitar a la EMPRESA sus datos personales a través de cualquier vía, en su caso formulario electrónico, en su WEBSITE.
		
						<br/><br/>
		
						Los USUARIOS consentirán el tratamiento de dichos datos personales por la EMPRESA en los términos siguientes:
		
					</p>
		
					
		
					<p>
		
						1.1. La EMPRESA garantiza la confidencialidad de los datos de carácter personal facilitados por los USUARIOS y su tratamiento de acuerdo a la legislación vigente sobre protección de datos de carácter personal, habiendo adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, e instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados. A pesar de ello, el USUARIO debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.
		
						<br/><br/>
		
						1.2. La EMPRESA proporcionará a los USUARIOS los recursos técnicos adecuados para que, con carácter previo a la entrega de los datos personales, puedan acceder a este aviso o a cualquier otra información relevante, y puedan prestar su consentimiento a fin de que la EMPRESA proceda al tratamiento de los datos personales de los USUARIOS.
		
						<br/><br/>
		
						1.3 La recopilación y tratamiento de los datos personales, como consecuencia de la navegación por las páginas del WEBSITE, de la consulta, solicitud o suscripción de cualquier servicio/s, promoción/es o concurso/s, de los ofrecidos directamente por la EMPRESA, tiene como finalidad además de proporcionar al USUARIO una experiencia personalizada en la Red, el mantenimiento de la relación eventualmente establecida entre ambos, así como la gestión, administración, prestación, ampliación y mejora de los servicios en los que el USUARIO decida suscribirse, darse de alta o utilizar, y la adecuación de dichos servicios a las preferencias y gustos de los USUARIOS.
		
						<br/><br/>
		
						Asimismo, tiene como finalidad el estudio cuantitativo y cualitativo de las visitas y de la utilización de los servicios por parte de los USUARIOS, el diseño de nuevos servicios relacionados con los servicios propios de la EMPRESA y sus actualizaciones.
		
						<br/><br/>
		
						Asimismo, el USUARIO es consciente, está informado y acepta que:
		
						<br/><br/>
		
						Se utilizará la información de sus datos personales cuando así sea requerido por las Autoridades administrativas competentes o por mandato judicial;
		
						<br/><br/>
		
						La EMPRESA puede utilizar cookies (ficheros enviados a un navegador por medio de un servidor web para registrar las actividades del USUARIO en el WEBSITE) cuando un USUARIO navega por los sitios y páginas del WEBSITE;
		
						<br/><br/>
		
						Los servidores web de la EMPRESA pueden registrar en determinados casos de manera automática la dirección IP y el nombre de dominio utilizados por el usuario registrándose esta información en un fichero de actividad del servidor que permite el posterior procesamiento de los datos con el fin de obtener mediciones estadísticas que permitan conocer el número de impresiones de páginas, el número de visitas realizadas a los servicios web, etc.
		
						<br/><br/>
		
						Que este sitio está siendo medido y/o auditado con las soluciones de Certifica, que puede utilizar marcas en las páginas y cookies anónimas para analizar lo que sucede en nuestras páginas, de acuerdo con la política de privacidad disponible en sus respectivas web.							
		
					</p>
		
					
		
					<h4>2. OTRAS CONDICIONES</h4>
		
					<h5>2.1. GENERAL</h5>
		
					<p>
		
						Antes de registrarse o hacer uso de los Servicios, los USUARIOS asumen expresamente que son personas capaces de discernir, que han entrado a este WEBSITE por su propia voluntad y que no ha sido coaccionado para ello, y que la selección de los Servicios que el USUARIO lleve a cabo la hace por su sola y única cuenta y riesgo, aceptando expresamente este Aviso Legal y Política de Protección de datos, así como aquellos otros avisos e instrucciones, comunicaciones, o condiciones particulares, puestos en conocimiento del USUARIO.
		
					</p>
		
					
		
					<h5>2.2. MENORES</h5>
		
					<p>
		
						Los USUARIOS quedan advertidos que la EMPRESA no puede controlar, que menores de edad hagan uso del WEBSITE y los Servicios. Por ello, además de no admitir el Portal, ni la EMPRESA responsabilidad alguna al respecto, se comunica que serán los padres y tutores los únicos responsables de controlar y asistir a los menores en la navegación por el citado WEBSITE y habilitar cualesquiera otros mecanismos necesarios que, en su caso, impidan el acceso por parte de los menores al WEBSITE y/o los Servicios, no admitiendo la EMPRESA ninguna reclamación al respecto.
		
					</p>
		
					
		
					<h5>2.3. CLAVES DE ACCESO O SIMILARES</h5>
		
					<p>
		
						En caso de que algún Servicio incluya claves de acceso y/o nombres de usuario, el USUARIO las elegirá e indicará, no pudiendo elegir como nombre de usuario palabras, expresiones o conjuntos gráfico-denominativos malsonantes, injuriosos, coincidentes con marcas, nombres comerciales, rótulos de establecimientos, denominaciones sociales, expresiones publicitarias, nombres y seudónimos de personajes de relevancia pública o famosos para cuya utilización no esté autorizado y, en general, contrarios a la ley o a las exigencias de la moral y buenas costumbres generalmente aceptadas.
		
						<br/><br/>
		
						La asignación del nombre de usuario se produce de manera automática previa elección del USUARIO. En el supuesto de que el nombre de usuario se encuentren reservadas, el USUARIO deberá de introducir otro nombre.
		
						<br/><br/>
		
						El USUARIO se compromete a hacer un uso diligente de sus datos de acceso, a no ponerlas a disposición de terceros, debiendo comunicar a la EMPRESA la pérdida o robo y el posible uso de estas por un tercero.							
		
					</p>
		
					
		
					<h5>2.4. PARTICIPACIÓN DE LOS USUARIOS</h5>
		
					<p>
		
						En áreas que se habiliten para la participación de los USUARIOS (a título enunciativo envíos, foros, chats, comentarios, comparticiones, etc.) el WEBSITE se limitará a habilitar un espacio, pero no participará en modo alguno en los mismos, siendo el resultado meras aportaciones u opiniones realizadas bajo la responsabilidad de los USUARIOS.
		
						<br/><br/>
		
						Sin que se pueda deducir que cualquier moderación o revisión que se lleve a cabo resulte ser una revisión pormenorizada, el WEBSITE se reserva el derecho de suspender o eliminar aquellas aportaciones o comentarios que incumplan estas condiciones.
		
						<br/><br/>
		
						El USUARIO se obliga a no utilizar estos servicios para la realización de actividades contrarias a las leyes, a la moral, al orden público y, en general, para realizar actividades publicitarias o de explotación comercial, o para mantener valoraciones en tono amenazante o no cordial.
		
						<br/><br/>
		
						En caso de que se descubriera la existencia de tales prácticas o similares, bien de forma directa o través de notificaciones o requerimientos de terceros, se podrá proceder a la eliminación de los contenidos infractores o cualquier otra medida que la EMPRESA considere necesaria para evitar la continuidad en la situación detectada. Idéntica medida será aplicable en caso de que se detecte una utilización que, por sus características tales como tamaño, formato, etc, dificulten el funcionamiento del portal, contenidos o enlaces propagandísticos, spam y comentarios repetidos, así como los que no tengan sentido, estén fuera del tema bajo comentario.
		
						<br/><br/>
		
						Sin perjuicio de lo anterior, el USUARIO asume que se pondrá en conocimiento de las autoridades administrativas o judiciales aquellos hechos que a criterio de la EMPRESA, pudieran ser constitutivos de una actividad ilícita, sin necesidad de comunicarlo previamente al usuario.							
		
					</p>
		
					
		
					<h5>2.5. SERVICIOS</h5>
		
					<h6>2.5.1 Servicios gratuitos. Carácter personal</h6>
		
					<p>
		
						Los servicios accesibles por los USUARIOS en el WEBSITE, son por regla general gratuitos sin que el USUARIO tenga que realizar contraprestación alguna para poder disfrutar de ellos. Ello sin perjuicio de que, la utilización de alguno de los servicios del WEBSITE sólo podrá hacerse mediante la mera suscripción o registro del USUARIO.
		
						<br/><br/>
		
						El servicio suministrado tiene carácter personal e intransferible.
		
					</p>
		
					
		
					<h6>2.5.2 Otros avisos específicos - Enlaces a sitios web de terceros</h6>
		
					<p>
		
						El USUARIO podrá acceder a través del WEBSITE a servicios ofrecidos por terceros, los cuales dispondrán de sus propias condiciones generales de contratación donde se especificará el carácter gratuito u oneroso de los mismos, y sin responsabilidad de la EMPRESA al respecto. Estos enlaces se incluyen únicamente por su conveniencia y no constituyen ninguna aprobación por parte de la EMPRESA de los sitios vinculados o referidos. La EMPRESA no tiene ningún control sobre el contenido de esos sitios web, o enlaces de ellos a otros sitios web.
		
						<br/><br/>
		
						El contenido de las páginas web a la que los USUARIOS acceden a través del servicio de buscador tampoco es controlado por la EMPRESA, por lo tanto, su contenido puede cambiar posteriormente sin conocimiento de la EMPRESA o resultar objetable por cualquier causa, por lo que en ningún caso la EMPRESA se hace responsable de ninguna consecuencia.
		
						<br/><br/>
		
						En todo caso, la EMPRESA se exonera de todo tipo de responsabilidad que pueda derivar el uso de estos servicios ofrecidos en o desde su WEBSITE, ya sean de terceros o de los USUARIOS.
		
					</p>
		
					
		
					<h6>2.5.3 Uso correcto de los Servicios y del WEBSITE</h6>
		
					<p>
		
						El USUARIO se compromete a utilizar los Servicios, Canales y todos los contenidos del WEBSITE de conformidad a lo aquí previsto, la ley, la moral, las buenas costumbres generalmente aceptadas y el orden público.
		
						<br/><br/>
		
						El USUARIO se obliga a abstenerse de utilizarlos con fines o efectos ilícitos, contrarios a lo establecido en este documento, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar los Servicios y Canales del WEBSITE y sus contenidos o impedir la normal utilización o disfrute de los mismos por parte de los USUARIOS.
		
						<br/><br/>
		
						El USUARIO se compromete a abstenerse de:
		
					</p>
		
					<p>
		
						i) Remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial al Portal, o a una pluralidad de personas usuarias del WEBSITE sin que medie su previa solicitud o consentimiento.
		
						<br/><br/>
		
						ii) Remitir cualesquiera otros mensajes no solicitados, ni consentidos previamente a una pluralidad de personas usuarias del WEBSITE.
		
						<br/><br/>
		
						iii) Enviar cadenas de mensajes electrónicos no solicitados, ni previamente consentidos a usuarios del WEBSITE.
		
						<br/><br/>
		
						iv) Utilizar listas de distribución a las que pueda accederse a través del WEBSITE o de los Servicios o Canales para la realización de las actividades señaladas en los apartados i) a iii) anteriores.
		
						<br/><br/>
		
						v) Poner a disposición de terceros, con cualquier finalidad, datos captados a partir de listas de distribución.
		
						<br/><br/>
		
						vi) Obtener, e incluso intentar obtener, informaciones y cualquier clase de material accesible a través del WEBSITE o de los Servicios o Canales empleando para ello procedimientos distintos de los puestos a su disposición.
		
						<br/><br/>
		
						vii) Hacer un uso no correcto de los contenidos del WEBSITE utilizándolos con fines distintos a los previstos, reproduciéndolos, modificándolos o transformándolos.
		
						<br/><br/>
		
						viii) El USUARIO se obliga a no reproducir, duplicar, copiar, vender, revender o explotar para fines comerciales, cualquier sección del WEBSITE o su uso o acceso al mismo.
		
						<br/><br/>
		
						ix) En caso de hacer uso de cadenas de distribución el USUARIO garantiza la tenencia de las autorizaciones y derechos necesarios.							
		
					</p>
		
					
		
					<p>
		
						El USUARIO al comunicarse con este WEBSITE, confirma que:
		
						<br/><br/>
		
						i) Tiene todos los derechos legales necesarios, incluyendo, sin limitación, los derechos de propiedad intelectual, al material e información que transmite o envía a este WEBSITE.
		
						<br/><br/>
		
						ii) Asume la total responsabilidad por cualquier material que transmita o envíe a este WEBSITE.
		
						<br/><br/>
		
						iii) No transmitirá o enviará a este WEBSITE ningún material ilegal, confidencial, difamatorio, obsceno, amenazante, sexual o racialmente ofensivo, abusivo, dañino o en cualquier caso inaceptable.
		
						<br/><br/>
		
						iv) Acepta la Política de confidencialidad del WEBSITE. En relación con esta cuestión, queda igualmente informado de que PERU.COM S.A. es exclusivamente titular y responsable de este WEBSITE, por lo que cualquier información que pudiera ser enviada a cualesquier otro WEBSITE distinto de este y aunque la conexión a los mismos viniese dada por la utilización de cualesquiera de los enlaces recomendados, dicha conexión y eventual envío de información a dichos otros WEBSITE se efectúa bajo la responsabilidad del usuario. En todo caso, y por lo que se refiere a este WEBSITE, de acuerdo con la política de confidencialidad fijada para el mismo.							
		
					</p>
		
					
		
					
		
					<h5>2.6. PROPIEDAD INTELECTUAL</h5>
		
					<p>
		
						Todo el software utilizado en el WEBSITE y todo el contenido incluido en él sin limitación al diseño del WEBSITE, los textos y elementos gráficos constitutivos del WEBSITE, así como la selección y diseño del contenido difundidos a través de éste, su presentación y montaje, son de titularidad exclusiva de la EMPRESA quien ostenta los derechos de explotación de éstos a través de acuerdos con terceros. En este sentido, constituyen obras protegidas como tales por el conjunto de la regulación peruana en el ámbito de la propiedad intelectual, resultándoles, asimismo, de aplicación los tratados internacionales suscritos en este campo.
		
						<br/><br/>
		
						La EMPRESA no concede licencia o autorización de uso alguna sobre sus derechos de propiedad industrial e intelectual o sobre cualquier otra propiedad o derecho relacionado con su WEBSITE, salvo expreso acuerdo con terceros. En particular, se recuerda que se prohíbe cualquier reproducción, comunicación o puesta a disposición que exceda la mera consulta privada.
		
						<br/><br/>
		
						Queda prohibida la reproducción, distribución, puesta a disposición, comunicación pública y utilización, total o parcial, de los contenidos de esta publicación, en cualquier otra forma o modalidad, sin previa, expresa y escrita autorización, de LA EMPRESA, incluyendo, en particular, su mera reproducción y/o puesta a disposición como resúmenes, reseñas o revistas de prensa con fines comerciales o directa o indirectamente lucrativos, a la que se manifiesta oposición expresa. Salvo que se trate de descargar una copia de los resúmenes del WEBSITE en cualquier ordenador únicamente para uso personal, doméstico y no comercial, siempre que se mantengan intactas las advertencias sobre derechos de propiedad intelectual y cualquier otra advertencia de propiedad. 
		
						<br/><br/>
		
						Está prohibido modificar el Contenido o usar parte del Contenido para otro propósito que no sea el establecido en estos Términos (incluyendo, sin limitación, en cualquier otro sitio Web o red informática).
		
						<br/><br/>
		
						Quedan igualmente prohibidas a título enunciativo más no limitativo:
		
						<br/><br/>
		
						La presentación de una página de este WEBSITE en una ventana que no pertenezca a la EMPRESA, mediante la técnica denominada "framing" a no ser que cuente con el expreso acuerdo de la EMPRESA;
		
						<br/><br/>
		
						La inserción de una imagen difundida en el WEBSITE en una página no perteneciente a la EMPRESA, mediante la técnica denominada "in line linking" si ello no cuenta con la expresa autorización de la EMPRESA;
		
						<br/><br/>
		
						La extracción de elementos del WEBSITE causando un perjuicio cualquiera en relación a la Protección Jurídica de las Bases de Datos.
		
						<br/><br/>
		
						Los derechos no expresamente concedidos anteriormente quedan reservados a la EMPRESA o en su caso, a los terceros colaboradores de la EMPRESA.
		
						<br/><br/>
		
						Todos los nombres comerciales, marcas o signos distintivos, logotipos, símbolos, marcas mixtas, figurativas o nominativas que aparecen en este WEBSITE pertenecen a la EMPRESA o en su defecto, la EMPRESA ostenta las correspondientes licencias de uso sobre los mismos.
		
					</p>
		
					
		
					<h5>2.7. OTRAS RESPONSABILIDADES</h5>
		
					<h6>2.7.1 Exención de responsabilidad de la EMPRESA</h6>
		
					<p>
		
						Dada la gratuidad de los Servicios ofrecidos por la EMPRESA y las especialidades de Internet, ésta no se hace responsable de:
		
						<br/><br/>
		
						i) la falta de disponibilidad y continuidad por el funcionamiento, utilidad y fiabilidad de los Servicios y del WEBSITE;
		
						<br/><br/>
		
						ii) la alteración de la privacidad y seguridad en la utilización y contenidos del WEBSITE y de los servicios por terceros ajenos a los mismos de acuerdo con el régimen legal vigente;
		
						<br/><br/>
		
						iii) la presencia de virus o a la presencia de otros elementos falsos en los servicios ofrecidos por terceros a través del WEBSITE que puedan producir alteraciones en el sistema informático, documentos electrónicos o ficheros de los usuarios;
		
						<br/><br/>
		
						iv) la falta de veracidad, exactitud, exhaustividad y actualidad de los contenidos ofrecidos por sí misma o por terceros;
		
						<br/><br/>
		
						v) la información, contenidos y servicios alojados fuera del WEBSITE, aunque fueran accesibles desde este;
		
						<br/><br/>
		
						vi) la falta de disponibilidad y continuidad por el funcionamiento, utilidad y fiabilidad de los Servicios y del WEBSITE de terceros colaboradores de la EMPRESA.							
		
						<br/><br/>	
		
						
		
						<b>Responsabilidad del USUARIO</b>
		
						<br/><br/>	
		
						El USUARIO es el único y exclusivo responsable de su identificación de acceso al servicio. Dicha identificación se compone del código de la contraseña y de su nombre de usuario. Las consecuencias derivadas de su uso por terceros, su mal uso, pérdida u olvido de los usuarios o bien del nombre de usuario es de única y exclusiva responsabilidad del propio USUARIO.
		
						<br/><br/>	
		
						Debido a la naturaleza inmaterial, lúdica y gratuita de la mayor parte de los Servicios, así como sus características técnicas, los USUARIOS admiten que podrá haber problemas y/o fallos en cuanto a las comunicaciones con el WEBSITE y que aceptan que la EMPRESA no ofrece garantía alguna en cuanto a la utilización, fiabilidad, resultados o actualidad del WEBSITE o del servicio suministrado.
		
						<br/><br/>	
		
						El USUARIO es el único y exclusivo responsable del uso por su parte del WEBSITE y de los servicios, consciente de ello, acepta voluntariamente tal responsabilidad.
		
					</p>
		
					
		
					<h5>2.8. VARIOS</h5>
		
					<h6>2.8.1 Cambios en estas condiciones de uso</h6>
		
					
		
					<p>
		
						La EMPRESA se reserva el derecho añadir o modificar la presente política de acuerdo a su criterio y/o para adaptarla a novedades o exigencias legislativas y jurisprudenciales así como a prácticas de la industria, teniendo en todo momento en cuenta los legítimos intereses del consumidor o del USUARIO. Ciertos servicios prestados en el WEBSITE pueden contener condiciones particulares con previsiones específicas en materia de protección de datos personales.							
		
					</p>
		
					
		
					<h6>2.8.2 Cese</h6>
		
					
		
					<p>
		
						Si cualquiera de estos Términos y condiciones de uso es considerado inválido, ilegal o no se puede hacer cumplir por orden de un tribunal en cualquier territorio, entonces, hasta el punto que se considere y con relación únicamente al territorio relevante, esa provisión cesará y se eliminará, siempre que las provisiones restantes de estos Términos y condiciones de uso permanezcan vinculantes y se hagan cumplir y que la provisión cesada también permanezca en los demás territorios.
		
						<br/><br/>
		
						Este documento puede sufrir cambios que serán comunicados a los USUARIOS mediante publicación en el WEBSITE.
		
					</p>
		
					
		
					<h6>2.8.3 Legislación y jurisdicción aplicables</h6>
		
					
		
					<p>
		
						Los presentes Terminos y Condiciones de Uso se rigen por la ley peruana y serán aplicados e interpretados de acuerdo con la legislación peruana. Cualquier disputa que surja en su aplicación se verá únicamente ante los tribunales con jurisdicción en Lima, Perú.
		
					</p>	
		</div>
</section>



<aside class="content-body-aside">
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);
    ?>

    

    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>

</aside>	