<section class="content-body-section">
		<h2>Noticias &gt; Detalle de noticias </h2>
                <h5><a class="boton1 right" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'noticias','action'=>'index'),'',true);?>">Regresar</a></h5>
                <h3><span><?php echo $this->noticia['titulo']; ?></span></h3>
		<?php 
                        $data['url'] = $this->rutaBase.$this->url();
			echo $this->partial('partials/_nav_compartir_right.phtml',$data);
		?>							
		
		<section class="content-vf-solo">
				<div class="cvs-vf">
                                    <?php if(!empty($this->noticia['nombre'])):?>
                                            <img alt="" src="<?php echo $this->rutaFotos.$this->noticia['nombre'];?>">
                                    <?php else:?>
                                            <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                    <?php endif;?>
				</div>
				<div class="cvs-des">
					<p>
                                            <?php echo $this->noticia['resumen']; ?>
					</p>
				</div>
		</section>
		
		<div class="content-des">
				<p>
                                    <?php echo $this->noticia['descripcion']; ?>
                                </p>
		</div>	
		
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>