<section class="bolsa-trabajo-section">
		<h2>La Evolución del Deporte &gt; Noticias</h2>
		<h1>NOTICIAS</h1>
		<div class="content-busqueda">
			<form  id="frmNoticiasBusqueda" method="POST" action="<?php echo $this->baseUrl();?>/usuarios/noticias/index" >
				<h3>CRITERIOS DE BUSQUEDA</h3>
				<dl>
					<dt>
						<span class="span-text">Escriba en la caja de texto.</span>
					</dt>
					<dd>
						<input type="text" id="txtBusqueda" name="txtBusqueda" value="">
						
						<input type="submit" id="btnBusqueda" name="btnBusqueda" value=""/>
					</dd>
				</dl>
														
			</form>
		</div>
		
		<h4>
			<!-- Resultados de la búsqueda: Informática/Telecomunicaciones <span>1 de 50 </span -->
		</h4>
                <section id="content-avisos">
                        <?php if(count($this->noticias)):?>
                                    <?php foreach($this->noticias as $noticia) : ?>
                                                    <article>
                                                        <div class="ca-foto">
                                                            <?php if(!empty($noticia['nombre'])):?>
                                                                    <img alt="" src="<?php echo $this->rutaFotos.$noticia['nombre'];?>">
                                                            <?php else:?>
                                                                    <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                                            <?php endif;?>

                                                        </div>
                                                        <div class="ca-descripcion">
                                                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'noticias','action'=>'detalle','id'=>$noticia['id']),'',true);?>"><?php echo $this->escape($noticia['titulo']);?></a>
                                                            <span>
                                                                <?php
                                                                    $dato = new My_Funciones();
                                                                    echo $dato->fecha1($noticia['fecha_registro']); 
                                                                ?>

                                                            </span>								
                                                            <p>
                                                                   <?php echo $noticia['descripcion']; ?>
                                                            </p>
                                                            <?php 
                                                                    $data['url'] = $this->rutaBase.$this->url(array('module'=>'usuarios','controller'=>'noticias','action'=>'detalle','id'=>$noticia['id']),'',true);
                                                                    echo $this->partial('partials/_nav_compartir_left.phtml',$data);
                                                            ?>
                                                        </div>
                                                    </article>

                                    <?php endforeach; ?>
                    
                                    <?php
                                        $valores['parametros']='/buscar/'.$this->parametros;
                                        $valores['urlPagination']=$this->baseUrl().'/noticias/index';

                                        echo $this->paginationControl($this->noticias,'Sliding','paginator/paguinar.phtml',$valores);
                                    ?>
                        <?php else:?>
                                    <dl><dd>No hay datos</dd></dl>
                        <?php endif;?>
                            
                               
                            
                </section>
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>