<section class="full_w">
    <div class="h_title">Editar datos del Deportista</div>
    <div class="entry">
        <a class="button" href="<?php echo $this->url(array('controller'=>'deportistas','action'=>'index'));?>">Deportistas</a>
        <div class="sep"></div>
    </div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>El deportista fue grabado.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al actualizar datos del deportista.</p></div>
    <?php  } ?> 
    <form id="frmDeportista" enctype="multipart/form-data" action="" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/deportistas/editar">
                <div class="element">
                        <label for="name">Nombres <span class="msg-error"><p id="error-nombres">* Ingrese su(s) nombre(s).</p></span></label>
                         <?php 
                            $propertiesId= array('id' => 'id');
                            echo $this -> frmDeportista -> id -> setAttribs($propertiesId)-> renderViewHelper();
                        ?>
                         <?php 
                            $propertiesNombres = array('id' => 'txtNombres');
                            echo $this -> frmDeportista -> txtNombres -> setAttribs($propertiesNombres) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Apellidos <span class="msg-error"><p id="error-apellidos">* Ingrese sus apellidos.</p></span></label>
                         <?php 
                            $propertiesApellidos= array('id' => 'txtApellidos');
                            echo $this -> frmDeportista -> txtApellidos -> setAttribs($propertiesApellidos) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">DNI <span class="msg-error"><p id="error-dni">* Ingrese su numero de dni.</p></span></label>
                         <?php 
                            $propertiesDni= array('id' => 'txtDni');
                            echo $this -> frmDeportista -> txtDni -> setAttribs($propertiesDni) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Departamento <span class="msg-error"><p id="error-departamento">* Seleccione un departamento.</p></span></label>
                         <?php 
                            $propertiesDepartamento= array('id' => 'sltDepartamento');
                            echo $this -> frmDeportista -> sltDepartamento -> setAttribs($propertiesDepartamento) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Email <span class="msg-error"><p id="error-email">* Ingrese un email.</p></span></label>
                         <?php 
                            $propertiesEmail= array('id' => 'txtEmail');
                            echo $this -> frmDeportista -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Equipo <span class="msg-error"><p id="error-equipo">* Seleccione un equipo.</p></span></label>
                         <?php 
                            $propertiesEquipo= array('id' => 'sltEquipo');
                            echo $this -> frmDeportista -> sltEquipo -> setAttribs($propertiesEquipo) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="entry">
                        <?php 
                            $propertiesBtnSede = array('id' => 'btnDeportista');
                            echo $this -> frmDeportista -> btnDeportista -> setAttribs($propertiesBtnSede) -> renderViewHelper();                            
                        ?>
                        <!-- button type="submit" class="add">Guardar</button> 
                        <button class="cancel">Cancelar</button -->
                </div>
        </form>
</section>