<section>
        <div class="h_title">Deportistas</div>
        <!-- h2>Lista de deportistas</h2 -->
        <div class="entry">
                <a class="button add" href="<?php echo $this->url(array('controller'=>'deportistas','action'=>'nuevo'));?>">A&ntilde;adir deportista</a>
                <div class="sep"></div>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Dni</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Email</th>
                            <th scope="col">Equipo</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php foreach($this->paginator as $sede) : ?>
                        <tr>		
                            <td class="align-center">-</td>   
                            <td><?php echo $this->escape($sede['nombres']).','.$this->escape($sede['apellidos']); ?></td>
                            <td><?php echo $this->escape($sede['dni']); ?></td>
                            <td><?php echo $this->escape($sede['departamento']); ?></td>
                            <td><?php echo $this->escape($sede['email']); ?></td>
                            <?php if($sede['equipo_id'] == 0):?>
                            <td><?php echo 'Sin equipo'; ?></td>
                            <?php else:?>
                            <td><strong><?php echo $this->escape($sede['nombre']); ?></strong></td>
                            <?php endif;?>
                            
                            <td>
                                <!-- a class="table-icon detalle" href="<?php //echo $this->url(array('controller'=>'equipos', 'action'=>'detalle', 'id'=>$sede['id']));?>"></a -->
                                <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'deportistas', 'action'=>'editar', 'id'=>$sede['id']));?>"></a>
                                <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'deportistas', 'action'=>'borrar', 'id'=>$sede['id']));?>"></a>
                            </td>		
                        </tr>	
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                </div>
                
        </div>
</section>
