<?php  

if ($this->pageCount): ?>  
            <section class="content-pagination">
			<nav id="pagination">
				 
					<!-- Previous page link -->  
					<?php if (isset($this->previous)): ?>  
                                                          <a class="pagination-anterior" href="<?php echo $this->urlPagination.'/page/'.$this->previous.$this->parametros; ?>">&lt; Anterior</a>
					<?php else: ?>  
							  <span class="disabled">&lt; Anterior</span>   
					<?php endif; ?> 
				
					<div> 
                                                <?php foreach ($this->pagesInRange as $page): ?>
                                                            <a href="<?php echo $this->urlPagination.'/page/'.$page.$this->parametros; ?>">   
                                                                <?php echo $page; ?>   
                                                            </a>
                                                <?php endforeach;?>
					</div>
			
			
					<!-- Next page link -->  
					<?php if (isset($this->next)): ?>
                                                                <a class="pagination-siguiente" href="<?php echo $this->urlPagination.'/page/'.$this->next.$this->parametros; ?>">Siguiente &gt;</a>
					<?php else: ?>  
					  			<span class="disabled">Siguiente &gt;</span>  
					<?php endif; ?>  
			</nav>
            </section>
 <?php endif; ?>  