<section class="full_w">
    <div class="h_title">Nuevo Evento</div>
    <div class="entry">
        <a class="button" href="<?php echo $this->url(array('module'=>'admin','controller'=>'federaciones','action'=>'index'));?>">Listado de Eventos</a>
        <div class="sep"></div>
    </div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==0){ ?>                
                <div class="n_ok"><p>Puede crear  todos los eventos que crea conveniente. Todos los campos marcados con (*) son obligatorios</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==1){ ?>
                <div class="n_ok"><p>Se registró correctamente.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==2){ ?>
                <div class="n_error"><p>Error al registrar la sede.</p></div>            
    <?php  } ?> 
    <form id="frmFederaciones" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/admin/federaciones/add" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/federaciones/add">
                <div class="element">
                        <label for="name">Nombre de Federación (*) <span class="msg-error"><p id="error-nombre">* Ingrese el nombre de la federación.</p></span></label>
                        
                         <?php 
                            $propertiesNombre= array('id' => 'txtNombre','class'=>'text');
                            echo $this -> frmFederaciones -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Departamento (*)<span class="msg-error"><p id="error-departamento">* Seleccione un departamento.</p></span></label>
                         <?php 
                            $url=$this->baseUrl().'/calendario/getprovincias';
                            $propertiesDepartamentos= array('id' => 'departamento','data-source'=>$url,'class'=>'text');
                            echo $this -> frmFederaciones -> departamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Provincia (*)<span class="msg-error"><p id="error-provincia">* Seleccione una provincia.</p></span></label>
                         <?php
                                $url=$this->baseUrl().'/calendario/getdistritos';
                                $propertiesProvincias= array('id' => 'provincia','data-source'=>$url,'class'=>'text');
                                echo $this -> frmFederaciones -> provincia -> setAttribs($propertiesProvincias) -> renderViewHelper();
                            ?>
                </div>
                <div class="element">
                    <label for="name">Distrito (*)<span class="msg-error"><p id="error-distrito">* Seleccione un distrito.</p></span></label>
                         <?php 
                                $propertiesDistrito= array('id' => 'distrito','class'=>'text');
                                echo $this -> frmFederaciones -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Dirección (*)<span class="msg-error"><p id="error-direccion">* Falta escribir la dirección.</p></span></label>
                         <?php 
                                $propertiesDireccion= array('id' => 'txtDireccion');
                                echo $this -> frmFederaciones -> txtDireccion -> setAttribs($propertiesDireccion) -> renderViewHelper();
                            ?>
                </div>
                
                <div class="element">
                    <label for="name">Telefono </label>
                         <?php 
                                $propertiesTelefono= array('id' => 'txtTelefono','class'=>'text');
                                echo $this -> frmFederaciones -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Web </label>
                         <?php 
                                $propertiesWeb= array('id' => 'txtWeb','class'=>'text');
                                echo $this -> frmFederaciones -> txtWeb -> setAttribs($propertiesWeb) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Email <span class="msg-error"><p id="error-email">* Ingrese un email.</p></span></label>
                         <?php 
                            $propertiesEmail= array('id' => 'txtEmail','class'=>'text');
                            echo $this -> frmFederaciones -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();
                        ?>
                </div>
        
                <div class="element">
                    <label for="name">Resolución <span class="msg-error"><p id="error-resolucion">* Ingrese la resolucion.</p></span></label>
                         <?php 
                            $propertiesResolucion= array('id' => 'txtResolucion','class'=>'text');
                            echo $this -> frmFederaciones -> txtResolucion -> setAttribs($propertiesResolucion) -> renderViewHelper();
                        ?>
                </div>
                
                <div class="element">
                    <label for="name">Presidente <span class="msg-error"><p id="error-presidente">* Ingrese el nombre del presidente.</p></span></label>
                         <?php 
                            $propertiesPresidente= array('id' => 'txtPresidente','class'=>'text');
                            echo $this -> frmFederaciones -> txtPresidente -> setAttribs($propertiesPresidente) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Visepresidente <span class="msg-error"><p id="error-visepresidente">* Ingrese el nombre del presidente.</p></span></label>
                         <?php 
                            $propertiesVisepresidente= array('id' => 'txtVisepresidente','class'=>'text');
                            echo $this -> frmFederaciones -> txtVisepresidente -> setAttribs($propertiesVisepresidente) -> renderViewHelper();
                        ?>
                </div>
                
                <div class="element">
                    <label for="name">Secretario(a) <span class="msg-error"><p id="error-secretario">* Ingrese el nombre del secretario.</p></span></label>
                         <?php 
                            $propertiesSecretario= array('id' => 'txtSecretario','class'=>'text');
                            echo $this -> frmFederaciones -> txtSecretario -> setAttribs($propertiesSecretario) -> renderViewHelper();
                        ?>
                </div>
        
                <div class="element">
                    <label for="name">Tesorero <span class="msg-error"><p id="error-tesorero">* Ingrese el nombre del tesorero.</p></span></label>
                         <?php 
                            $propertiesTesorero= array('id' => 'txtTesorero','class'=>'text');
                            echo $this -> frmFederaciones -> txtTesorero -> setAttribs($propertiesTesorero) -> renderViewHelper();
                        ?>
                </div>
        
                <div class="element">
                    <label for="name">Vocal <span class="msg-error"><p id="error-vocal">* Ingrese el nombre del vocal.</p></span></label>
                         <?php 
                            $propertiesVocal= array('id' => 'txtVocal','class'=>'text');
                            echo $this -> frmFederaciones -> txtVocal -> setAttribs($propertiesVocal) -> renderViewHelper();
                        ?>
                </div>
                
                <div class="element">
                    <label for="name">Twitter </label>
                         <?php 
                                $propertiesTwitter= array('id' => 'txtTwitter','class'=>'text');
                                echo $this -> frmFederaciones -> txtTwitter -> setAttribs($propertiesTwitter) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Facebook </label>
                         <?php 
                                $propertiesFacebook= array('id' => 'txtFacebook','class'=>'text');
                                echo $this -> frmFederaciones -> txtFacebook -> setAttribs($propertiesFacebook) -> renderViewHelper();
                            ?>
                </div>
                        
                <div class="element">
                        <label for="content">Logo Imagen<span class="msg-error"><p id="error-descripcion">* Ingrese el logo.</p></span></label>                        
                        <input type="file" name="imagen" size="100">
                </div>
        
        
                <div class="entry">
                        <input type="submit" name="btnRegistrarEvento" id="btnRegistrarEvento" value="Registrar" class="boton1">
                </div>
        </form>
</section>