<section>
        <div class="h_title">Noticias</div>
        
        <div class="entry">                
                <a class="button add" href="<?php echo $this->url(array('module'=>'admin','controller'=>'federaciones','action'=>'add'),"",true);?>">A&ntilde;adir nueva Federación</a>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">Nombre de la Federación</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Email</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->federaciones)):?>
                                <?php foreach($this->federaciones as $row) : ?>
                                    <tr>		
                                        <td ><?php echo $row['nombre'];?></td>   
                                        <td class="align-center"><?php echo $row['telefono'];?></td>
                                        <td class="align-center"><?php echo $row['email'];?></td>
                                        <td>
                                            <a class="table-icon edit" href="<?php echo $this->url(array('module' => 'admin','controller' => 'federaciones','action' => 'update', 'id' => $this->escape($row['id'])),"",true); ?>"></a>
                                            <a class="table-icon delete" href="<?php echo $this->url(array('module' => 'admin','controller' => 'federaciones','action' => 'delete', 'id' => $this->escape($row['id'])),"",true); ?>"></a>
                                            
                                        </td>		
                                    </tr>	
                                <?php endforeach; ?>
                    <?php else:?>
                                    <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php                                        
                            $valores['parametros']='';
                            $valores['urlPagination']=$this->baseUrl().'/admin/federaciones/index';

                            echo $this->paginationControl($this->federaciones,'Sliding','paginator/paguinar.phtml',$valores);
                        ?>
                </div>                 
        </div>
</section>