<section class="full_w">
    <div class="h_title">Eliminar sede deportiva</div>
    <p>¿Estas seguro que quieres borrar la sede deportiva? 
    </p>
    <form action="<?php echo $this->baseUrl(); ?>/admin/sede-deportiva/borrar" method="post">
            <div>
                    <input type="hidden" name="id" value="<?php echo $this->sede['id']; ?>" />
                    <input type="submit" name="del" value="Si" />
                    <input type="submit" name="del" value="No" />
            </div>
    </form>
</section>