<section>
        <div class="h_title">Detalle sede deportiva</div>
        <div class="entry">
                <a class="button" href="<?php echo $this->url(array('controller'=>'sede-deportiva','action'=>'index'));?>">Sedes deportivas</a>
                <div class="sep"></div>
        </div>
        <div class="element">
                <label>Nombre</label>
                <p><?php echo $this->sede['nombre'];?></p>
        </div>
        <div class="element">
                <label>Ubicacion</label>
                <p><?php echo $this->sede['ubicacion'];?></p>
        </div>
        <div class="element">
                <label>Telefono</label>
                <p><?php echo $this->sede['telefono'];?></p>
        </div>
        <div class="element">
                <label>Email</label>
                <p><?php echo $this->sede['email'];?></p>
        </div>
        <div class="element">
                <label>Equipamiento</label>
                <p><?php echo $this->sede['equipamiento'];?></p>
        </div>
        <div class="element">
                <label>Horario de atencion</label>
                <p><?php echo $this->sede['horario_atencion'];?></p>
        </div>
        <div class="element">
                <label>Costo por hora</label>
                <p><?php echo $this->sede['costo_hora'];?></p>
        </div>
        <div class="element">
                <label>Responsable</label>
                <p><?php echo $this->sede['responsable'];?></p>
        </div>
</section>