<section>
        <div class="h_title">Sedes deportivas</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <a class="button add" href="<?php echo $this->url(array('controller'=>'sede-deportiva','action'=>'nuevo'));?>">A&ntilde;adir nueva sede</a>
                
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Sede</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php $num=1;?>
                    
                    <?php foreach($this->paginator as $sede) : ?>
                        <tr>		
                            <td class="align-center"><?php echo $num;?></td>   
                            <td><?php echo $this->escape($sede['nombre']); ?></td>
                            <td><?php echo $this->escape($sede['ubicacion']); ?></td>
                            <td><?php echo $this->escape($sede['responsable']); ?></td>
                            <td><?php echo $this->escape($sede['email']); ?></td>
                            <td><?php echo $this->escape($sede['telefono']); ?></td>
                            <td>
                                <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'sede-deportiva', 'action'=>'update', 'id'=>$sede['id']));?>"></a>
                                <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'sede-deportiva', 'action'=>'borrar', 'id'=>$sede['id']));?>"></a>
                            </td>		
                        </tr>	
                        <?php $num+=1;?>
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                </div>
                
        </div>
</section>
