<section class="full_w">
    <div class="h_title">Nueva sede deportiva</div>
    <div class="entry">
        <a class="button" href="<?php echo $this->url(array('controller'=>'sede-deportiva','action'=>'index'));?>">Sedes deportivas</a>
        <div class="sep"></div>
    </div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>La sede deportiva fue creada.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar la sede, el peso de la imagen deb ser maximo 2MB.</p></div>
    <?php  } ?> 
    <form id="frmSedeDeportiva" name="frmSedeDeportiva" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/admin/sede-deportiva/update" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/sede-deportiva/update">
                <div class="element">
                        <label for="name">Sede nombre <span class="msg-error"><p id="error-nombre">* Ingrese el nombre de la sede deportiva.</p></span></label>
                        
                         <?php 
                            $propertiesNombre = array('id' => 'txtNombre');
                            echo $this -> frmSedeDeportiva -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Ubicacion <span class="msg-error"><p id="error-ubicacion">* Ingrese una ubicacion.</p></span></label>
                         <?php 
                            $propertiesUbicacion= array('id' => 'txtUbicacion');
                            echo $this -> frmSedeDeportiva -> txtUbicacion -> setAttribs($propertiesUbicacion) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Departamento <span class="msg-error"><p id="error-departamento">* Seleccione un departamento.</p></span></label>
                         <?php                             
                            $url=$this->baseUrl().'/calendario/getprovincias';
                            $propertiesDepartamentos= array('id' => 'sltDepartamento','data-source'=>$url);
                            echo $this -> frmSedeDeportiva -> sltDepartamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Provincia <span class="msg-error"><p id="error-provincia">* Seleccione una provincia.</p></span></label>
                         <?php                             
                            $url=$this->baseUrl().'/calendario/getdistritos';
                            $propertiesProvincias= array('id' => 'sltProvincia','data-source'=>$url);
                            echo $this -> frmSedeDeportiva -> sltProvincia -> setAttribs($propertiesProvincias) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Distrito <span class="msg-error"><p id="error-distrito">* Seleccione un distrito.</p></span></label>
                         <?php 
                            $propertiesDistrito= array('id' => 'sltDistrito');
                            echo $this -> frmSedeDeportiva -> sltDistrito -> setAttribs($propertiesDistrito) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Telefono <span class="msg-error"><p id="error-telefono">* Ingrese un telefono.</p></span></label>
                         <?php 
                            $propertiesTelefono= array('id' => 'txtTelefono');
                            echo $this -> frmSedeDeportiva -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Email <span class="msg-error"><p id="error-email">* Ingrese un email.</p></span></label>
                         <?php 
                            $propertiesEmail= array('id' => 'txtEmail');
                            echo $this -> frmSedeDeportiva -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Equipamiento <span class="msg-error"><p id="error-equipamiento">* Ingrese equipamiento.</p></span></label>
                         <?php 
                            $propertiesEquipamiento= array('id' => 'txtEquipamiento');
                            echo $this -> frmSedeDeportiva -> txtEquipamiento -> setAttribs($propertiesEquipamiento) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Horario de atencion <span class="msg-error"><p id="error-atencion"> * Ingrese horario de atencion.</p></span></label>
                         <?php 
                            $propertiesAtencion= array('id' => 'txtHoraatencion');
                            echo $this -> frmSedeDeportiva -> txtHoraatencion -> setAttribs($propertiesAtencion) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Costo por hora <span class="msg-error"><p id="error-costo">* Ingrese el costo por hora.</p></span></label>
                         <?php 
                            $propertiesCosto= array('id' => 'txtCostohora');
                            echo $this -> frmSedeDeportiva -> txtCostohora -> setAttribs($propertiesCosto) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name">Responsable<span class="msg-error"><p id="error-responsable"> * Ingrese un responsable.</p></span></label>
                         <?php 
                            $propertiesResponsable= array('id' => 'txtResponsable');
                            echo $this -> frmSedeDeportiva -> txtResponsable -> setAttribs($propertiesResponsable) -> renderViewHelper();                            
                        ?>
                </div>
        
                <div class="element">
                            <label for="name">Fotos<span class="msg-error"><p id="error-responsable"> * Ingrese un responsable.</p></span></label>
                            <!-- inicio fotos -->
                                <div class="content-ru">
                                                <p>Se puede subir hasta 3 fotos, con un tamaño de (520x370) o similares, solo acepta las extensiones (JPG, JPEG, PNG, BMP), hasta un peso máximo de (1MB).</p>
                                                
                                                <dl class="ru-controles">
                                                        <dd>    
                                                                <a id="subir-fotos" href="#" class="button left">Subir fotos</a>
                                                        </dd>
                                                </dl>
                                                
                                                <dl class="ru-error left">
                                                        <dd><p id="error-fotos">Falta subir una foto.</p></dd>
                                                </dl>
												
												<?php 
                                                    $css="";
                                                    if(isset($this->fotos)):
                                                        $css='mostrar';
                                                    endif;
                                                    
                                                    $num=0;
                                                    $countFotos=count($this->fotos);
                                                ?>
                                                
                                                <div id="content-sf" class="content-vf" tipo="fotos">
                                                			<?php foreach ($this->fotos as $foto):?>
                                                                <p id="p-<?php echo $num;?>">
                                                                        <span><?php echo $foto['nombre'];?></span>                                                                        
                                                                        <a href="#" evento="<?php echo $foto['id'];?>">eliminar</a>
                                                                </p>

                                                                <?php $num++; ?>
                                                        	<?php endforeach; ?>
                                                        	
                                                            <?php 
                                                                $propertiesGetFotos= array('id' => 'getFotos');
                                                                echo $this -> frmSedeDeportiva -> getFotos -> setAttribs($propertiesGetFotos) -> renderViewHelper();
                                                            ?>
                                                            
                                                            <input  type="hidden" id="getFotosEliminados" name="getFotosEliminados"  value=""/>
                                                </div>
                                </div>
                            <!-- fotos fotos -->
                </div>
        
                <div class="entry">
                	<?php 
                            $propertiesId= array('id' => 'id');
                            echo $this -> frmSedeDeportiva -> id -> setAttribs($propertiesId) -> renderViewHelper();
                        ?>
                        
                        <?php 
                            $propertiesFotoInicio= array('id' => 'fotoInicio');
                            echo $this -> frmSedeDeportiva -> fotoInicio -> setAttribs($propertiesFotoInicio) -> renderViewHelper();
                        ?>
                        
                        <?php 
                            $propertiesBtnSede = array('id' => 'btnRegistrarSede');
                            echo $this -> frmSedeDeportiva -> btnRegistrarSede -> setAttribs($propertiesBtnSede) -> renderViewHelper();                            
                        ?>
                        <!-- button type="submit" class="add">Guardar</button> 
                        <button class="cancel">Cancelar</button -->
                </div>
        </form>
</section>