<section class="content-body-section">
		<h2>IPD &gt; Calendario de actividades &gt; Eventos por día</h2>																
										
		<section class="lista-eventos">
			<h1>
				<a href="#" class="btnls-anterior"></a><a href="#" class="btnls-siguiente"></a>
				
                                <?php echo $this->titulo;?>
				<a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'index'),'',true);?>" class="boton1 right">Regresar</a>
			</h1>
			<div>
                                <?php  foreach ($this->eventos as $row):?>
                                            <p>
                                                    <b><?php echo $row['hora'];?></b>
                                                    <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'detalle','id'=>$row['id']),'',true);?>">
                                                            <?php echo $row['nombre_evento'];?>
                                                    </a>
                                            </p>
                                <?php  endforeach; ?>
                                            
                                            
                                            
                                
			</div>
                        
                        <?php
                            $valores['parametros']='/fecha/'.$this->parametros;                                    
                            $valores['urlPagination']=$this->baseUrl().'/calendario/listado';

                            echo $this->paginationControl($this->eventos,'Sliding','paginator/paguinar.phtml',$valores);
                        ?>
		</section>										
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>