<section class="content-body-section">
        <h2>IPD  &gt; Panel de mantenimiento</h2>
	<h3><span>PANEL DE MANTENIMIENTO</span> </h3>
        
        <?php            
            /*
            $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'mm-active');
            $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'');
            
            $data['menu']=$setMenu;
            echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
            */
        ?>
        <div class="content-msg">                        
                <div class="note note-blue" id="msg-form">                        
                        <b>Nota</b>: Puede crear eventos, registrar equipos y hacer que tus equipos participen en tus eventos. 					
                </div>
        </div>
        <nav class="submenu-matenimiento" >
            <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'add'),"",TRUE);?>" class="boton7">Nuevo Evento</a>
        </nav>
        
        <div id="grilla" class="gilla-1">					
                <dl class="titulos">
                        <dt class="ancho-1">Título del Evento</dt>
                        <dt class="ancho-2">Fecha Inicio</dt>
                        <dt class="ancho-2">Fecha Fin</dt>
                        <dt class="ancho-2">Editar </dt>
                        <dt class="ancho-2">Eliminar</dt>
                </dl>
                <?php $num=1;?> 
                <?php foreach ($this->eventos as $row):?>
                        <?php if($num==3){$num=1;}?>
                        <dl class="contenido <?php echo 'fila-'.$num;?>">
                                <dd class="ancho-1"><?php echo $row['nombre_evento'];?></dd>
                                <dd class="ancho-2"><?php echo $row['fecha_inicio'];?></dd>
                                <dd class="ancho-2"><?php echo $row['fecha_fin'];?></dd>
                                <dd class="ancho-2"><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'calendario','action' => 'update', 'id' => $this->escape($row['id'])),"",true); ?>">Editar</a></dd>
                                <dd class="ancho-2"><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'calendario','action' => 'delete', 'id' => $this->escape($row['id'])),"",true); ?>">Eliminar</a></dd>
                        </dl>
                        <?php $num=$num+1;?>
                <?php endforeach;?>
        </div>
        
        <?php
            $valores['parametros']='';                                    
            $valores['urlPagination']=$this->baseUrl().'/calendario/listaeventos';

            echo $this->paginationControl($this->eventos,'Sliding','paginator/paguinar.phtml',$valores);
        ?>
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>