<nav id="menu">
        <?php foreach ($this->menu as $menu):?>
            <a href="<?php echo $menu['ruta'];?>">
                <?php echo $menu['nombre'];?>
            </a>
        <?php endforeach;?>
</nav>