<section class="bolsa-trabajo-section">
		<h2>La Evolución del Deporte &gt; Consejo Regional del Deporte</h2>
                <h1>CONSEJO REGIONAL DEL DEPORTE</h1>
				<h3>
					Desarrollar las capacitaciones dictadas a la fecha en cada región.
				</h3>
                <h4 class="tit-regiones">Has click sobre el mapa <br> para ver la información de la región</h4>

                <div class="content-mapa-crd">
                                <img src="<?php echo $this->baseUrl();?>/static/images/mapa.jpg" alt="es un mapa" width="290" height="430" border="0" usemap="#Map" />
                            <map name="Map" id="Map">
                              <area shape="poly" coords="25,88" href="#" />
                              <area id="map-oriente" shape="poly" coords="91,74,112,69,125,51,132,37,134,28,132,18,141,13,151,19,158,32,166,40,175,47,183,54,185,65,194,69,207,69,216,65,226,66,233,66,250,73,248,80,238,95,247,99,256,105,254,109,244,106,229,112,215,114,197,123,190,129,185,141,179,148,184,155,173,161,169,174,167,181,175,199,186,209,189,215,182,223,196,226,204,229,204,235,209,236,220,237,228,237,240,223,240,258,260,259,283,289,279,298,266,308,246,306,235,305,231,307,225,297,216,295,208,291,203,274,204,265,194,265,186,263,178,263,174,253,167,253,162,253,160,241,156,223,151,213,154,207,150,205,145,210,141,219,131,219,126,212,124,200,105,198,101,192,93,188,86,167,96,153,84,143,82,122,89,104,85,94,84,87,80,79" href="#" />
                              <area id="map-norte" shape="poly" coords="78,81,66,98,61,118,49,123,41,112,24,108,24,103,34,98,25,88,9,98,3,110,5,121,11,135,7,145,9,152,23,160,35,168,45,182,58,201,63,214,71,236,77,245,85,244,91,246,102,237,100,226,97,212,93,197,86,185,81,172,82,160,90,156,80,147,79,136,80,120,85,104,79,91" href="#" />
                              <area id="map-centro" shape="poly" coords="100,203,118,207,127,221,133,223,147,218,152,229,158,243,159,254,151,258,163,261,170,264,171,259,176,264,174,270,177,284,169,286,154,285,157,296,154,305,147,309,146,321,141,327,141,337,148,341,147,348,141,351,132,343,119,332,114,321,118,310,109,298,101,285,94,274,85,256,81,251,92,251,98,246,106,239,104,227,105,218,100,210" href="#" />
                              <area id="map-sur" shape="poly" coords="146,357,152,350,149,338,145,332,148,330,151,313,160,305,160,289,176,289,182,282,180,270,187,270,197,270,200,278,207,294,224,304,235,309,248,311,265,313,278,308,277,322,277,332,268,342,273,350,270,362,286,372,278,383,267,395,263,402,258,412,247,420,231,413,221,403,223,398,194,381,170,374,156,364" href="#" />
                            </map>								
                </div>

                <h5 id="tit-regiones-tipo"></h5>

                <section id="content-regiones">
                                <h3 id="tit-regiones-tipo2">OFICINA DE COORDINACIÓN REGIONAL, COOPERACIÓN Y RELACIONES NACIONALES E INTERNACIONALES</h3>
                                <article id="centro" class="mostrar2">												
                                                <div class="grilla-regiones">
                                                                <h4>PRESIDENTES DE CONSEJOS REGIONALES DEL DEPORTE - IPD</h4>

                                                                <div class="gr-mb-data">
                                                                                <dl >
                                                                                        <dt>REGION</dt>
                                                                                        <dt>PRESIDENTE</dt>
                                                                                        <dt>DIRECCIÓN</dt>
                                                                                        <dt>COD.</dt>
                                                                                        <dt>TELEFONO</dt>
                                                                                        <dt>CEL Y RPM IPD</dt>
                                                                                        <dt>CORREO ELECTRÓNICO</dt>
                                                                                </dl>														
                                                                                <dl >
                                                                                        <dd>HUANCAVELICA</dd>
                                                                                        <dd>MARIO RODRIGUEZ VILLANUEVA Res. Nº 662-2012-P-IPD</dd>
                                                                                        <dd>Jr. O´Donovan Nº 653 - Huancavelica</dd>
                                                                                        <dd>067</dd>
                                                                                        <dd>452878</dd>
                                                                                        <dd>9692462 #951082</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>huancavelica@ipd.gob.pe</li>
                                                                                                        <li>huancavelica-secre@ipd.gob.pe</li>
                                                                                                        <li>huancavelica-admin@ipd.gob.pe</li>
                                                                                                        <li>huancavelica-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>

                                                                                <dl>
                                                                                        <dd>HUÁNUCO</dd>
                                                                                        <dd>CARLOS CHÁVEZ HUAPALLA Res. Nº168-2011-P-IPD</dd>
                                                                                        <dd>Coliseo Cerrado 15 de Agosto - Pta. 1 - Paucarbamba - Amarilis -Huánuco</dd>
                                                                                        <dd>062</dd>
                                                                                        <dd>520150 520056 Fax</dd>
                                                                                        <dd>9704818 #951083</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>huanuco@ipd.gob.pe</li>
                                                                                                        <li>huanuco-secre@ipd.gob.pe</li>
                                                                                                        <li>huanuco-admin@ipd.gob.pe</li>
                                                                                                        <li>huanuco-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>ICA</dd>
                                                                                        <dd>JOSE MARIN LARA Res. Nº 675-2012-P-IPD</dd>
                                                                                        <dd>Calle Amapolas - 4ta. Cdra. - San Isidro - Ica</dd>
                                                                                        <dd>056</dd>
                                                                                        <dd>234521</dd>
                                                                                        <dd>#951091</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>ica@ipd.gob.pe</li>
                                                                                                        <li>ica-secre@ipd.gob.pe</li>
                                                                                                        <li>ica-admin@ipd.gob.pe</li>
                                                                                                        <li>ica-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>JUNIN</dd>
                                                                                        <dd>ARTURO WILLIAN CARDENAS TOVAR Res Nº 145-2011-P-IPD</dd>
                                                                                        <dd>Av. Tarapacá s/n - Estad. Huancayo, 2º Piso - Huancayo</dd>
                                                                                        <dd>064</dd>
                                                                                        <dd>215927 231387 F-633937</dd>
                                                                                        <dd>954866070 #951092 #816757</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>junin@ipd.gob.pe</li>
                                                                                                        <li>junin-secre@ipd.gob.pe</li>
                                                                                                        <li>junin-admin@ipd.gob.pe</li>
                                                                                                        <li>junin-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>LIMA PROVINCIAS</dd>
                                                                                        <dd>JORGE LUIS ROBLES DAVILA Res. Nº 491-2012-P-IPD</dd>
                                                                                        <dd>Av. Centenario S/N Alt. Cdra. 5 – Santa María – Huacho.</dd>
                                                                                        <dd>-</dd>
                                                                                        <dd>2322307</dd>
                                                                                        <dd>93048713 #278449</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>lima-provincias@ipd.gob.pe</li>
                                                                                                        <li>lima-provincias-secre@ipd.gob.pe</li>
                                                                                                        <li>lima-provincias-admin@ipd.gob.pe</li>
                                                                                                        <li>lima-provincias-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>PASCO</dd>
                                                                                        <dd> HECTOR LOPEZ ESPIRITU Res. Nº 674-2012-P-IPD</dd>
                                                                                        <dd>Estadio Daniel A. Carrión - Pta. 03 y 04 - Cerro de Pasco</dd>
                                                                                        <dd>063</dd>
                                                                                        <dd>421874</dd>
                                                                                        <dd>9653049 #951088</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>pasco@ipd.gob.pe</li>
                                                                                                        <li>pasco-secre@ipd.gob.pe</li>
                                                                                                        <li>pasco-admin@ipd.gob.pe</li>
                                                                                                        <li>pasco-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                </div>
                                                </div>
                                </article>

                                <article id="norte">												
                                                <div class="grilla-regiones">
                                                                <h4>PRESIDENTES DE CONSEJOS REGIONALES DEL DEPORTE - IPD</h4>

                                                                <div class="gr-mb-data">
                                                                                <dl >
                                                                                        <dt>REGION</dt>
                                                                                        <dt>PRESIDENTE</dt>
                                                                                        <dt>DIRECCIÓN</dt>
                                                                                        <dt>COD.</dt>
                                                                                        <dt>TELEFONO</dt>
                                                                                        <dt>CEL Y RPM IPD</dt>
                                                                                        <dt>CORREO ELECTRÓNICO</dt>
                                                                                </dl>														
                                                                                <dl >
                                                                                        <dd>AMAZONAS</dd>
                                                                                        <dd>ROBERT ARTURO DÁVILA PAZ Res. Nº 172-2011-P-IPD</dd>
                                                                                        <dd>Jr. Amazonas Nº 605 - Coliseo Cerrado, 2º Piso - Chachapoyas</dd>
                                                                                        <dd>041</dd>
                                                                                        <dd>477486</dd>
                                                                                        <dd>9991657 #951075</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>amazonas@ipd.gob.pe</li>
                                                                                                        <li>amazonas-secre@ipd.gob.pe</li>
                                                                                                        <li>amazonas-admin@ipd.gob.pe</li>
                                                                                                        <li>amazonas-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>

                                                                                <dl>
                                                                                        <dd>ANCASH</dd>
                                                                                        <dd> JUSTO VALERIANO MAGUIÑA MINAYA Res. Nº 079-2013-P-IPD</dd>
                                                                                        <dd>Av. Confraternidad Oeste s/n Estadio Rosas Pampas -  Huaraz</dd>
                                                                                        <dd>043</dd>
                                                                                        <dd>421832 425743</dd>
                                                                                        <dd> #951076</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>ancash@ipd.gob.pe</li>
                                                                                                        <li>ancash-secre@ipd.gob.pe</li>
                                                                                                        <li>ancash-admin@ipd.gob.pe</li>
                                                                                                        <li>ancash-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>CAJAMARCA</dd>
                                                                                        <dd>HUGO ALEJANDRO ESPINOZA RODRIGUEZ Res. Nº 259-2012-P-IPD</dd>
                                                                                        <dd>Estadio Héroes San Ramón - Pta.05. Av. De los Héroes s/n - Cajamarca</dd>
                                                                                        <dd>076</dd>
                                                                                        <dd>363202</dd>
                                                                                        <dd>9480333 #951080</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>cajamarca@ipd.gob.pe</li>
                                                                                                        <li>cajamarca-secre@ipd.gob.pe</li>
                                                                                                        <li>cajamarca-admin@ipd.gob.pe</li>
                                                                                                        <li>cajamarca-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>LA LIBERTAD</dd>
                                                                                        <dd>LUIS BENJAMIN GAYOSO GERVASI Res. Nº 179-2012-P-IPD</dd>
                                                                                        <dd>Sótano Coliseo Cerrado Gran Chimú - Pta. Sur - Trujillo</dd>
                                                                                        <dd>044</dd>
                                                                                        <dd>231600 Fax 243231</dd>
                                                                                        <dd>9620921 #951093</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>lalibertad@ipd.gob.pe</li>
                                                                                                        <li>lalibertad-secre@ipd.gob.pe</li>
                                                                                                        <li>lalibertad-admin@ipd.gob.pe</li>
                                                                                                        <li>lalibertad-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>LAMBAYEQUE</dd>
                                                                                        <dd>TOMAS SORIANO SANDOVAL Res. Nº 192-2011-P-IPD</dd>
                                                                                        <dd>Av. Del Deporte - Estadio Elías Aguirre - Trib. Sur, Pta.3 - Chiclayo</dd>
                                                                                        <dd>074</dd>
                                                                                        <dd>231510 Fax 234265 235801</dd>
                                                                                        <dd>9608743 #951084</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>lambayeque@ipd.gob.pe</li>
                                                                                                        <li>lambayeque-secre@ipd.gob.pe</li>
                                                                                                        <li>lambayeque-admin@ipd.gob.pe</li>
                                                                                                        <li>lambayeque-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>PIURA</dd>
                                                                                        <dd>MIGUEL EMILIO GOMEZ ZAMBRANO Res. Nº 183-2011-P-IPD</dd>
                                                                                        <dd>Jr. Huancavelica s/n - Coliseo Miguel Seminario y Jaime - Piura</dd>
                                                                                        <dd>073</dd>
                                                                                        <dd>327501 332871 Fax</dd>
                                                                                        <dd>9680322 *875953 *390775</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>piura@ipd.gob.pe</li>
                                                                                                        <li>piura-secre@ipd.gob.pe</li>
                                                                                                        <li>piura-admin@ipd.gob.pe</li>
                                                                                                        <li>piura-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>TUMBES</dd>
                                                                                        <dd>ADRIAN MARCELINO RAMIREZ JIMENEZ Res. Nº 221-2011-P-IPD</dd>
                                                                                        <dd>Av. Los Tumpis s/n - Coliseo Tumpis - Tumbes </dd>
                                                                                        <dd>072</dd>
                                                                                        <dd>524010</dd>
                                                                                        <dd>9620716 #951096</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>tumbes@ipd.gob.pe</li>
                                                                                                        <li>tumbes-secre@ipd.gob.pe</li>
                                                                                                        <li>tumbes-admin@ipd.gob.pe</li>
                                                                                                        <li>tumbes-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                </div>
                                                </div>
                                </article>

                                <article id="oriente">												
                                                <div class="grilla-regiones">
                                                                <h4>PRESIDENTES DE CONSEJOS REGIONALES DEL DEPORTE - IPD</h4>

                                                                <div class="gr-mb-data">
                                                                                <dl >
                                                                                        <dt>REGION</dt>
                                                                                        <dt>PRESIDENTE</dt>
                                                                                        <dt>DIRECCIÓN</dt>
                                                                                        <dt>COD.</dt>
                                                                                        <dt>TELEFONO</dt>
                                                                                        <dt>CEL Y RPM IPD</dt>
                                                                                        <dt>CORREO ELECTRÓNICO</dt>
                                                                                </dl>														
                                                                                <dl >
                                                                                        <dd>LORETO</dd>
                                                                                        <dd>MARIO DELFIN RIOS ESPINOZA Res. Nº 034-2012-P-IPD</dd>
                                                                                        <dd>Estadio Max Agustín - Trib. Occidente, Pta. 5 - 2º Piso - Iquitos</dd>
                                                                                        <dd>065</dd>
                                                                                        <dd>235282-223273 </dd>
                                                                                        <dd>9604245 #951085</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>loreto@ipd.gob.pe</li>
                                                                                                        <li>loreto-secre@ipd.gob.pe</li>
                                                                                                        <li>loreto-admin@ipd.gob.pe</li>
                                                                                                        <li>loreto-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>

                                                                                <dl>
                                                                                        <dd>MADRE DE DIOS</dd>
                                                                                        <dd>OMAR ALFONSO SOTO PAZ Res. Nº 080-2013-P-IPD</dd>
                                                                                        <dd>Av. Ernesto Rivero - Cda.12 - Puerto Maldonado</dd>
                                                                                        <dd>082</dd>
                                                                                        <dd>572671</dd>
                                                                                        <dd>9613409 #951086</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>madrededios@ipd.gob.pe</li>
                                                                                                        <li>madrededios-secre@ipd.gob.pe</li>
                                                                                                        <li>madrededios-admin@ipd.gob.pe</li>
                                                                                                        <li>madrededios-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>SAN MARTIN</dd>
                                                                                        <dd>WILSON REATEGUI YNUMA Res. Nº130-2013-P-IPD</dd>
                                                                                        <dd>Jr. Libertad Nº 524 (Costado del Estadio) - Moyobamba</dd>
                                                                                        <dd>042</dd>
                                                                                        <dd>562062</dd>
                                                                                        <dd>9024597 #951094</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>sanmartin@ipd.gob.pe</li>
                                                                                                        <li>sanmartin-secre@ipd.gob.pe</li>
                                                                                                        <li>sanmartin-admin@ipd.gob.pe</li>
                                                                                                        <li>sanmartin-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>UCAYALI</dd>
                                                                                        <dd>MAX WALDO LOPEZ EGOAVIL Res. Nº 151-2011-P-IPD</dd>
                                                                                        <dd>Jr Fitzcarral s/n ( Estadio Aliardo Soria Perez de Pucallpa) Tribuna Oriente 2do Piso - Calleria - Coronel Portillo - Ucayali</dd>
                                                                                        <dd>061</dd>
                                                                                        <dd>577677</dd>
                                                                                        <dd>9907229 #951097</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>ucayali@ipd.gob.pe</li>
                                                                                                        <li>ucayali-secre@ipd.gob.pe</li>
                                                                                                        <li>ucayali-admin@ipd.gob.pe</li>
                                                                                                        <li>ucayali-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                </div>
                                                </div>
                                </article>

                                <article id="sur">												
                                                <div class="grilla-regiones">
                                                                <h4>PRESIDENTES DE CONSEJOS REGIONALES DEL DEPORTE - IPD</h4>

                                                                <div class="gr-mb-data">
                                                                                <dl >
                                                                                        <dt>REGION</dt>
                                                                                        <dt>PRESIDENTE</dt>
                                                                                        <dt>DIRECCIÓN</dt>
                                                                                        <dt>COD.</dt>
                                                                                        <dt>TELEFONO</dt>
                                                                                        <dt>CEL Y RPM IPD</dt>
                                                                                        <dt>CORREO ELECTRÓNICO</dt>
                                                                                </dl>														
                                                                                <dl >
                                                                                        <dd>APURIMAC</dd>
                                                                                        <dd>CARLOS FREDDY CUARESMA MARIN Res. Nº 376-2011-P-IPD</dd>
                                                                                        <dd>Estadio El Olivo S/N - Abancay</dd>
                                                                                        <dd>083</dd>
                                                                                        <dd>321319 </dd>
                                                                                        <dd>9619548 #951077</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>apurimac@ipd.gob.pe</li>
                                                                                                        <li>apurimac-secre@ipd.gob.pe</li>
                                                                                                        <li>apurimac-admin@ipd.gob.pe</li>
                                                                                                        <li>apurimac-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>

                                                                                <dl>
                                                                                        <dd>AREQUIPA</dd>
                                                                                        <dd>JOSE ANTONIO PUYO PERRY Res. Nº 118-2013-P-IPD</dd>
                                                                                        <dd>C.D.de Cerro Juli - Av. Francisco Mostajo s/n - Dist. de Hunter - Arequipa</dd>
                                                                                        <dd>054</dd>
                                                                                        <dd>F 423885 423785</dd>
                                                                                        <dd>9921561 #951078</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>arequipa@ipd.gob.pe</li>
                                                                                                        <li>arequipa-secre@ipd.gob.pe</li>
                                                                                                        <li>arequipa-admin@ipd.gob.pe</li>
                                                                                                        <li>arequipa-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>AYACUCHO</dd>
                                                                                        <dd>IGNACIO GARAMENDI BERROCAL Res. Nº 676-2012-P-IPD</dd>
                                                                                        <dd>C.D. Venezuela-Estad. Ciudad de Cumaná Pta.01 - Ayacucho</dd>
                                                                                        <dd>066</dd>
                                                                                        <dd>312160</dd>
                                                                                        <dd>#951079</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>ayacucho@ipd.gob.pe</li>
                                                                                                        <li>ayacucho-secre@ipd.gob.pe</li>
                                                                                                        <li>ayacucho-admin@ipd.gob.pe</li>
                                                                                                        <li>ayacucho-presi@ipd.gob.pe</li>
                                                                                                </ul>	
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>CUSCO</dd>
                                                                                        <dd>EMILIANO ELIAS MENDOZA ZEVALLOS Res. Nº177-2011-P-IPD</dd>
                                                                                        <dd>Coliseo Cerrado Casa de La Juventud, Puerta Nº 03 - Cusco </dd>
                                                                                        <dd>084</dd>
                                                                                        <dd>240352-228081 Fax</dd>
                                                                                        <dd>960847 #951081</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>cusco@ipd.gob.pe</li>
                                                                                                        <li>cusco-secre@ipd.gob.pe</li>
                                                                                                        <li>cusco-admin@ipd.gob.pe</li>
                                                                                                        <li>cusco-presi@ipd.gob.pe</li>
                                                                                                </ul>																		
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>MOQUEGUA</dd>
                                                                                        <dd>MARCO WILBERTH CATACORA COPA Res. Nº 419-2012-P-IPD</dd>
                                                                                        <dd>Jr. Piura 678 - Complejo Deportivo "Vegetales" - Moquegua</dd>
                                                                                        <dd>053</dd>
                                                                                        <dd>462411</dd>
                                                                                        <dd>9610635 #951087</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>moquegua@ipd.gob.pe</li>
                                                                                                        <li>moquegua-secre@ipd.gob.pe</li>
                                                                                                        <li>moquegua-admin@ipd.gob.pe</li>
                                                                                                        <li>moquegua-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>PUNO</dd>
                                                                                        <dd>GUMERCINDA POMA CASTILLO Res. Nº 152-2011-P-IPD</dd>
                                                                                        <dd>Estadio Torres Belon - Pta. 22 - Av. El Sol - Puno</dd>
                                                                                        <dd>051</dd>
                                                                                        <dd>352913-366128</dd>
                                                                                        <dd>9676271 #951090</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>puno@ipd.gob.pe</li>
                                                                                                        <li>puno-secre@ipd.gob.pe</li>
                                                                                                        <li>puno-admin@ipd.gob.pe</li>
                                                                                                        <li>puno-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>
                                                                                <dl>
                                                                                        <dd>TACNA</dd>
                                                                                        <dd>JULIO DEMETRIO VELIZ AVENDAÑO Res. Nº 240-2011-P-IPD</dd>
                                                                                        <dd>Av Leguia S/N - Estadio Jorge Basadre - Tacna</dd>
                                                                                        <dd>052</dd>
                                                                                        <dd>425301-425541</dd>
                                                                                        <dd>9523352 #951095</dd>
                                                                                        <dd>
                                                                                                <ul>
                                                                                                        <li>tacna@ipd.gob.pe</li>
                                                                                                        <li>tacna-secre@ipd.gob.pe</li>
                                                                                                        <li>tacna-admin@ipd.gob.pe</li>
                                                                                                        <li>tacna-presi@ipd.gob.pe</li>
                                                                                                </ul>
                                                                                        </dd>
                                                                                </dl>

                                                                </div>
                                                </div>
                                </article>

                </section>
		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
