<script type="text/javascript">
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<section class="full_w">
    <div class="h_title">Nuevo Producto</div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>El producto fue creado.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar, el peso de la imagen deb ser maximo 2MB.</p></div>
    <?php  } ?> 
    <form id="frmEstudiante" enctype="multipart/form-data" action="" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/estudiantes/nuevo">
                
                <div class="element">
                        <label for="name">Nombres <span class="msg-error"><p id="error-titulo">* Ingrese el nombre.</p></span></label>
                        <?php 
                            $propertiesid = array('id' => 'hdnId');
                            echo $this -> form -> hdnId -> setAttribs($propertiesid) -> renderViewHelper();                            
                        ?> 
                         <?php 
                            $propertiesFn = array('id' => 'txtFirstname');
                            echo $this -> form -> txtFirstname -> setAttribs($propertiesFn) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Apellidos<span class="msg-error"><p id="error-resumen">* Ingrese un precio.</p></span></label>
                        <?php 
                            $propertiesLn = array('id' => 'txtLastanme');
                            echo $this -> form -> txtLastanme -> setAttribs($propertiesLn) -> renderViewHelper();                            
                        ?>
                </div>
				<div class="element">
                        <label for="content">Correo<span class="msg-error"><p id="error-resumen">* Ingrese un precio.</p></span></label>
                        <?php 
                            $propertiesLn = array('id' => 'txtEmail');
                            echo $this -> form -> txtEmail -> setAttribs($propertiesLn) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Foto de Perfil <span class="msg-error"><p id="error-descripcion">* Ingrese una imagen.</p></span></label>
                        <input name="oculto" type="hidden" value="upload" />
                        <input type="file" name="imagen" size="100">
                </div>
                <div class="entry">
                        <?php 
                            $propertiesBtn = array('id' => 'btnEnviar');
                            echo $this -> form -> btnEnviar -> setAttribs($propertiesBtn) -> renderViewHelper();                            
                        ?>
                </div>
        </form>
</section>