<section class="content-evento">
		<h2>La Evolución del Deporte &gt; ayuda</h2>
		<div class="content-tca">
				<h3><span>Preguntas frecuentes</span></h3>
					<h4>¿Qué es Becas IPD?</h4>						
					<p>
						Becas IPD es un programa del Sistema Nacional de Capacitación del Instituto Peruano de Deporte (IPD) que busca fomentar la profesionalización y masificación del deporte en todo el país con el otorgamiento de becas integrales para la formación profesional deportiva, en convenio con la Universidad Nacional Mayor de San Marcos.
					</p>
					
					<h4>¿Qué programas cubren las becas?</h4>						
					<p>
						Para este año (2013) se han activado los programas para Gestores Deportivos y Técnicos Deportivos.
					</p>
					
					<h4>¿Las becas son integrales?</h4>						
					<p>
						Sí. Las Becas IPD cubren el 100% del costo de los programas de formación para todas aquellas personas que sigan el programa de actividades y cumplan con las horas de práctica requeridas en cada curso. El valor de cada uno de ellos es de USD 4,000.
					</p>
					
					<h4>¿Qué requisitos son necesarios para acceder a los cursos de Becas IPD?</h4>						
					<p>
						No existe ningún requisito previo, cualquier persona puede postular a los mismos.
					</p>
					
					<h4>¿Cómo puedo acceder a una beca?</h4>						
					<p>
						Para acceder a una de las becas solo debes registrarte en Becas IPD y desarrollar el Módulo I del programa de tu elección, siguiendo el programa de actividades y horas de práctica requeridas.
					</p>
					
					<h4>¿Hay límite de edad para postular?</h4>						
					<p>
						No, la convocatoria es abierta a todas las edades.
					</p>
					
					<h4>¿No soy peruano. ¿Puedo postular?</h4>						
					<p>
						No. Solo los peruanos que radican en el Perú pueden postular al programa Becas IPD.
					</p>
					
					<h4>¿Tengo una duda sobre el programa/beca en el que estoy interesado ¿Dónde puedo dirigirme?</h4>						
					<p>
						Para resolver cualquier duda puede escribir al correo campusvirtual@ipd.gpb.pe
					</p>
					
					<h4>¿Tengo problemas para ingresar mi solicitud on-line. ¿Puedo enviar la información por correo?</h4>						
					<p>
						No, únicamente se evalúan las solicitudes recibidas por el sitio BecasIPD.com. Si usted tiene algún problema al momento de completar su solicitud, remítanos un correo electrónico indicando, de la forma más detallada posible, el tipo de incidencia registrada para que nuestro departamento de soporte pueda resolverlo a la mayor brevedad posible. 
					</p>
					
					<h4>¿Cuánto tiempo duran los programas de certificación?</h4>						
					<p>
						Los programas para Gestores Deportivos y Técnicos Deportivos tienen una duración de 3 años. 
					</p>
					
					<h4>¿Por qué es importante obtener la certificación IPD?</h4>						
					<p>
						Porque el IPD es la institución oficial a nivel nacional para el desarrollo del deporte y la actividad física y contar con una certificación oficial te permitirá acceder a oportunidades laborales relacionadas con el deporte.
					</p>
					
					<h4>¿Qué tengo que hacer para lograr la certificación IPD?</h4>						
					<p>
						Completar el programa de tu elección y cumplir con las horas de práctica.
					</p>
		</div>		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
<!-- div class="space1"></div>	
<section id="content" class="fondo-ayuda">					
                        <div class="content-group">
                                  <?php                                                     
                                        //echo $this->partial('partials/_crear_cuenta.phtml',array('frmCrearCuenta'=>$this->frmCrearCuenta));                                                     
                                    ?>
                        </div>
                        <?php 
                            //echo $this->render('partials/_redes_sociales.phtml');  
                        ?>

                        <div class="content-ayuda-body">
                                        <div class="content-ayuda-descripcion">
                                                        <h4>Ayuda</h4>
                                                        <p>
                                                                ¿Necesitas ayuda para registrarte o acceder a los cursos?
                                                                Déjanos un mensaje y nuestro equipo de soporte se
                                                                pondrá en contacto contigo.
                                                        </p>									
                                        </div>
                                        <div class="content-form-ayuda">
                                        				<p id="resp-ayuda" >
												                
												        </p>
                                                        <form id="frmAyuda" action="" method="POST" url="<?php //echo $this->url(array('module' => 'usuarios','controller' => 'ayuda','action' => 'index'),'',true); ?>">
                                                                    <div class="content-email">
                                                                            <?php 
                                                                                //$propertiesAyudaEmail= array('id' => 'textAyudaEmail');
                                                                                //echo $this -> frmAyuda -> textAyudaEmail -> setAttribs($propertiesAyudaEmail)-> renderViewHelper();
                                                                            ?>                                                                            
                                                                    </div>
                                                                    <div class="content-mensaje">
                                                                            <?php 
                                                                                //$propertiesAyudaMensaje= array('id' => 'textAyudaMensaje');                                                                                
                                                                                //echo $this -> frmAyuda -> textAyudaMensaje -> setAttribs($propertiesAyudaMensaje)-> renderViewHelper();
                                                                            ?>                                                                            
                                                                    </div>
                                                            
                                                                    <?php 
                                                                        //$propertiesBtnAyuda= array('id' => 'btnEnviarMensajeAyuda');                                                                                
                                                                       // echo $this -> frmAyuda -> btnEnviarMensajeAyuda -> setAttribs($propertiesBtnAyuda)-> renderViewHelper();
                                                                    ?>                                                                     
                                                        </form>
                                        </div>
                        </div>					
</section -->
