<section>
        <div class="h_title">Noticias</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <!-- div class="sep"></div -->
                <a class="button add" href="<?php echo $this->url(array('controller'=>'bolsa-trabajo','action'=>'index'));?>">A&ntilde;adir nuevo aviso</a>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">T&iacute;tulo de aviso</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col" style="width: 65px;">Opciones</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php foreach ($this->paginator as $row): ?>
                        <tr>		
                            <td class="align-center">-</td>   
                            <td><?php echo $row['titulo']; ?></td>
                            <td><?php echo $row['disciplina']; ?></td>
                            <td><?php echo $row['departamento']; ?></td>
                            <td><?php echo $row['fecharegistro'];?></td>
                            <td>
                                    <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'bolsa-trabajo', 'action'=>'update', 'id'=>$this->escape($row['id'])));?>"></a>
                                    <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'bolsa-trabajo',	'action'=>'borrar', 'id'=>$this->escape($row['id'])));?>"></a>
                                <?php if($row['estado']== 1):?>
                                    <a href="<?php echo $this->url(array('controller'=>'bolsa-trabajo', 'action'=>'activar', 'id'=>$row['id'], 'act'=>0));?>" class="table-icon activo" title="Activo"></a>
                                <?php else:?>
                                    <a href="<?php echo $this->url(array('controller'=>'bolsa-trabajo', 'action'=>'activar', 'id'=>$row['id'], 'act'=>1));?>" class="table-icon desactivo" title="Desactivo"></a>
                                <?php endif;?>
                            </td>		
                        </tr>	
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                        <!--span>« First</span>
                        <span class="active">1</span>
                        <a href="#">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <span>...</span>
                        <a href="">23</a>
                        <a href="">24</a>
                        <a href="">Last »</a -->
                </div>
                <!-- a class="button" href="">Categories</a --> 
        </div>
</section>