<section>
    <div class="h_title">Nueva Noticia</div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>El aviso fue creado.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar el aviso, vuelva a intentarlo.</p></div>
    <?php  } ?> 
    <form id="frmBolsaTrabajo" action="#" method="POST">
        <div class="element">
            <?php 
                $propertiesId= array('id' => 'id');
                echo $this -> frmBolsaTrabajo -> id -> setAttribs($propertiesId)-> renderViewHelper();
            ?>
            <label for="name">Nombre de la plaza laboral:<span class="msg-error"><p id="error-titulo"> * Este campo requiere ser rellenado.</p></span></label>
                <?php 
                $propertiesTitulo= array('id' => 'txtTitulo');
                echo $this -> frmBolsaTrabajo -> txtTitulo -> setAttribs($propertiesTitulo)-> renderViewHelper();
                ?>
            
        </div>
        <div class="element">
            <label for="name">Nombre de la institucion solicitante:<span class="msg-error"><p id="error-localidad"> * Este campo requiere ser rellenado.</p></span></label>
            <?php 
                $propertiesInstitucion= array('id' => 'txtInstitucion');
                echo $this -> frmBolsaTrabajo -> txtInstitucion -> setAttribs($propertiesInstitucion)-> renderViewHelper();
            ?>
            <span>
                Seleccione el check para ocultar: 
            </span>
            <?php 
                $propertiesCheckbox= array('id' => 'checkOcultar');
                echo $this -> frmBolsaTrabajo -> checkOcultar -> setAttribs($propertiesCheckbox) -> renderViewHelper();
            ?>
        </div>
        <div class="element">
            <label for="name">Disciplina:<span class="msg-error"><p id="error-disciplina"> * Seleccione una disciplina</p></span></label>
             <?php 
                $propertiesDisciplina= array('id' => 'sltDisciplina');
                echo $this -> frmBolsaTrabajo -> sltDisciplina -> setAttribs($propertiesDisciplina)-> renderViewHelper();
            ?>
        </div>
        <div class="element">
            <label for="name">Funciones y responsabilidades:<span class="msg-error"><p id="error-descripcion"> * Este campo requiere ser rellenado.</p></span></label>
            <?php 
                $propertiesDescripcion= array('id' => 'txtDescripcion');
                echo $this -> frmBolsaTrabajo -> txtDescripcion -> setAttribs($propertiesDescripcion)-> renderViewHelper();
            ?>
        </div>
        <div class="element">
            <label for="name">Departamento:<span class="msg-error"><p id="error-departamento"> * Seleccione un departamento</p></span></label>
            <?php 
                $propertiesDepartamento= array('id' => 'sltDepartamento');
                echo $this -> frmBolsaTrabajo -> sltDepartamento -> setAttribs($propertiesDepartamento)-> renderViewHelper();
            ?>
        </div>
        <div class="element">
            <label for="name">Email:<span class="msg-error"><p id="error-email"> * Este campo requiere ser rellenado.</p></span></label>
            <?php 
                $propertiesEmail= array('id' => 'txtEmail');
                echo $this -> frmBolsaTrabajo -> txtEmail -> setAttribs($propertiesEmail)-> renderViewHelper();
            ?>
        </div>
        <div class="entry">
                  <?php 
                        $propertiesBtnBolsaTrabajo= array('id' => 'btnRegistrarBolsaTrabajo');
                        echo $this -> frmBolsaTrabajo -> btnRegistrarBolsaTrabajo -> setAttribs($propertiesBtnBolsaTrabajo)-> renderViewHelper();
                  ?>
        </div>
            
    </form>
</section>
