<section class="content-evento">
		<h2>La Evolución del Deporte &gt; <a style="font-family: myriad-pro-regular !important;font-size:16px;" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'index'),'',true);?>">Federaciones</a> &gt; Detalle</h2>
		
                <h1><?php echo $this->federacion['nombre'];?></h1>
				<p><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'index'),'',true);?>" class="boton1 right">VOLVER</a></p>
                <div class="content-f">
                                <div class="cf-logo">
                                        <?php if(!empty($this->federacion['logo'])):?>
                                                <img alt="" src="<?php echo $this->rutaFotos.$this->federacion['logo'];?>">
                                        <?php else:?>
                                                <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                        <?php endif;?>
                                </div>

                                <div class="cf-datos">
                                                <dl>
                                                        <dd><span>Dirección</span><b>:</b><span class="sp-1"> <?php echo $this->federacion['direccion'];?></span></dd>
                                                        <dd><span>Teléfono</span><b>:</b><span class="sp-1"><?php echo $this->federacion['telefono'];?></span></dd>
                                                        <dd><span>Pág. Web</span><b>:</b><span class="sp-1"><?php echo $this->federacion['web'];?></span></dd>
                                                        <dd><span>Correo</span><b>:</b><span class="sp-1"><?php echo $this->federacion['email'];?></span></dd>
                                                        <dd></dd>
                                                </dl>

                                                <h3>Grupo de trabajo</h3>

                                                <div class="cf-grilla">												
                                                                <dl>
                                                                        <dt>Cargo</dt>
                                                                        <dt>Apellidos y Nombres</dt>
                                                                </dl>
                                                                <dl>
                                                                        <dd>Presidente</dd>
                                                                        <dd><?php echo $this->federacion['presidente'];?></dd>
                                                                </dl>
                                                                <dl>
                                                                        <dd>Vice Presidente</dd>
                                                                        <dd><?php echo $this->federacion['vicepresidente'];?></dd>
                                                                </dl>
                                                                <dl>
                                                                        <dd>Secretario</dd>
                                                                        <dd><?php echo $this->federacion['secretario'];?></dd>
                                                                </dl>
                                                                <dl>
                                                                        <dd>Tesorero</dd>
                                                                        <dd><?php echo $this->federacion['tesorero'];?></dd>
                                                                </dl>
                                                                <dl>
                                                                        <dd>Vocal</dd>
                                                                        <dd><?php echo $this->federacion['vocal'];?></dd>
                                                                </dl>
                                                </div>		
                                </div>
								
								
                </div>
                
                <section id="content-avisos">
                        <?php if(count($this->noticias)):?>
                                    <?php foreach($this->noticias as $noticia) : ?>
                                                    <article>
                                                        <div class="ca-foto">
                                                            <?php if(!empty($noticia['nombre'])):?>
                                                                    <img alt="" src="<?php echo $this->rutaFotosNoticias.$noticia['nombre'];?>">
                                                            <?php else:?>
                                                                    <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                                            <?php endif;?>

                                                        </div>
                                                        <div class="ca-descripcion">
                                                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'noticiadetalle','id'=>$noticia['id']),'',true);?>/idfed/<?php echo $this->federacion['id'];?>"><?php echo $this->escape($noticia['titulo']);?></a>
                                                            <span>
                                                                <?php
                                                                    $dato = new My_Funciones();
                                                                    echo $dato->fecha1($noticia['fecha_registro']); 
                                                                ?>

                                                            </span>								
                                                            <p>
                                                                   <?php echo $noticia['descripcion']; ?>
                                                            </p>
                                                            <?php 
                                                                    $data['url'] = $this->rutaBase.$this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'detalle','id'=>$this->federacion['id']),'',true);
                                                                    echo $this->partial('partials/_nav_compartir_left.phtml',$data);
                                                            ?>
                                                        </div>
                                                    </article>

                                    <?php endforeach; ?>
                    
                                    <?php
                                        $valores['parametros']='/id/'.$this->parametros;
                                        $valores['urlPagination']=$this->baseUrl().'/federaciones/detalle';

                                        echo $this->paginationControl($this->noticias,'Sliding','paginator/paguinar.phtml',$valores);
                                    ?>
                        <?php else:?>
                                    <dl><dd></dd></dl>
                        <?php endif;?>
                            
                               
                            
                </section>
		
		
</section>



<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
