<section class="bolsa-trabajo-section">
		<h2>La Evolución del Deporte &gt; Federaciones</h2>
		<h1>FEDERACIONES</h1>
		<div class="content-busqueda">
			<form  id="frmBuscarFederaciones" class="form" method="POST" action="<?php echo $this->baseUrl();?>/federaciones/"  ubigeo="<?php echo $this->ubigeo;?>" page="<?php echo $this->page;?>" >
				<h3>CRITERIOS DE BUSQUEDA</h3>
				<dl>
					<dt>
						<span>Departamento:</span>
						<span>Provincia:</span>
						<span>Distrito:</span>
					</dt>
					<dd>
                                            
                                                <?php 
                                                        $url=$this->baseUrl().'/calendario/getprovincias';
                                                        $propertiesDepartamento= array('id' => 'departamento','class'=>'select-margin-right','data-source'=>$url);
                                                        echo $this -> frmFederaciones -> departamento -> setAttribs($propertiesDepartamento) -> renderViewHelper();
                                                ?>

                                                <?php 

                                                        $url=$this->baseUrl().'/calendario/getdistritos';
                                                        $propertiesProvincia= array('id' => 'provincia','class'=>'select-margin-right','data-source'=>$url);
                                                        echo $this -> frmFederaciones -> provincia -> setAttribs($propertiesProvincia) -> renderViewHelper();
                                                ?>

                                                <?php 
                                                        $propertiesDistrito= array('id' => 'distrito');
                                                        echo $this -> frmFederaciones -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();
                                                ?>
                        
						<input type="submit" id="btnBuscar" name="btnBuscar" value=""/>
					</dd>
				</dl>
								
			</form>
		</div>
		
		<h4>
			<!-- Resultados de la búsqueda: Informática/Telecomunicaciones <span>1 de 50</span -->
		</h4>
		
		<section id="content-avisos">
			<?php $count=count($this->federaciones);?>
                        <?php if($count>0):?>
			                        <?php foreach($this->federaciones as $row) : ?>
                                                                    <article>												
                                                                                    <div class="ca-foto">							
                                                                                            <?php if(!empty($row['logo'])):?>
                                                                                                    <img alt="" src="<?php echo $this->rutaFotos.$row['logo'];?>">
                                                                                            <?php else:?>
                                                                                                    <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                                                                            <?php endif;?>

                                                                                    </div>
                                                                                    <div class="ca-descripcion">
                                                                                                    <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'detalle', 'id'=>$row['id']),'',true);?>">
                                                                                                                    <?php echo $row['nombre'];?>
                                                                                                    </a>
                                                                                                    <p class="p-1"><?php echo $row['direccion'];?></p>
                                                                                                    <p>Teléfono: <?php echo $row['telefono'];?></p>
                                                                                                    <p><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'federaciones','action'=>'detalle', 'id'=>$row['id']),'',true);?>" class="boton1 right">VER</a></p>
                                                                                    </div>

                                                                    </article>
			                        <?php endforeach; ?>
                        <?php else:?>
                            <dl><dd>No hay datos</dd></dl>
                        <?php endif;?>
                        
                        <?php
                            $valores['parametros']='/ubigeo/'.$this->parametros;
                            $valores['urlPagination']=$this->baseUrl().'/federaciones/index';
                            echo $this->paginationControl($this->federaciones,'Sliding','paginator/paguinar.phtml',$valores);
                        ?>  

		</section>		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
