<section class="bolsa-trabajo-section">
		<h2>La Evolución del Deporte &gt; Federaciones</h2>
		<h1>FEDERACIONES</h1>
		<div class="content-busqueda">
			<form  id="frmComboFederaciones" class="form" method="POST" action="<?php echo $this->baseUrl();?>/federaciones/"  ubigeo="<?php echo $this->ubigeo;?>" page="<?php echo $this->page;?>" >
				<h3>BUSQUEDA DE FEDERACIONES</h3>
				<dl>
					<dt>
						<span></span>
					</dt>
					<dd>
                                            
						<?php 
							$propertiesFederacions = array('id' => 'federaciones');
							echo $this -> formComboFederaciones -> federaciones -> setAttribs($propertiesFederacions) -> renderViewHelper();
							/*$url=$this->baseUrl().'/calendario/getprovincias';
							$propertiesDepartamento= array('id' => 'departamento','class'=>'select-margin-right','data-source'=>$url);
							echo $this -> frmFederaciones -> departamento -> setAttribs($propertiesDepartamento) -> renderViewHelper();*/
						?>
						<input type="submit" id="btnBuscar" name="btnBuscar" value=""/>
					</dd>
				</dl>
								
			</form>
		</div>
		
		<div class="content-des-evento">
				<div class="evento-des2">
					
						<h4>ALIANZA ESTRATÉGICA CON FEDERACIONES </h4>
						<h4>Objetivos del programa:</h4>
						<p>
							<li class="lista-generals">Establecer una conexión entre las Federaciones Deportivas y el IPD, donde éste 
								último cumpla su función como ente rector del sistema deportivo nacional.</li> 
							<li class="lista-generals">Promover una capacitación homogénea entre los entrenadores a través de la 
								Certificación y Carnetización.</li>
							<li class="lista-generals">Ampliar el universo de deportistas de élite y generar más logros deportivos 
								para el país como consecuencia de un trabajo guiado y planificado por el IPD.</li>
						</p>
						<h4>Estrategias</h4>
						<p>
							Convenio IPD – Federaciones: Buscando dejar constancia de esta relación, se llevó 
							a cabo la ceremonia de suscripción de un convenio entre el IPD y 38 Federaciones 
							Deportivas (23 de agosto – Salón Vip del Estadio Nacional). Dicho convenio precisa 
							lo siguiente:</br> </br> 

							Convenio IPD y Federaciones Deportivas.

						</p>
						
						
						<h4><span>Obligaciones de EL IPD: </span></h4>
					
						<p>
							<li class="lista-generals">Llevar a cabo los esfuerzos necesarios, que coadyuven a la implementación y 
							desarrollo del Sistema Nacional de Capacitación Deportiva, en el cual se encontrará
							incluída LA FEDERACIÓN.</li> 
							<li class="lista-generals">Otorgará Certificación del Programa de Capacitación Deportiva a los participante
							hayan concluido y aprobado cada etapa y al finalizar la totalidad de los estudios 
							del citado programa.</li> 
							<li class="lista-generals">De acuerdo a la disponibilidad presupuestal del ejercicio correspondiente, 
							brindará apoyo a través de la contratación de Profesionales especializados por 
							disciplina deportiva, para que coadyuve al adecuado desarrollo de las actividades 
							programadas por la Federación. Estos profesionales tendrán a cargo la capacitación 
							del personal designado por la Federación de manera formal.</li>

							<li class="lista-generals">Difundirá a través de su página Web y del equipo de comunicaciones las 
							convocatorias a las capacitaciones a impartir.</li>

							<li class="lista-generals">Los egresados con mejor calificación, provenientes de los Programas de 
							Capacitación del IPD, estarán integrados a una base de datos con su respectivo 
							orden de mérito, lo cual permitirá al IPD tenerlos en cuenta en futuras 
							convocatorias de personal que este realice e incluirlos en la Bolsa de Trabajo 
							del Deporte.</li> 
							<li class="lista-generals">Prestar cualquier otro tipo de apoyo que coadyuve al adecuado desarrollo de 
							las actividades programadas por LA FEDERACIÓN, enmarcado en la generación y 
							posterior consolidación del SISTEMA NACIONAL DE CAPACITACIÓN.</li>

						</p>
						<h4>Obligaciones de LA FEDERACIÓN:</h4>
						<p>
							<li class="lista-generals">Conjuntamente con EL IPD, deberá proyectar un diseño curricular deportivo 
							correspondiente a la disciplina que regenta y según las propias necesidades de 
							la Federación.</li>
							<li class="lista-generals">Otorgará una categorización a los técnicos deportivos de acuerdo a su 
							Reglamentación.</li>
							<li class="lista-generals">Conjuntamente con el IPD, a través del Registro Nacional del Deporte - RENADE, 
							se realizará el registro, y carnetización de sus Entrenadores, la misma que será 
							anual y estará sujeta a las actualizaciones que realice la Federación.</li> 
							<li class="lista-generals">Se compromete a que todos los participantes de los cursos de Capacitación 
							culminen sus estudios con respecto a las actividades programadas de acuerdo con 
							las formas, condiciones y plazos establecidos por EL IPD.</li>

							<li class="lista-generals">Difundir a través de su página Web y del equipo de comunicaciones las 
							actividades DE Capacitación ejecutadas de manera coordinada con EL IPD.</li>

							<li class="lista-generals">Colocar en un lugar visible las piezas gráficas que promuevan la imagen de EL 
							IPD y del Sistema Nacional de Capacitación, en todas las actividades y/o eventos 
							programados por su Federación.</li> 

						</p>
						
						<h4></h4>
						<p>
							Las Federaciones que han suscrito Convenio o Acta de Entendimiento para formar 
							parte del Sistema Nacional de Capacitación y así apoyar a la evolución del Deporte 
							en el país son:
						
						</p>
						<div class="content-image-evento">
							<img width="349" height="436" alt="" src="<?php echo $this->baseUrl(); ?>/static/images/federaciones001.jpg">									
						</div>
				</div>
				
				
				
		</div>
		
				
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
