<section class="full_w">
    <div class="h_title">Nuevo Evento</div>
    <div class="entry">
        <a class="button" href="<?php echo $this->url(array('controller'=>'calendario','action'=>'listaeventos'));?>">Listado de Eventos</a>
        <div class="sep"></div>
    </div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==0){ ?>                
                <div class="n_ok"><p>Puede crear  todos los eventos que crea conveniente. Todos los campos marcados con (*) son obligatorios</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==1){ ?>
                <div class="n_ok"><p>Se registró correctamente.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==2){ ?>
                <div class="n_error"><p>Error al registrar la sede.</p></div>            
    <?php  } ?> 
    <form id="frmRegistrarEventos" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/admin/calendario/add" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/calendario/add">
                <div class="element">
                        <label for="name">Nombre de Evento (*) <span class="msg-error"><p id="error-nombre">* Ingrese el nombre del evento.</p></span></label>
                        
                         <?php 
                            $propertiesNombreEvento= array('id' => 'txtNombreEvento','class'=>'text');
                            echo $this -> frmRegistrarEventos -> txtNombreEvento -> setAttribs($propertiesNombreEvento) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Descripción (*) <span class="msg-error"><p id="error-descripcion">* Falta la descripción.</p></span></label>
                         <?php 
                            $propertiesDescripcion= array('id' => 'textDescripcion','rows'=>'10');
                            echo $this -> frmRegistrarEventos -> textDescripcion -> setAttribs($propertiesDescripcion) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Lugar (*)<span class="msg-error"><p id="error-lugar">* Falta escribir el lugar.</p></span></label>
                         <?php 
                                $propertiesLugar= array('id' => 'txtLugar');
                                echo $this -> frmRegistrarEventos -> txtLugar -> setAttribs($propertiesLugar) -> renderViewHelper();
                            ?>
                </div>
                <div class="element">
                    <label for="name">Departamento (*)<span class="msg-error"><p id="error-departamento">* Seleccione un departamento.</p></span></label>
                         <?php 
                            $url=$this->baseUrl().'/calendario/getprovincias';
                            $propertiesDepartamentos= array('id' => 'departamento','data-source'=>$url,'class'=>'text');
                            echo $this -> frmRegistrarEventos -> departamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();
                        ?>
                </div>
                <div class="element">
                    <label for="name">Provincia (*)<span class="msg-error"><p id="error-provincia">* Seleccione una provincia.</p></span></label>
                         <?php
                                $url=$this->baseUrl().'/calendario/getdistritos';
                                $propertiesProvincias= array('id' => 'provincia','data-source'=>$url,'class'=>'text');
                                echo $this -> frmRegistrarEventos -> provincia -> setAttribs($propertiesProvincias) -> renderViewHelper();
                            ?>
                </div>
                <div class="element">
                    <label for="name">Distrito (*)<span class="msg-error"><p id="error-distrito">* Seleccione un distrito.</p></span></label>
                         <?php 
                                $propertiesDistrito= array('id' => 'distrito','class'=>'text');
                                echo $this -> frmRegistrarEventos -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();
                            ?>
                </div>
                
                <div class="element">
                    <label for="name">Fecha Inicio (*)<span class="msg-error"><p id="error-fecha-inicio">* Falta elegir la Fecha Inicio.</p></span></label>
                         <?php 
                                $propertiesFechaInicio= array('id' => 'txtFechaInicio','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtFechaInicio -> setAttribs($propertiesFechaInicio) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Fecha Fin (*)<span class="msg-error"><p id="error-fecha-fin">* Falta elegir la Fecha Fin.</p></span></label>
                         <?php 
                                $propertiesFechaFin= array('id' => 'txtFechaFin','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtFechaFin -> setAttribs($propertiesFechaFin) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Hora<span class="msg-error"><p id="error-hora">* Falta elegir la Fecha Fin.</p></span></label>
                         <?php 
                                $propertiesHora= array('id' => 'txtHora','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtHora -> setAttribs($propertiesHora) -> renderViewHelper();
                            ?>
                </div>
                
                
                <div class="element">
                    <label for="name">Email <span class="msg-error"><p id="error-email">* Ingrese un email.</p></span></label>
                         <?php 
                            $propertiesEmail= array('id' => 'txtEmail','class'=>'text');
                            echo $this -> frmRegistrarEventos -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();
                        ?>
                </div>
        
        
                <div class="element">
                    <label for="name">Telefono </label>
                         <?php 
                                $propertiesTelefono= array('id' => 'txtTelefono','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();
                            ?>
                </div>
                
                <div class="element">
                    <label for="name">Twitter </label>
                         <?php 
                                $propertiesTwitter= array('id' => 'txtTwitter','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtTwitter -> setAttribs($propertiesTwitter) -> renderViewHelper();
                            ?>
                </div>
        
                <div class="element">
                    <label for="name">Facebook </label>
                         <?php 
                                $propertiesFacebook= array('id' => 'txtFacebook','class'=>'text');
                                echo $this -> frmRegistrarEventos -> txtFacebook -> setAttribs($propertiesFacebook) -> renderViewHelper();
                            ?>
                </div>
                
                <div class="element">
                            <label for="name">Mapa</label>
                            
                                <div class="content-ru">
                                                <p>Encuentre el lugar y marque con un punto su ubicación.</p>
                                                
                                                <dl class="ru-controles-mapa">
                                                        <dd>                                                            
                                                            <input type="text" id="txtMapa" name="txtMapa" placeholder="Escriba el lugar">
                                                            <a id="buscarSitio" href="#" class="button left">Buscar</a>
                                                            <input type="hidden" id="mapaLatitud" name="mapaLatitud" value="" >
                                                            <input type="hidden" id="mapaLongitud" name="mapaLongitud" value="" >
                                                        </dd>
                                                        
                                                        <dd>
                                                            <!--inicio google map-->
                                                            <div class="content-mapa">
                                                                <div id="map" class="mapa1"></div>
                                                            </div>
                                                            <!--fin google map-->
                                                        </dd>
                                                </dl>
                                </div>
                            
                </div>
                        
                <div class="element">
                            <label for="name">Fotos<span class="msg-error"><p id="error-responsable"> * Ingrese un responsable.</p></span></label>
                            <!-- inicio fotos -->
                                <div class="content-ru">
                                                <p>Se puede subir hasta 3 fotos, con un tamaño de (520x370) o similares, solo acepta las extensiones (JPG, JPEG, PNG, BMP), hasta un peso máximo de (1MB).</p>
                                                
                                                <dl class="ru-controles">
                                                        <dd>    
                                                                <a id="subir-fotos" href="#" class="button left">Subir fotos</a>
                                                        </dd>
                                                </dl>
                                                
                                                <dl class="ru-error left">
                                                        <dd><p id="error-fotos">Falta subir una foto.</p></dd>
                                                </dl>

                                                <div id="content-sf" class="content-vf" tipo="fotos">
                                                            <?php 
                                                                $propertiesGetFotos= array('id' => 'getFotos');
                                                                echo $this -> frmRegistrarEventos -> getFotos -> setAttribs($propertiesGetFotos) -> renderViewHelper();
                                                            ?>
                                                </div>
                                </div>
                            <!-- fotos fotos -->
                </div>
        
                <div class="element">
                            <label for="name">Videos</label>
                            <!-- inicio videos -->
                                <div class="content-ru">
                                                <p>Mostrará solo videos de YouTube hasta un máximo de 3.</p>
                                                
                                                <dl class="ru-controles">
                                                        <dd>    
                                                                <input type="text" id="txtVideos" name="txtVideos" placeholder="https://www.youtube.com/">
                                                        </dd>
                                                        <dd><a id="subir-videos" href="#" class="button left">Agregar</a></dd>
                                                </dl>
                                                
                                                <dl class="ru-error left">
                                                        <dd><p id="error-videos">Falta subir un video.</p></dd>
                                                </dl>

                                                <div id="content-sv" class="content-vf" tipo="videos">
                                                            <?php 
                                                                $propertiesGetVideos= array('id' => 'getVideos');
                                                                echo $this -> frmRegistrarEventos -> getVideos -> setAttribs($propertiesGetVideos) -> renderViewHelper();
                                                            ?>
                                                </div>
                                </div>
                            <!-- fotos videos -->
                </div>
        
                <div class="entry">
                        <input type="submit" name="btnRegistrarEvento" id="btnRegistrarEvento" value="Registrar" class="boton1">
                </div>
        </form>
</section>