<section class="content-evento">
		<h2>IPD &gt; Calendario de actividades &gt; Evento</h2>
		<h1>EVENTO</h1>
		<div class="content-image-evento">
			<img alt="" src="<?php echo $this->baseUrl();?>/static/images/evento.png">									
		</div>
		<h3><span> <?php echo strtoupper($this->evento['nombre_evento']);?></span> <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listado'));?>" class="boton1 right">Regresar</a></h3>
		<div class="content-des-evento">
				<div class="evento-des">
						<p>
							<?php echo $this->evento['descripcion'];?>
						</p>
						<p>
							<b>LUGAR: </b><?php echo $this->evento['lugar'];?>
						</p>
                                                <p>
							<b>FECHA: </b>de <?php echo $this->evento['fecha_inicio'];?> al <?php echo $this->evento['fecha_fin'];?>
						</p>
						<p>
							<b>HORA: </b><?php echo $this->evento['hora'];?> horas
						</p>
                                                <p>
							<b>E-MAIL: </b><?php echo $this->evento['email'];?>
						</p>
                                                <p>
							<b>TELÉFONO: </b><?php echo $this->evento['telefono'];?>
						</p>
                                                <p>
							<b>TWITTER: </b><?php echo $this->evento['twitter'];?>
						</p>
                                                <p>
							<b>FACEBOOK: </b><?php echo $this->evento['facebook'];?>
						</p>
				</div>
				
                                <?php 
                                    $dataCompartir['lado']='right';
                                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                                ?>
                    
				<span>Comparte:</span>
		</div>
		
		<!--inicio galeria-->
		<div class="content-galeria-evento" tipo="fotos">
				<div>
						<nav>
								<a href="#" class="m-fotos me-activo-fotos">FOTOS</a>
								<a href="#" class="m-videos ">VIDEOS</a>								
								<a href="#" class="m-mapa ">MAPA</a>
						</nav>
						<div id="content-participar">
                                                        <a id="quitar-participacion" evento="<?php echo $this->evento['id'];?>" href="<?php echo $this->baseUrl();?>/calendario/noparticipar" class="boton6 right <?php echo $this->participo>0? '':'ocultar';?>">Quitar Participación</a>
                                                        <a id="participar-evento" evento="<?php echo $this->evento['id'];?>" href="<?php echo $this->baseUrl();?>/calendario/participar" class="boton1 right <?php echo $this->participo==0? '':'ocultar';?>">Participar</a>
                                                        
						</div>
						
				</div>
				
				<section class="section-galeria" vista="1">
						
						<!--inicio fotos-->
						<section class="content-galeria-fotos ">
                                                                <?php $numFotos=1; ?>
                                                                <?php foreach ($this->eventosFotos as $row):?>
                                                                                <article id="sgag-<?php echo $numFotos;?>" class="g-fotos <?php if($numFotos==1): echo 'mostrar';  endif; ?>">
                                                                                                <img alt="" src="<?php echo $this->rutaFotos.$row['nombre']; ?>">
                                                                                                
                                                                                                <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'foto'));?>"></a>
                                                                                </article>
                                                                                <?php $numFotos+=1; ?>
                                                                <?php endforeach; ?>
								
								<section class="content-menu-galeria-fotos">
                                                                                <?php $numFotos=1; ?>
                                                                                <?php foreach ($this->eventosFotos as $row):?>                                                                                            
                                                                                            <article id="sgagm-<?php echo $numFotos;?>" valor="<?php echo $numFotos;?>" class="mostrar">															
                                                                                                            <img alt="" src="<?php echo $this->rutaFotos.$row['nombre'];?>">
                                                                                                            <div class="<?php if($numFotos==1): echo 'fondo-rojo'; else: echo 'fondo-blanco'; endif; ?>">

                                                                                                            </div>
                                                                                                            <a href="#"></a>
                                                                                            </article>
                                                                                            <?php $numFotos+=1; ?>    
                                                                                <?php endforeach; ?>
								</section>
						</section>
						<!--fin fotos-->
						
						<!--inicio videos-->
						<section class="content-galeria-videos ocultar">
                                                                <?php $numVideos=1; ?>
                                                                <?php foreach ($this->eventosVideos as $row):?>
                                                                                <article id="sgav-<?php echo $numVideos;?>" class="g-videos <?php if($numFotos==1): echo 'mostrar';  endif; ?>">
                                                                                                <div id="video-<?php echo $numVideos;?>"></div>
                                                                                                <p class="img-grande-des">
                                                                                                    Puede también ver el video solo en:<br><br> 
                                                                                                    <a class="boton4 left" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'video','id'=>$row['id'],'ide'=>$this->evento['id']));?>">Ver video solo</a>
                                                                                                </p>
                                                                                                <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'foto'));?>"></a>
                                                                                </article>
                                                                                <?php $numVideos+=1; ?>
                                                                <?php endforeach; ?>
                                                    
								<section class="content-menu-galeria-videos">
                                                                                <?php $numVideos=1; ?>
                                                                                <?php foreach ($this->eventosVideos as $row):?>
                                                                                                <article id="sgavm-<?php echo $numVideos;?>" valor="<?php echo $numVideos; ?>">
                                                                                                                <?php 
                                                                                                                    $idYoutube=explode('=',$row['nombre']);
                                                                                                                ?>
                                                                                                                <img alt="" src="http://img.youtube.com/vi/<?php echo $idYoutube[1]; ?>/mqdefault.jpg">
                                                                                                                <div class="<?php if($numVideos==1): echo 'fondo-rojo'; else: echo 'fondo-blanco'; endif; ?>">

                                                                                                                </div>
                                                                                                                <a href="#"></a>                                                                                                                
                                                                                                </article>
                                                                                                <?php $numVideos+=1; ?>
                                                                                <?php endforeach; ?>
								</section>
						</section>
						<!--fin videos-->
																														
						<section class="content-galeria-equipos ocultar">
								<h4>LISTADO DE EQUIPO:</h4>
								<ul>
                                                                        
								</ul>
						</section>
						<section class="content-galeria-mapa ocultar">
								<div>
									<!--inicio google maps-->
                                                                            <div id="map" class="mapa2"></div>
                                                                        <!--fin google maps-->
								</div>
						</section>
				</section>
		</div>
		<!--fin galeria-->
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>