<section class="content-calendario-actividades">
        <h2>IPD &gt; Calendario de actividades &gt; Calendario </h2>
        <h1>
        	CALENDARIO DE ACTIVIDADES
                
                <?php
                    $authIni = Zend_Auth::getInstance();
                    if(isset($authIni->getIdentity()->frontend)):
                ?>                            
                    <a class="boton5 right" href="<?php echo $this->baseUrl();?>/calendario/listaeventos" >Crear Evento</a>
                <?php endif;?>
        	
        </h1>
        <div class="content-calendario-grande">
            <h3><a href="#" class="btnCalendarioGrandeIzquierda"></a><span id="mesActualGrande"><?php echo $this->nombreMes; ?></span> <a href="#" class="btnCalendarioGrandeDerecha"></a></h3>
                                        <dl>
                                                <dt>LUNES</dt>
                                                <dt>MARTES</dt>
                                                <dt>MIERCOLES</dt>
                                                <dt>JUEVES</dt>
                                                <dt>VIERNES</dt>
                                                <dt>SABADO</dt>
                                                <dt>DOMINGO</dt>
                                        </dl>
                                        <nav id="nav-calendario-grande" year="<?php echo date('Y');?>" month="<?php echo date('m');?>" diasMes="<?php echo $this->diasMes;?>" diaSemana="<?php echo $this->diaSemana;?>" data-source="<?php echo $this->baseUrl(); ?>/inicio/getcalendario" actionEvento="<?php echo $this->baseUrl(); ?>/calendario/listado" actionDetalle="<?php echo $this->baseUrl(); ?>/calendario/detalle" css="alto1">
                                                             
                                                            <div class="content-aviso-calendario-grande">
                                                                    <div class="top"></div>
                                                                    <div class="cbody">
                                                                        <div class="cflecha"></div>
                                                                        <ul>
                                                                            <!-- 
                                                                            <li><a href="#">titulo prueba titulo prueba titulo prueba</a></li>
                                                                            <li><a href="#">titulo prueba</a></li>
                                                                            <li><a href="#">titulo prueba</a></li>
                                                                            <li><a href="#">titulo prueba</a></li>
                                                                            <li><a href="#">titulo prueba</a></li>
                                                                            -->
                                                                        </ul>
                                                                    </div>
                                                                    <div class="bottom"></div>
                                                            </div>
                                                            
                                                            <?php                                                        	
                                                                    $num=$dia=1;
                                                                    $countEventos=count($this->dataEventos);
                                                                    $diaSemana=$this->diaSemana;
                                                                    $diasMes=$this->diasMes;
                                                                    $nuevoCss="";

                                                            if(((int)$diaSemana==7 && (int)$diasMes>=30 ) || ((int)$diaSemana==6 && (int)$diasMes==31) ){$nuevoCss='alto1';}

                                                            ?>

                                                            <?php foreach ($this->dataEventos as $row):?>                                                        

                                                                            <?php if($num==1){ ?>
                                                                                            <dl>	
                                                                            <?php } ?>

                                                                                            <?php for($i=0;$dia<$diaSemana;$i++){ ?>
                                                                                                            <dd class="<?php echo $nuevoCss;?>"></dd>
                                                                                                            <?php $num=$num+1; ?>
                                                                                                            <?php $dia=$dia+1; ?>
                                                                                            <?php } ?>

                                                                            <?php if($num <=6){ ?>	
                                                                                            <?php if($row['existe']==1){ ?>
                                                                                                     <?php 
                                                                                                        $data['row']=$row;
                                                                                                        $data['dia']='normal';
                                                                                                        $data['nuevoCss']=$nuevoCss;
                                                                                                        echo $this->partial('partials/_calendario_bloque_grande.phtml',$data);
                                                                                                      ?>       
                                                                                            <?php }else{?>
                                                                                                            <dd class="<?php echo $nuevoCss;?>">
                                                                                                                    <span><?php echo $row['dia'];?></span>                                                                                                                    
                                                                                                            </dd>
                                                                                            <?php } ?>
                                                                            <?php } ?>

                                                                            <?php if($num==7){ ?>
                                                                                            <?php if($row['existe']==1){ ?>
                                                                                                            <?php 
                                                                                                                $data['row']=$row;
                                                                                                                $data['dia']='domingo';
                                                                                                                $data['nuevoCss']=$nuevoCss;
                                                                                                                echo $this->partial('partials/_calendario_bloque_grande.phtml',$data);
                                                                                                              ?>
                                                                                            <?php }else{?>
                                                                                                            <dd class="domingo <?php echo $nuevoCss;?>" >                                                                                                                    
                                                                                                                    <span><?php echo $row['dia'];?></span>
                                                                                                            </dd>
                                                                                            <?php } ?>	
                                                                            <?php } ?>

                                                                            <?php if($num==7 || $countEventos==$num){ ?>
                                                                                            </dl>
                                                                                            <?php $num=0; ?>
                                                                            <?php } ?>

                                                                            <?php $num=$num+1; ?>                                                        		
                                                                            <?php $dia=$dia+1; ?>

                                                                    <?php endforeach;?>

                                            </nav>
        </div>

</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        
        
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>