<section class="content-evento">
		<h2>IPD  &gt; Panel de mantenimiento</h2>		
		<h3><span>PANEL DE MANTENIMIENTO</span></h3>
                <?php
                    
                    $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'mm-active');
                    $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'');
                    
                    $data['menu']=$setMenu;
                    echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
                ?>
                
                <nav class="submenu-matenimiento" >
                    <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listaeventos'),"",TRUE);?>" class="boton7">Lista de Eventos</a>
                </nav>
                
		<div class="content-msg">                        
                        <div class="note note-blue" id="msg-form">                        
                                <b>Nota</b>: Ingrese sus datos, todos los campos marcados con <span class="campo-obligatorio">(*)</span> son obligatorios. 					
                        </div>
                </div>
                <form id="frmRegistrarEventos" action="<?php echo $this->baseUrl(); ?>/calendario/update" method="POST" enctype="multipart/form-data">
                                <div class="content-ru">
                                                <dl class="ru-titulos">
                                                        <dt><span>(*)</span>Nombre de Evento:</dt>
                                                        <dt class="alto1"><span>(*)</span>Descripción:</dt>
                                                        <dt><span>(*)</span>Lugar:</dt>
                                                        <dt><span>(*)</span>Departamento:</dt>											
                                                        <dt><span>(*)</span>Provincia:</dt>
                                                        <dt><span>(*)</span>Distrito:</dt>
                                                        <dt><span>(*)</span>Fecha Inicio:</dt>
                                                        <dt><span>(*)</span>Fecha Fin:</dt>
                                                        <dt><span></span>Hora:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>
                                                                <?php 
                                                                    $propertiesNombreEvento= array('id' => 'txtNombreEvento');
                                                                    echo $this -> frmRegistrarEventos -> txtNombreEvento -> setAttribs($propertiesNombreEvento) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd class="alto1">
                                                                <?php 
                                                                    $propertiesDescripcion= array('id' => 'textDescripcion');
                                                                    echo $this -> frmRegistrarEventos -> textDescripcion -> setAttribs($propertiesDescripcion) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesLugar= array('id' => 'txtLugar');
                                                                    echo $this -> frmRegistrarEventos -> txtLugar -> setAttribs($propertiesLugar) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>                                                                
                                                                <?php 
                                                                    $url=$this->baseUrl().'/calendario/getprovincias';
                                                                    $propertiesDepartamentos= array('id' => 'departamento','data-source'=>$url);
                                                                    echo $this -> frmRegistrarEventos -> departamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php
                                                                    $url=$this->baseUrl().'/calendario/getdistritos';
                                                                    $propertiesProvincias= array('id' => 'provincia','data-source'=>$url);
                                                                    echo $this -> frmRegistrarEventos -> provincia -> setAttribs($propertiesProvincias) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesDistrito= array('id' => 'distrito');
                                                                    echo $this -> frmRegistrarEventos -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();
                                                                ?>
                                                        </dd>											
                                                        <dd>
                                                                
                                                                <?php 
                                                                    $propertiesFechaInicio= array('id' => 'txtFechaInicio');
                                                                    echo $this -> frmRegistrarEventos -> txtFechaInicio -> setAttribs($propertiesFechaInicio) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                
                                                                <?php 
                                                                    $propertiesFechaFin= array('id' => 'txtFechaFin');
                                                                    echo $this -> frmRegistrarEventos -> txtFechaFin -> setAttribs($propertiesFechaFin) -> renderViewHelper();
                                                                ?>
                                                        </dd>
                                                        <dd>
                                                                <?php 
                                                                    $propertiesHora= array('id' => 'txtHora');
                                                                    echo $this -> frmRegistrarEventos -> txtHora -> setAttribs($propertiesHora) -> renderViewHelper();
                                                                ?>
                                                                
                                                        </dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-nombre">Ingrese el nombre del evento.</p></dd>
                                                        <dd class="alto1"><p id="error-descripcion">Falta la descripción.</p></dd>
                                                        <dd><p id="error-lugar">Falta escribir el lugar.</p></dd>
                                                        <dd><p id="error-departamento">Falta elegir el departamento.</p></dd>
                                                        <dd><p id="error-provincia">Falta elegir la provincia.</p></dd>
                                                        <dd><p id="error-distrito">Falta elegir el distrito.</p></dd>											
                                                        <dd><p id="error-fecha-inicio">Falta elegir la fecha.</p></dd>
                                                        <dd><p id="error-fecha-fin">Falta elegir la fecha.</p></dd>
                                                        <dd><p id="error-hora">Falta elegir la hora.</p></dd>
                                                </dl>
                                </div>
                                <div class="ru-linea"></div>
                                
                                <div class="content-ru">
                                        <p>Datos de contacto  del evento (opcional).</p>
                                        <dl class="ru-titulos">
                                                <dt>E-mail:</dt>                                                
                                                <dt>Teléfono:</dt>											
                                                <dt>Twitter:</dt>
                                                <dt>Facebook:</dt>                                                
                                        </dl>
                                        <dl class="ru-controles">
                                                <dd>
                                                    <?php 
                                                        $propertiesEmail= array('id' => 'txtEmail');
                                                        echo $this -> frmRegistrarEventos -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesTelefono= array('id' => 'txtTelefono');
                                                        echo $this -> frmRegistrarEventos -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesTwitter= array('id' => 'txtTwitter');
                                                        echo $this -> frmRegistrarEventos -> txtTwitter -> setAttribs($propertiesTwitter) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesFacebook= array('id' => 'txtFacebook');
                                                        echo $this -> frmRegistrarEventos -> txtFacebook -> setAttribs($propertiesFacebook) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                        </dl>
                                        
                                        <dl class="ru-error">
                                                <dd><p id="error-email">No es un email correcto.</p></dd>                                                
                                        </dl>
                                </div>
                                
                                <div class="ru-linea"></div>
                                
                                <div class="content-ru">
                                                <p>Encuentre el lugar y marque con un punto su ubicación.</p>
                                                <dl class="ru-titulos">
                                                        <dt>Mapa:</dt>
                                                </dl>
                                                <dl class="ru-controles-mapa">
                                                        <dd>                                                            
                                                            <input type="text" id="txtMapa" name="txtMapa" placeholder="Escriba el lugar">
                                                            <a id="buscarSitio" href="#" class="boton1 left">Buscar</a>
                                                            
                                                            <?php 
                                                                $propertiesMapaLatitud= array('id' => 'mapaLatitud');
                                                                echo $this -> frmRegistrarEventos -> mapaLatitud -> setAttribs($propertiesMapaLatitud) -> renderViewHelper();
                                                            ?>
                                                            
                                                            <?php 
                                                                $propertiesMapaLongitud= array('id' => 'mapaLongitud');
                                                                echo $this -> frmRegistrarEventos -> mapaLongitud -> setAttribs($propertiesMapaLongitud) -> renderViewHelper();
                                                            ?>
                                                            
                                                        </dd>
                                                        
                                                        <dd>
                                                            <!--inicio google map-->
                                                            <div class="content-mapa">
                                                                <div id="map" class="mapa1"></div>
                                                            </div>
                                                            <!--fin google map-->
                                                        </dd>
                                                </dl>                                                
                                </div>
                                
                                <div class="ru-linea"></div>

                                <div class="content-ru">
                                                <p>Se puede subir hasta 3 fotos, con un tamaño de (520x370) o similares, solo acepta las extensiones (JPG, JPEG, PNG, BMP), hasta un peso máximo de (1MB).</p>
                                                <dl class="ru-titulos">
                                                        <dt>Fotos:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>
                                                                
                                                                <a id="subir-fotos" href="#" class="boton1 left">Subir fotos</a>
                                                        </dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-fotos">Falta subir una foto.</p></dd>
                                                </dl>
                                                
                                                <?php 
                                                    $css="";
                                                    if(isset($this->fotos)):
                                                        $css='mostrar';
                                                    endif;
                                                    
                                                    $num=0;
                                                    $countFotos=count($this->fotos);
                                                ?>
                                                
                                                <div id="content-sf" class="content-vf <?php echo $css;?>"  tipo='fotos'>
                                                        
                                                        <?php foreach ($this->fotos as $foto):?>
                                                                <p id="p-<?php echo $num;?>">
                                                                        <span><?php echo $foto['nombre'];?></span>                                                                        
                                                                        <a href="#" evento="<?php echo $foto['id'];?>">eliminar</a>
                                                                </p>

                                                                <?php $num++; ?>
                                                        <?php endforeach; ?>
                                                        
                                                        <?php 
                                                            $propertiesGetFotos= array('id' => 'getFotos');
                                                            echo $this -> frmRegistrarEventos -> getFotos -> setAttribs($propertiesGetFotos) -> renderViewHelper();
                                                        ?>
                                                        
                                                        <input  type="hidden" id="getFotosEliminados" name="getFotosEliminados"  value=""/>
                                                </div>
                                </div>

                                <div class="ru-linea"></div>

                                <div class="content-ru">
                                                <p>Mostrará solo videos de YouTube hasta un máximo de 3.</p>
                                                <dl class="ru-titulos">
                                                        <dt>Videos:</dt>
                                                </dl>
                                                <dl class="ru-controles">
                                                        <dd>
                                                            
                                                            <input type="text" id="txtVideos" name="txtVideos" placeholder="https://www.youtube.com/">
                                                        </dd>
                                                        <dd><a id="subir-videos" href="#" class="boton1 left">Agregar</a></dd>
                                                </dl>
                                                <dl class="ru-error">
                                                        <dd><p id="error-videos">Falta subir un video.</p></dd>											
                                                </dl>
                                                
                                                <?php 
                                                    $css="";
                                                    if(isset($this->videos)):
                                                        $css='mostrar';
                                                    endif;
                                                    
                                                    $num=0;                                                    
                                                    $nombreVideos="";
                                                ?>
                                                <div id="content-sv" class="content-vf <?php echo $css;?>"  tipo='videos'>                                                		
                                                        <?php foreach ($this->videos as $video):?>
                                                                <p id="p-<?php echo $num;?>">
                                                                        <span><?php echo $video['nombre'];?></span>                                                                        
                                                                        <a href="#" evento="<?php echo $video['id'];?>">eliminar</a>
                                                                        
                                                                        <?php
                                                                        	if(strlen($nombreVideos)==''):
                                                                        		$nombreVideos=$video['nombre'];
                                                                        	else:
                                                                        		$nombreVideos=$nombreVideos.'/////'.$video['nombre'];
                                                                        	endif;
                                                                        ?>
                                                                </p>

                                                                <?php $num++; ?>
                                                        <?php endforeach; ?>
                                                        
                                                        <?php 
                                                              $propertiesGetVideos= array('id' => 'getVideos');
                                                              echo $this -> frmRegistrarEventos -> getVideos -> setAttribs($propertiesGetVideos) -> renderViewHelper();
                                                         ?>
                                                                                                                       
                                                        <input  type="hidden" id="getTraidos" name="getTraidos"  value="<?php echo $nombreVideos;?>">
                                                        <input  type="hidden" id="getVideosEliminados" name="getVideosEliminados"  value=""/>
                                                        
                                                                
                                                </div>
                                </div>
                                <div class="ru-linea"></div>
                                <?php 
                                    $propertiesId= array('id' => 'id');
                                    echo $this -> frmRegistrarEventos -> id -> setAttribs($propertiesId) -> renderViewHelper();
                                ?>
                                <input type="submit" name="btnRegistrarEvento" id="btnRegistrarEvento" value="Registrar" class="boton1">	
                </form>
		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>