<section>
        <div class="h_title">Noticias</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <!-- div class="sep"></div -->
                <a class="button add" href="<?php echo $this->url(array('controller'=>'noticias','action'=>'nuevo'));?>">A&ntilde;adir nueva noticia</a>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">T&iacute;tulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php foreach($this->paginator as $noticia) : ?>
                        <tr>		
                            <td class="align-center"><?php echo $noticia->id ;?></td>   
                            <td><?php echo $noticia->titulo; ?></td>
                            <td><?php echo $noticia->descripcion; ?></td>
                            <td>
                                eeeeee
                            </td>		
                        </tr>	
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?>  
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                        <!--span>« First</span>
                        <span class="active">1</span>
                        <a href="#">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <span>...</span>
                        <a href="">23</a>
                        <a href="">24</a>
                        <a href="">Last »</a -->
                </div>
                <!-- a class="button" href="">Categories</a --> 
        </div>
</section>
