<script type="text/javascript">
	//bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<section class="full_w">
    <div class="h_title">Nueva Noticia</div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>La noticia fue creada.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar la noticia, el peso de la imagen deb ser maximo 2MB.</p></div>
    <?php  } ?> 
    <form id="frmRegistrarNoticia" enctype="multipart/form-data" action="" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/noticias/nuevo">
                <div class="element">
                        <label for="name">Pertenece a (Opcional)<span class="msg-error"><p id="error-pertenece">* Ingrese el titulo de la noticia.</p></span></label>
                         
                         <?php 
                            //$propertiesFederacions = array('id' => 'federaciones');
                            //echo $this -> formNoticia -> federaciones -> setAttribs($propertiesFederacions) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="name">Titulo <span class="msg-error"><p id="error-titulo">* Ingrese el titulo de la noticia.</p></span></label>
                        <?php 
                            $propertiesid = array('id' => 'id');
                            echo $this -> formNoticia -> id -> setAttribs($propertiesid) -> renderViewHelper();                            
                        ?> 
                         <?php 
                            $propertiesTitulo = array('id' => 'txtTitulo');
                            echo $this -> formNoticia -> txtTitulo -> setAttribs($propertiesTitulo) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Resumen<span class="msg-error"><p id="error-resumen">* Ingrese un resumen.</p></span></label>
                        <?php 
                            $propertiesResumen = array('id' => 'txtResumen');
                            echo $this -> formNoticia -> txtResumen -> setAttribs($propertiesResumen) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Descripcion (si desea copiar utilizar editor de texto)<span class="msg-error"><p id="error-descripcion">* Ingrese una descripcion.</p></span></label>
                        <?php 
                            $propertiesDescripcion = array('id' => 'txtDescripcion');
                            echo $this -> formNoticia -> txtDescripcion -> setAttribs($propertiesDescripcion) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="name">Lugar <span class="msg-error"><p id="error-lugar">* Ingrese el lugar de la noticia.</p></span></label>
                         <?php 
                            $propertiesLugar = array('id' => 'txtLugar');
                            echo $this -> formNoticia -> txtLugar -> setAttribs($propertiesLugar) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Imagen de la noticia <span class="msg-error"><p id="error-descripcion">* Ingrese una descripcion.</p></span></label>
                        <input name="oculto" type="hidden" value="upload" />
                        <input type="file" name="imagen" size="100">
                </div>
                <!-- div class="element">
                        <label for="content">Descripcion <span>(required)</span></label>
                        <?php 
                           // $propertiesPicture = array('id' => 'picture');
                           // echo $this -> formNoticia -> picture -> setAttribs($propertiesPicture) -> renderViewHelper();                            
                        ?>
                </div -->
                <div class="entry">
                        <?php 
                            $propertiesBtnNoticia = array('id' => 'btnEnviarNoticia');
                            echo $this -> formNoticia -> btnEnviarNoticia -> setAttribs($propertiesBtnNoticia) -> renderViewHelper();                            
                        ?>
                        <!-- button type="submit" class="add">Guardar</button> 
                        <button class="cancel">Cancelar</button -->
                </div>
        </form>
</section>