<style>
    a:link,
    a:visited
    {
        color: #0398CA;
    }

    span#zf-name
    {
        color: #91BE3F;
    }

    div#welcome
    {
        color: #FFFFFF;
        /*background-image: url(http://framework.zend.com/images/bkg_header.jpg);*/
        width:  600px;
        height: 400px;
        border: 2px solid #444444;
        overflow: hidden;
        text-align: center;
    }

    div#more-information
    {
        /*background-image: url(http://framework.zend.com/images/bkg_body-bottom.gif);*/
        height: 100%;
    }
</style>
<?php
$auth = Zend_Auth::getInstance();

if ( $auth->hasIdentity()) :
?>
<li>Usuario:<?php echo $auth->getIdentity() ?></li>
<!-- li><a href="<?php //echo $this->baseUrl();?>">Logout</a -->
    <li><a href="<?php echo $this->url(array('controller'=>'index','action'=>'logout'),'',true);?>">Logout</a>
<?php else: ?>
<li><a href="/usuario/login/">Login</a>
<?php endif;?>
<div>
    <h1>User <span id="zf-name">LOGIN</span></h1>

    <h3><?php echo $this->title; ?></h3>

    <div id="more-information">
        <p></p>
        <p>
            
        </p>
        <div>
            <h2>Ingresar al sistema</h2>
            <?php echo $this->frmlogin ; ?>
        </div>
    </div>
</div>