﻿/*===============================INICIO SETEO DE CONTROLES DE HTML5===================================*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section{
	 display:block;
}
/*===============================FIN SETEO DE CONTROLES DE HTML5===================================*/


.content-table-malla-curricular{ font-family:myriad-pro-regular;}
.ru-titulos dt{font-family: "myriad-pro-bold-it"}
body{background: #006699;}
body,html{ height:100%;}
p,a{ font-size:12px;}
p,a,input[type=text],input[type=submit],select,textarea{font-family:myriad-pro-regular;}
input[type=text],input[type=submit],select,textarea{ font-weight:bold;}
input[type=submit]{ font-size:12px; float:right; cursor:pointer; line-height:12px; border:0px;}
input[type=text],select,textarea{font-size:15px; float:left; background:#CDCDCD;  color:#000000; width:100%;border:0px;  padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;}

p{color:#666666;}
h1,h2,h3,h4{font-family:myriad-pro-bold-it;}
.left{float:left;}
.right{float:right;}
.color1{color:#a02322;}
.color2{color:#9a9a9a;}
.margin1{ margin-left:auto;margin-right:auto;}
.margin2{ margin-left:116px;}
.margin3{margin-bottom:20px;margin-top:20px;margin-right:20px;margin-left:20px;}

.padding1{padding-bottom:20px;padding-top:20px;padding-right:20px;padding-left:20px;}
.space1{height:38px; width:100%; overflow:hidden;}

.mostrar-respuesta{ display:inherit!important;}
#content{ height:auto;  width:1024px;background:#FFFFFF;}
.content-body{ height:auto; overflow:hidden;}
#header{ height:38px; width:1024px; overflow:hidden; position:fixed; z-index:10; background:#000000;}


/*inicio tabla*/
#content-gen-form{ width:770px; height:200px; margin-left:130px; margin-top:100px; display:inline-table; }
#content-gen-form h1{ font-size:26px; margin-bottom:35px;}
.content-form{ height:auto; overflow:hidden;}
#resp-gen-form{ width:560px; font-size:16px; height:15px; padding-left:20px;padding-top:10px;padding-right:20px;padding-bottom:10px; margin-bottom:20px;  line-height:15px; color: #003399; color:#016F00; background:#AFFFAF; background:#C2FFAF;   }
.ru-titulos {width:210px; height:auto; float:left;}
.ru-titulos dt{font-size:20px;text-align:right; padding-right:20px;}
.ru-controles{ float:left; width:390px; height:auto;}
.ru-controles dd{ width:100%; overflow:hidden;}
.ru-titulos dt,.ru-controles dd,.ru-error dd{  height:40px;}
.ru-error{ width:160px; float:right;}
.ru-error dd p{ color: #FF0000; font-size:15px; font-weight:bold; display:none;}
#content-gen-form form input[type=submit]{margin-right: 175px !important;background:#336699;color:#FFFFFF; height:25px; padding-left:10px;padding-right:10px; }
#content-gen-form form input[type=submit]:hover{ background:#006699;}
#content-gen-form form textarea{ height:100px;}
.t-style1{ height:150px!important; margin-bottom:10px;}
/*fin tabla*/

/*formularios*/
#frmBolsaTrabajo textarea{ height:138px!important; width:380px!important;}


/*BACKEND*/

#grilla{width:100%;  height:auto; overflow:hidden;background:aqua;}
#grilla .titulos,#grilla .contenido{ height:auto; overflow:hidden; display:block;}
#grilla .titulos{background:#006666;}
#grilla .titulos >dt{color:#FFFFFF;font-family:myriad-pro-bold-it;font-size:14px; }
#grilla .contenido >dd{font-family:myriad-pro-regular; font-size:12px;}
#grilla .titulos >dt,#grilla .contenido >dd{ display: inline-block; float:left; height:auto; overflow:hidden;  padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:5px; }
#grilla .titulos > .ancho-1,#grilla .contenido > .ancho-1{ width:600px;}
#grilla .titulos > .ancho-2,#grilla .contenido > .ancho-2{ width:100px;}
#grilla .contenido dd > a{ text-decoration:none; color:#006666; font-weight:bold;}
#grilla .contenido dd > a:hover{text-decoration:underline;}
.fila-1{ background:#D3DCE3;}
.fila-2{ background:#E5E5E5;}

.gilla-1{ width:930px!important; margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;}
.gilla-1 .ancho-2{width:95px!important;}

/*menu*/
#menu{ height:auto; overflow:hidden; width:930px; margin-left:auto;margin-right:auto; margin-top:10px;}
#menu a{ float:left; color:#006666;text-decoration:none;font-weight:bold; margin-right:20px;margin-bottom:1px; font-size:14px;}
#menu a:hover{ text-decoration:underline; }

