<section class="content-evento">
		<h2>La Evolución del Deporte &gt; SNC</h2>
		<div class="content-tca">
				<h3><span>Sistema Nacional de Capacitación</span></h3>
					
					<p>
						El Instituto Peruano del Deporte inicia la construcción de las bases de la evolución del deporte nacional,
						a través de la implementación del Sistema Nacional de Capacitación (SNC), que tiene como misión 	
						la generación de un movimiento social que genere la revolución del deporte en el país, a través de la 
						articulación de los miembros del Sistema Deportivo Nacional para la certificación de profesionales del 
						deporte en todo el país.
					</p>
					<p>
						El IPD apuesta a que la capacitación sea un vehículo para la profesionalización del deporte y busca que el 
						SNC sea una alternativa para que los apasionados del deporte puedan desarrollarse profesionalmente y ser 
						agentes de cambio en sus comunidades.
					</p>
					<p>
						Concepto Estratégico</br>
						Generación de  un movimiento social que genere la revolución del deporte en el país, a través  de la 
						articulación  de los diferentes actores del SISDEN para la masificación y profesionalización del deporte 
						nacional.

					</p>
					<p>
						Se busca desarrollar la Cultura Deportiva en el país:</br>
						<li class="lista-generals">	A través de la comunicación, generar en la población el conocimiento de los beneficios de realizar 
							Actividad Física y &nbsp;&nbsp;&nbsp;su impacto en su Calidad de Vida.</li>
						<li class="lista-generals">	Incidir, a través de la capacitación, que el deporte es el principal medio para la formación integral
							de la persona.</li>
						<li class="lista-generals">	Contribuir a la mejora de la autoestima nacional  pro-movimiento la generación de nuevos iconos del 
							deporte.</li>

					</p>
					<h4><span>DIRECCION NACIONAL DE CAPACITACIÓN Y TÉCNICA DEPORTIVA</span></h4>
					<h4>Objetivos</h4>
					<p>1.	A nivel IPD: </br>
						<li class="lista-generals">Fortalecer el rol del ente deportivo nacional.</li>
						<li class="lista-generals">Lograr objetivos estratégicos: Masificación y desarrollo del deporte</li>
					<p>
					<p>2.	A nivel de deportista:</br>
						<li class="lista-generals">Otorgarle una base de conocimientos que le servirá para mejorar su performance y como una posibilidad de trabajo.</li>
					</p>
					<p>3.	A nivel de trabajador IPD</br>
						<li class="lista-generals">Desarrollar competencias.</li>
						<li class="lista-generals">Otorgar elementos objetivos para evaluación y promoción.</li>
						<li class="lista-generals">Empleabilidad.</li>
					</p>
					<p>4.	A nivel de la población en general</br>
						<li class="lista-generals">Desarrollar competencias.</li>
						<li class="lista-generals">Posibilidad de trabajo sostenible.</li>
					</p>
					<h4>VISIÓN</h4>
					<p>
						Ser un pilar para el desarrollo del deporte nacional, a través de la creación de redes promotoras del deporte
						en el país.
					</p>
					<h4>MISIÓN</h4>
					<p>
						Promover la capacitación a los deportistas, técnicos, dirigentes, profesionales del deporte y agentes deportivos.
					</p>
					<h4>PROYECTOS</h4>
					<li style="list-style:none;font-size:14px;color: #7F7F7F;line-height:20px;">1.	Especializaciones para gestores y técnicos deportivos.</li>
					<li style="list-style:none;font-size:14px;color: #7F7F7F;line-height:20px;">2.	Juégatela por tus hijos.</li>				
					<li style="list-style:none;font-size:14px;color: #7F7F7F;line-height:20px;">3.	Alianza estratégica con federaciones.</li>
					<li style="list-style:none;font-size:14px;color: #7F7F7F;line-height:20px;">4.	Antropometría.</li>
					<li style="list-style:none;font-size:14px;color: #7F7F7F;line-height:20px;">5.	Eventos.</li>
					
		</div>		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
<!-- div class="space1"></div>	
<section id="content" class="fondo-ayuda">					
                        <div class="content-group">
                                  <?php                                                     
                                        //echo $this->partial('partials/_crear_cuenta.phtml',array('frmCrearCuenta'=>$this->frmCrearCuenta));                                                     
                                    ?>
                        </div>
                        <?php 
                            //echo $this->render('partials/_redes_sociales.phtml');  
                        ?>

                        <div class="content-ayuda-body">
                                        <div class="content-ayuda-descripcion">
                                                        <h4>Ayuda</h4>
                                                        <p>
                                                                ¿Necesitas ayuda para registrarte o acceder a los cursos?
                                                                Déjanos un mensaje y nuestro equipo de soporte se
                                                                pondrá en contacto contigo.
                                                        </p>									
                                        </div>
                                        <div class="content-form-ayuda">
                                        				<p id="resp-ayuda" >
												                
												        </p>
                                                        <form id="frmAyuda" action="" method="POST" url="<?php //echo $this->url(array('module' => 'usuarios','controller' => 'ayuda','action' => 'index'),'',true); ?>">
                                                                    <div class="content-email">
                                                                            <?php 
                                                                                //$propertiesAyudaEmail= array('id' => 'textAyudaEmail');
                                                                                //echo $this -> frmAyuda -> textAyudaEmail -> setAttribs($propertiesAyudaEmail)-> renderViewHelper();
                                                                            ?>                                                                            
                                                                    </div>
                                                                    <div class="content-mensaje">
                                                                            <?php 
                                                                                //$propertiesAyudaMensaje= array('id' => 'textAyudaMensaje');                                                                                
                                                                                //echo $this -> frmAyuda -> textAyudaMensaje -> setAttribs($propertiesAyudaMensaje)-> renderViewHelper();
                                                                            ?>                                                                            
                                                                    </div>
                                                            
                                                                    <?php 
                                                                        //$propertiesBtnAyuda= array('id' => 'btnEnviarMensajeAyuda');                                                                                
                                                                       // echo $this -> frmAyuda -> btnEnviarMensajeAyuda -> setAttribs($propertiesBtnAyuda)-> renderViewHelper();
                                                                    ?>                                                                     
                                                        </form>
                                        </div>
                        </div>					
</section -->
