﻿/*===============================INICIO SETEO DE CONTROLES DE HTML5===================================*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section{
	 display:block;
}
/*===============================FIN SETEO DE CONTROLES DE HTML5===================================*/
@font-face {font-family: "myriad-pro-bold-it"; 			
			/*funciona sacado de telefonica "lideresytecnologia" */	
			/*		   
			src: url('../fonts/myriadproboldit.eot');
		    src: url('../fonts/myriadproboldit.eot?#iefix') format('embedded-opentype'),
		        url('../fonts/myriadproboldit.woff') format('woff'),
		        url('../fonts/myriadproboldit.ttf') format('truetype'),
		        url('../fonts/myriadproboldit.svg#WebSymbolsRegular') format('svg');
		*/
		
			
				
			    src: url('../fonts/myriadproboldit.eot');
			    src: url('../fonts/myriadproboldit.eot?#iefix') format('embedded-opentype'),
			    	 url('../fonts/myriadproboldit.otf') format('opentype'),			         
			         url('../fonts/myriadproboldit.ttf') format('truetype');
			    
			    /*
	    	    src: url('../fonts/myriadproboldit.eot?') format('truetype'),
	     		 	 url('../fonts/myriadproboldit.ttf') format('truetype');
			    */
	     		font-weight: normal;
    			font-style: normal;    			
			}
@font-face {font-family: "myriad-pro-regular"; 			
			/*funciona sacado de telefonica "lideresytecnologia" */			   
			    src: url('../fonts/myriadproregular.eot');
			    src: url('../fonts/myriadproregular.eot?#iefix') format('embedded-opentype'),			         
			         url('../fonts/myriadproregular.ttf') format('truetype');
			    
	     		font-weight: normal;
    			font-style: normal;    			
			}
.content-table-malla-curricular{ font-family:myriad-pro-regular;}
body{background:#982722;}
body,html{ height:100%;}
p,a{ font-size:12px;}
p,a,input[type=text],input[type=submit]{font-family:myriad-pro-regular;}
input[type=text],input[type=submit]{ font-weight:bold;}

p{color:#666666;}
h1,h2,h3,h4{ font-style:italic; font-family:myriad-pro-bold-it;}
.left{float:left;}
.right{float:right;}
.color1{color:#a02322;}
.color2{color:#9a9a9a;}
.margin2{ margin-left:116px;}
.margin3{margin-bottom:20px;margin-top:20px;margin-right:20px;margin-left:20px;}

.padding1{padding-bottom:20px;padding-top:20px;padding-right:20px;padding-left:20px;}
.space1{height:38px; width:100%; overflow:hidden;}
#content{ height:100%;  width:1024px;background:#000000;}
#header{ height:38px; width:1024px; overflow:hidden; position:fixed; z-index:10; background:#000000;}
#header >a{ float:left;  margin-left:100px; margin-top:4px;}
#header > nav { margin-right:130px; float:right; margin-top:10px;}
#header > nav > a{ font-size:16px; color: #999999; float:left; margin-left:13px;  margin-right:13px; text-decoration:none;}
#header > nav > a:hover{color:#FFFFFF;}
#header > nav > .a-action{color:#FFFFFF;}
#footer{ height:215px; width:1024px; background:#000000;   bottom:0px;color:#FFFFFF;display:inline-table;}
#footer >h4{ margin-left:30px; margin-top:32px; margin-bottom:15px; }
#footer >p{ margin-left:40px;margin-bottom: 1px;font-size: 15px;}
#footer >p >a{font-size: 15px; color:#666666;text-decoration:none;}
#footer >p >a:hover{ text-decoration:underline; color:#FFFFFF; }

#footer >p >span{ margin-top:15px; display:inline-table;color:#FFFFFF;}
#btnEnviar,#btnEnviarMensajeAyuda,#btnEnviarLogin{ width:50px; height:20px; background-image:url('../images/btn-enviar.png'); border:0px; color:#FFFFFF; margin-top:5px;margin-right:5px;}
#txtemail,#txtLoginEmail,#txtLoginPassword{ width:220px;margin-left:10px; margin-top:5px; background: transparent; border:none; }
.fondo-inicio{ height:664px!important; overflow:hidden;  background-color:#FFFFFF;}
.fondo-becas-1{background-image:url('../images/fondos/fondo4.png')!important; height:664px!important; overflow:hidden;  }
.fondo-becas-2{background-image:url('../images/fondos/fondo5.png')!important; height:664px!important; overflow:hidden;  }
.fondo-capacitacion{background-image:url('../images/fondos/fondo6.png')!important; height:664px!important; overflow:hidden;  }

#content-becas{ width:1024px; height:664px;}
#content-becas article{}
.content-article-becas{display:none;}
.animacion-becas-active{ display:inherit;}
#content-crear-cuenta{background-image:url('../images/inicio-cuadro1.png');width:538px; height:84px;margin-left: 76px; float:left;padding-bottom:20px;padding-top:20px;padding-right:20px;padding-left:20px;}

#content-crear-cuenta > h3{width:200px; margin-left:20px; width:180px; float:left; color:#9f2322; font-size:26px;font-style:italic;}
#content-crear-cuenta >.content-sub-caja2{ width:295px;  float:right; margin-right:20px;}
#content-crear-cuenta >.content-sub-caja2 >p{ margin-bottom:10px;}
.content-caja-texto{width:309px; height:auto; overflow:hidden; }
.content-caja-texto > h4{ margin-bottom:5px;}
.content-caja-texto div,.content-email{ width:309px; height:28px; overflow:hidden; background-image:url('../images/caja2.png');margin-bottom:5px;}

input[type=text]{ font-size:15px; float:left; background:transparent; border:0px; color:#000000; }
input[type=submit]{ font-size:12px; float:right; cursor:pointer; line-height:12px;}

.content-caja-texto .peq,.content-caja-texto .peq >a{ font-size:11px;}
.content-caja-texto .peq >a{ text-decoration:none;}
.content-caja-texto .peq >a:hover{text-decoration:underline;}
.content-caja-texto p > a{color: #000000;}
.content-caja-texto > .des-sup{ margin-bottom:10px;}

#content-login{ width:217px; height:94px; float:left; margin-left:10px; background-image:url('../images/inicio-cuadro2.png'); padding-left:18px;padding-right:20px;padding-bottom:20px;padding-top:10px; }
#content-login .content-login-email,#content-login .content-login-pass{ width:221px; height:28px;background-image:url('../images/caja1.png');}
#txtLoginEmail{ width:202px;}
#txtLoginPassword{ width:145px;}
#content-inicio{width:1024px; height:100%;   float:left; display:inline-table;  background:#FFFFFF;}
.content-article-inicio{height:664px; width:100%; overflow:hidden; display:none;}
.article-action{display:inherit;}
#content-siguiente{ width:80px;height:auto; position:fixed; left:944px; top:45%;}
#content-siguiente nav{width:80px; height:116px; top:40%;position:relative; background-image:url('../images/menu-siguiente.png'); }
#content-siguiente nav .subir{ margin-left:25px;margin-right:25px; margin-top:30px; width:30px; height:22px; overflow:hidden; background-image:url('../images/btn-anterior.png');display:inline-table;}
#content-siguiente nav .bajar{ margin-left:25px;margin-right:25px; margin-top:10px; width:30px; height:22px; overflow:hidden; background-image:url('../images/btn-siguiente.png');display:inline-table;}
.inicio-art-uno{ background-image:url('../images/fondos/fondo1.png'); background-repeat:no-repeat; }
.inicio-art-uno >h1{ font-size:70px; margin-top:140px;margin-left:140px;}
.inicio-art-uno >h2{ font-size:50px;margin-left:300px;}

.content-redes-sociales{ background-image:url('../images/cuadro-redes-sociales.png'); width:120px; height:31px;}
.content-redes-sociales >a{ float:left; background-image:url('../images/iconos-redes.png'); margin-top:8px;display:inline-table;}
.content-redes-sociales > a.rs-correo{width:21px;height:18px;background-position: -3px -2px; margin-left:9px;}
.content-redes-sociales > a.rs-facebook{width:22px;height:18px;background-position: -29px -2px;margin-left:5px;}
.content-redes-sociales > a.rs-twiter{width:22px;height:18px;background-position: -56px -2px;margin-left:5px;}
.content-redes-sociales > a.rs-google{width:22px;height:18px;background-position: -83px -2px;margin-left:5px;}

.content-juegatela{height:auto; overflow:hidden; margin-top:150px;}
.content-group-inicio{ height:auto; overflow:hidden; }
.content-group{ height:auto; overflow:hidden; margin-top:40px; }

.inicio-art-dos >h1{font-size:50px; margin-top:140px;margin-left:100px;}
.inicio-art-dos >h2{font-size:40px;margin-left:200px;}
.content-programa-becas{ width:550px; height:203px; margin-left:100px; margin-top:50px; padding-top:20px;padding-bottom:20px;padding-right:30px;padding-left:30px;background-image:url('../images/inicio-cuadro3.png'); }
.content-programa-becas > h4 { font-size:20px; margin-bottom:10px; margin-top:10px;}
.content-programa-becas > p { font-size:16px; line-height:25px;}

.inicio-art-tres >h1{font-size:30px; margin-top:215px;margin-left:100px;}
.inicio-art-tres >h2{font-size:40px;margin-left:200px;}

.content-preguntas-frecuentes{ font-size:20px;width:737px; height:238px; overflow:hidden; margin-left:100px; margin-top:20px; padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px;background-image:url('../images/inicio-cuadro4.png'); }

.content-seg-pf{ float:left; color:#999999;}
.content-seg-pf > p{ line-height:27px; font-size:16px;}
.content-seg-pf > h4{  margin-bottom:10px; color:#000000;}
.content-seg-pf >p{ font-style:italic;}
.content-box-description{ font-size:16px; line-height:27px; width:310px; height:200px; float:right;  padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px; background:#FFFFFF;}
.inicio-art-dos{background-image:url('../images/fondos/fondo2.png'); background-repeat:no-repeat;}
.inicio-art-dos> h1{ font-size:40px;}
.inicio-art-dos> h2{ font-size:45px; margin-left:170px;}
.inicio-art-tres{background-image:url('../images/fondos/fondo3.png'); background-repeat:no-repeat;}

/*------------------------------INICIO ANIMACIONES EFECTOS--------------------------------*/
.animar { 
	overflow: hidden;
	position: relative;
	top: 0;	
}

.animar article {
  left: 0;
  position: absolute;
  top: 0;
}
/*------------------------------FIN ANIMACIONES EFECTOS--------------------------------*/

.content-menu-becas{ height:auto; width:934px; margin-left:90px;  margin-top:25px; margin-bottom:20px; overflow:hidden; display:inline-table;}
.content-menu-becas > a{ float:left; color:#808080; font-style:italic; text-decoration:none; font-size:16px; font-weight:bold;padding-left:20px;padding-right:20px;}
.content-menu-becas > a:hover{ text-decoration:underline; }
.content-menu-becas .m-becas-1{ border-right:2px solid #808080;}
.content-menu-becas .action-becas{color:#e02229;}
.content-certificasion{ width:748px; height:325px; background-image:url('../images/becas-cuadro22.png'); margin-left:76px; padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:30px; }
.content-certificasion >h4{margin-bottom:15px; }
.content-certificasion >p{ font-size:16px; line-height:27px;  margin-bottom:30px;}

.content-malla-curricular{ width:748px; height:401px; background-image:url('../images/becas-cuadro3.png'); padding-left:30px;padding-right:30px;padding-bottom:30px;padding-top:30px;margin-left: 76px;}
.content-malla-curricular > h4{ margin-bottom:15px;}
.content-malla-curricular > p{ font-size:16px; line-height:27px;margin-bottom: 30px;}
.content-table-malla-curricular{  height:auto; overflow:hidden; margin-left:auto;margin-right:auto; }

.table-titulo,.table-body{height:auto; overflow:hidden; margin-left:auto;margin-right:auto; display:block; }
.table-titulo dt,.table-body dd{ display:inline-block; line-height:30px; padding-left:10px; padding-right:10px; text-align:center; margin-left:5px;margin-right:5px;margin-bottom:5px;margin-top:5px;}
.table-body dd{ text-align:left;}
.cell-tituto-style1{background-image:url('../images/table/becas-mc1.png'); width:209px; height:31px;}
.cell-tituto-style2{background-image:url('../images/table/becas-mc2.png'); width:209px; height:31px;}
.cell-tituto-style3{background-image:url('../images/table/becas-mc3.png'); width:93px; height:31px;}

.cell-body-style1{background-image:url('../images/table/becas-mc4.png'); width:209px; height:31px;}
.cell-body-style2{background-image:url('../images/table/becas-mc5.png'); width:209px; height:31px;}
.cell-body-style3{background-image:url('../images/table/becas-mc6.png'); width:93px; height:31px; text-align:center!important;}

.content-sn-capacitacion{ width:748px; height:381px;background-image:url('../images/snc-cuadro1.png');padding-left:30px;padding-right:30px;padding-bottom:30px;padding-top:30px;margin-left: 76px; margin-top:100px; }
.content-sn-capacitacion h4{ margin-bottom:10px;} 
.content-sn-capacitacion p{ line-height:27px; font-size:16px;}

.content-ayuda-body{width:748px; height:233px;background-image:url('../images/ayuda-cuadro1.png');padding-left:30px;padding-right:30px;padding-bottom:30px;padding-top:30px;margin-left: 76px; margin-top:100px; }
.content-ayuda-descripcion{ width:400px; float:left;}
.content-ayuda-descripcion h4{margin-bottom: 15px;}
.content-ayuda-descripcion p{ font-size:16px; line-height:27px;}
.content-form-ayuda{ height:230px; float:right; margin-top:40px;}
.content-email input[type=text]{margin-left: 10px;margin-top: 5px;  width:285px;}
.content-mensaje{ width:309px; height:131px; overflow:hidden; background-image:url('../images/caja4.png');margin-bottom:5px;}
#textAyudaMensaje{ width:290px; height:120px; margin-left:10px;margin-top:5px; margin-bottom:5px;  margin-right:10px; border:0px; background:transparent;}

/*inicio placeholder*/
input[type=text].placeholder,textarea.placeholder{color:#FFFFFF;}
.placeholder:focus{color: #FFFFFF;}
/*inicio placeholder*/


