﻿/*===============================INICIO SETEO DE CONTROLES DE HTML5===================================*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section{
	 display:block;
}
/*===============================FIN SETEO DE CONTROLES DE HTML5===================================*/
@font-face {font-family: "myriad-pro-bold-it";
			    
                src: url('../fonts/pt-sans/PT_Sans-Web-BoldItalic.eot');
                src: url('../fonts/pt-sans/PT_Sans-Web-BoldItalic.eot?#iefix') format('embedded-opentype'),			         
                     url('../fonts/pt-sans/PT_Sans-Web-BoldItalic.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;    			

            }

@font-face {font-family: "myriad-pro-regular"; 			
						   
                src: url('../fonts/pt-sans/PT_Sans-Web-Regular.eot');
                src: url('../fonts/pt-sans/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),			         
                     url('../fonts/pt-sans/PT_Sans-Web-Regular.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;    			
            }

body{
	
	font-family: "myriad-pro-regular";
	
	background-image: url('../images/fondo.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;		
	
}
body,html{ height:100%;}
p,a{ font-size:13px;color:#7F7F7F;}
p{ line-height:18px;}
p,a,input[type=text],input[type=submit],h1,h2,h3,h4,h5,span,b{font-family:myriad-pro-regular!important;}
input[type=text],input[type=submit]{ font-weight:bold;}

.left{float:left;}
.right{float:right;}
.color1{color:#a02322;}
.color2{color:#9a9a9a;}
.padding1{padding-bottom:20px;padding-top:20px;padding-right:20px;padding-left:20px;}
.space1{height:60px; width:100%; overflow:hidden;}
.space2{height:103px; width:100%; overflow:hidden;}
.ocultar{ display:none;}
.mostrar{ display:block!important;}
.boton1{font-size: 13px!important; width:80px!important; height:22px; font-weight:bold; background:#6f0404; color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important; border:0px; cursor:pointer; }
.boton1:hover{ background:#BF0B0B;}
.boton2{ width:125px!important; height:28px!important; color:#000000; font-weight:bold; background:url('../images/galeria.png') -564px -7px no-repeat; text-decoration:none!important; text-align:center!important; line-height:28px;}
.boton3{font-size: 13px!important; width:80px!important; height:22px!important; font-weight:bold; background:#606362;color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important;}
.boton3:hover{ background:#000000;}
.boton4{font-size: 13px!important; width:100px!important; height:22px!important; border:1px solid #000000!important; font-weight:bold; background:#000000;color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important;}
.boton4:hover{ background:#000000;border:1px solid #FFFFFF!important;}

.boton5{font-size: 13px!important; width:100px!important; height:22px!important;  font-weight:bold; background:#6f0404;color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important;}
.boton5:hover{ background:#BF0B0B;}
.boton6{font-size: 13px!important; width:160px!important; height:22px!important;  font-weight:bold; background:#6f0404;color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important;}
.boton6:hover{ background:#BF0B0B;}

.boton7{  float:left;   font-size: 13px!important;  height:22px; font-weight:bold; background:#6f0404; color:#FFFFFF!important; text-decoration:none!important;  text-align:center; line-height:20px!important; border:0px; cursor:pointer; padding-left: 20px;padding-right: 20px; }
.boton7:hover{ background:#BF0B0B;}

.marginbottom{ margin-bottom:0px!important;}
.content-msg{height:auto; overflow:hidden; margin-bottom:20px;}
.content-msg p >span{ color:#6F0404; font-weight:bold;}

.content{ height:auto;  width:1100px; margin-left:auto;margin-right:auto; background:#FFFFFF;}
.content-body{ height:auto; display:inline-table; background:#FFFFFF;}
#header,#header2{ height:60px;width:1100px; position:fixed; z-index:10; background:#606362; }
#header2{ height:103px;}
.content-logo{ height:55px;  border-bottom:5px solid #FFFFFF; position:relative;}
.logo-ipd{ float:left; margin-left:25px!important; margin-top:5px!important;}
#header .content-logo >a,#header2 .content-logo >a{margin-left:15px; margin-top:7px; float:left;}
#header .content-logo >nav,#header2 .content-logo >nav{ float:right; margin-right:55px; margin-top:22px;}
#header .content-logo >nav >a,#header2 .content-logo >nav >a{color:#FFFFFF; font-size:14px; font-weight:bold; margin-left:55px; text-decoration:none;padding-right:25px!important;background:url('../images/icono-login.png') right 0px no-repeat;}
#header .content-logo >nav >p,#header2 .content-logo >nav >p{color:#FFFFFF; font-size:13px; float:right; }
#header .content-logo >nav >p  > span,#header2 .content-logo >nav >p > span{ float:left!important; border-right:1px solid #FFFFFF; padding-right:15px; display:inline-table; padding-top:3px;padding-bottom:3px;}
#header .content-logo >nav >p  > a,#header2 .content-logo >nav >p > a{margin-left:10px; float:left; border:1px solid #000000; }
.content-slider{ height:340px; background:#6E0404;}

#menu{ height:43px; background:#606362;}
#menu a{ color:#FFFFFF;float:left; height:43px; text-decoration:none; line-height:40px; font-size:16px; padding-top:0px;padding-bottom:0px; padding-right:28px;padding-left:28px;}
#menu a:hover,.menu-active{ background:#000000;}
#menu a:first-child{ margin-left:50px;}

#menu-mantenimiento{ height:30px; background:#606362; margin-bottom: 30px;}
#menu-mantenimiento a{ color:#FFFFFF;float:left; height:30px; text-decoration:none; line-height:30px; font-size:16px; padding-top:0px;padding-bottom:0px; padding-right:28px;padding-left:28px;}
#menu-mantenimiento a:hover,.mm-active{ background:#000000;}
#menu-mantenimiento a:first-child{ margin-left:50px;}

.content-home-sections{ background:#FFFFFF; height:365px; display:block;  padding-left:10px;padding-right:10px;padding-bottom:10px;padding-top:10px; }
.content-home-sections > article{ float:left; width:350px; height:365px; display:inline-block; background:#6E0404; margin-left:5px;margin-right:5px;}

.content-home-sections > article > .content-gen-noticias > h2,.content-home-sections > article  > h2{ color:#FFFFFF; height:30px; line-height:30px; border-bottom:1px solid #FFFFFF;  }
.content-home-sections > article > .content-gen-noticias > h2 .left,.content-home-sections > article > h2 .left{ margin-left:20px;}
.content-home-sections > article > .content-gen-noticias > h2 .right,.content-home-sections > article > h2 .right{ margin-right:20px;}
.content-home-sections > article > .content-gen-noticias > h2 a,.content-home-sections > article  > h2 a{color:#FFFFFF;text-decoration:none;}
.content-home-sections > article > .content-gen-noticias > h2 a:hover,.content-home-sections > article > h2 a:hover{ text-decoration:underline;}

.n-style-2{ width:100%; background:#6E0404; display:inline-table; margin-top:10px;}
.n-style-2 > h2{ font-size:13px;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;height: auto;margin-top: 10px;padding-left:10px;padding-right:10px;overflow: hidden;padding-bottom: 5px;}
.n-style-2 > h2 > a{ color:#FFFFFF; text-decoration:underline;}
.n-style-2 .content-noticia{ height:auto; overflow:hidden; margin-left:10px;margin-right:10px;padding-left:0px;padding-right:0px;}
.n-style-2 .content-noticia >img{ width:70px; height:60px;}
.n-style-2 .content-noticia >p{ width:165px;}


#footer{ height:auto; overflow:hidden; border-bottom:solid #000000 10px;border-top:5px solid  #bcbcbc;}
#footer nav{ height:45px; overflow:hidden; background:#606362;}
#footer nav a{ color:#FFFFFF;float:left; font-size:14px; background:#666666; text-decoration:none; margin-bottom:0px; padding-left:15px;padding-right:15px; margin-top:15px;}
#footer nav a:hover{ text-decoration:underline;}
#footer nav a:first-child{ margin-left:265px;}
 
.content-des-calendario-home{ height:100px; overflow:hidden; background:#42100F; padding-left:15px;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.content-des-calendario-home h3{color:#FFFFFF;margin-bottom: 10px; font-weight:bold;}
.content-des-calendario-home p{color:#FFFFFF; line-height:18px; font-size:13px;text-align: justify;}

/*inicio calendario*/
.content-calendario{ height:204px;position:relative; display:inline-table; width:100%; background:#6E0404;}
.content-calendario > h2{ height:auto; overflow:hidden;color:#FFFFFF; border-bottom:1px solid #FFFFFF; padding-bottom:5px; margin-top:10px; margin-left:10px;margin-right:10px; }
.content-calendario > h2 > span{ display:inline-table;color:#FFFFFF; }
.content-calendario > a{ position:absolute;top:35%; width:25px; height:50px;}
.btnCalendarioDerecha{ right:-8px; background: url('../images/btncalendario.png') -37px 0px no-repeat;}
.btnCalendarioIzquierda{ left:-8px;background: url('../images/btncalendario.png') 1px 0px no-repeat;}
#nav-calendario{ width:280px; height:170px; margin-left:auto;margin-right:auto; margin-top:18px; position:relative;}
#nav-calendario > p{ height:auto; overflow:hidden;}
#nav-calendario > p a{float:left; width:34px;height:33px; margin-left:1px; margin-bottom:1px;background:#C58384; text-decoration:none; line-height:20px; line-height:40px; text-align:right; padding-right:5px;}
#nav-calendario > p .alto1{ height:28px!important;}
#nav-calendario > p .alto2{ height:21px!important;}
#nav-calendario > p a:hover{background:#AC8F91!important; color:#000000!important; text-decoration:underline;}
#nav-calendario > p .actual{background:#000000; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario > p .evento{background:#606362; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario > p .evento-usuario{background:#606362!important; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario > p .evento-admin{background:#000000!important; color:#FFFFFF!important; text-decoration:underline;}

#nav-calendario > p a:first-child{ margin-left:0px!important;}
#nav-calendario > p .domingo{ background:#A1504F;}
#nav-calendario > p .evento-domingo{ background:#FFFFFF; color:#000000!important;}
#nav-calendario > p .especial{ }

.cc-style-2{ height:163px; height:190px;}
.cc-style-2 > h2{ font-size:13px;}
.cc-style-2 > h2 > a{ color:#FFFFFF;}
.cc-style-2 > #nav-calendario{ width:210px; height:125px;}
.cc-style-2 > #nav-calendario >p >a{ width:24px; height:24px; line-height:30px; color:#FFFFFF;}

.lista-generals{font-size:14px;color: #7F7F7F;line-height:20px;margin-left:30px;}

.content-aviso-calendario{ width:203px; height:90px; display:none;  position:absolute; top:0px; left:0px;background: url('../images/aviso-calendario.png') -5px -4px no-repeat;}
.content-aviso-calendario .left{ width:80px; height:82px; overflow:hidden;}
.content-aviso-calendario .left >p{width:80px; height:82px!important; text-align:center;color:#FFFFFF;font-size:50px; font-weight:bold; line-height:80px;}
.content-aviso-calendario .right{ width:103px; height:62px; font-size:13px; overflow:hidden;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;}
.content-aviso-calendario .right a{font-size:13px; color:#000000; font-weight:bold; text-decoration:none; display:inline-table; margin-bottom:5px;}
.content-aviso-calendario .right a:hover{text-decoration:underline;}
.content-aviso-calendario .right p{font-size:12px; line-height:15px;}
.content-aviso-calendario .right > p > a{font-size:12px; color:#6C0408; }

/*fin calendario*/

/*inicio calendario grande*/
#nav-calendario-grande{ width:706px; height:435px; margin-left:auto;margin-right:auto; margin-top:0px; position:relative; }
#nav-calendario-grande dl{ height:auto; overflow:hidden;}
#nav-calendario-grande dl dd{float:left; width:94px;height:80px; padding-left:3px;padding-right:3px; padding-top:3px;padding-bottom:3px;color:#000000;  margin-left:1px; margin-bottom:1px;background:#FFFFFF; text-decoration:none; cursor:pointer;}
#nav-calendario-grande dl dd span{ float:left; font-size:14px; font-weight:bold;}
#nav-calendario-grande dl dd p{ width:78px; height:70px;float:right;text-align:right; font-weight:bold; overflow:hidden;}
#nav-calendario-grande dl dd p a{ font-size:12px;  color:#6C0408; text-decoration:none; margin-bottom:10px; display:inline-table; line-height:10px; font-weight:normal; }
#nav-calendario-grande dl dd p a:hover{text-decoration:underline;}
#nav-calendario-grande dl .alto1{ height:66px!important;}

#nav-calendario-grande dl dd:hover{background:#d5d5d5; }
#nav-calendario-grande dl .actual{background:#000000; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario-grande dl .evento{background:#606362; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario-grande dl .evento-usuario{background:#606362!important; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario-grande dl .evento-admin{background:#000000!important; color:#FFFFFF!important; text-decoration:underline;}
#nav-calendario-grande dl dd:first-child{ margin-left:0px!important;}
#nav-calendario-grande dl .domingo{ background:#DFDFDF; color:#000000!important;}
#nav-calendario-grande dl .domingo:hover{ background:#BFBFBF;}

#nav-calendario-grande dl .especial{ }


.content-aviso-calendario-grande{ width:203px; height:90px; display:none;  position:absolute; top:0px; left:0px; z-index:9;}
.content-aviso-calendario-grande .top{ width:238px; height:18px; overflow:hidden;background: url('../images/aviso-calendario-grande.png') -41px -6px no-repeat;}
.content-aviso-calendario-grande .bottom{ width:238px; height:18px;overflow:hidden; background: url('../images/aviso-calendario-grande.png') -41px -37px no-repeat;}
.content-aviso-calendario-grande .cbody{ float:left;  position:relative;  width:234px; height:auto; min-height:50px;  background:#D5D5D5; border-left:2px solid #000000;border-right:2px solid #000000; }
.content-aviso-calendario-grande .cbody .cflecha{position:absolute; top:10%; left:-11px;  width:11px;height:42px;background: url('../images/aviso-calendario-grande.png') -11px -9px no-repeat;}
.content-aviso-calendario-grande .cbody ul{ margin-left: 30px;margin-right: 10px;}
.content-aviso-calendario-grande .cbody ul li{list-style-type: decimal; color:#6C0408; font-size: 13px; font-weight: bold; }
.content-aviso-calendario-grande .cbody ul li a,.content-aviso-calendario-grande .cbody a{color:#6C0408; font-size: 13px; font-weight: normal; text-decoration:none;}
.content-aviso-calendario-grande .cbody ul li a:hover,.content-aviso-calendario-grande .cbody a:hover{ text-decoration:underline; }
.content-aviso-calendario-grande .cbody > a{ float:right; margin-right:10px; font-weight: bold;}

/*fin calendario grande*/
.content-border-top{ border-top:0px!important;}
.content-noticia{ height:81px;border-top:1px #AEACAD dashed; padding-left:15px;padding-right:15px; padding-top:15px;padding-bottom:15px; }
.content-noticia img{ float:left; width:90px; height:70px;}
.content-noticia p{ width:215px; float:right;}
.content-noticia p a{font-size:14px;color:#FFFFFF; font-weight:bold; text-decoration:none; display:inline-table;}
.content-noticia p a:hover{text-decoration:underline;}
.content-noticia p span{display:inline-table; font-size:13px; color:#FFFFFF!important;}

.content-equipos{ padding-left:15px;padding-right:15px;padding-top:15px;padding-bottom:15px; height:auto; overflow:hidden;}
.content-equipos .slide-equipos{ height:214px; width:320px; }
.content-equipos nav{ height:auto; overflow:hidden;}
.content-equipos nav a{ float:left; width:100px; height:80px; margin-left:10px;margin-top:10px;display:inline-table; }
.content-equipos nav a:first-child{margin-left:0px;}

/*inicio nivo slider*/
.slider-tavo{ width:1100px!important; height:340px!important; }
.nivo-controlNav{ display:none;}
/*fin nivo slider*/

.bolsa-trabajo-section,.content-calendario-actividades,.content-evento,.content-body-section{ float:left;width:733px; border-right:1px solid #C2C0C1;  height:auto; padding-left:30px;padding-right:30px; background:#FFFFFF; margin-bottom:20px;margin-top:20px;}
.bolsa-trabajo-section h2,.content-calendario-actividades h2,.content-evento h2,.content-body-section h2{display: inline-table; width:100%; border-bottom:1px solid #666666; color:#666666;  padding-bottom:5px; margin-top:0px; margin-bottom:20px;}
.content-evento h1,.bolsa-trabajo-section h1,.content-body-section h1{ width:100%; color:#6C0408;display:inline-table;font-size:30px;font-weight:bold;margin-bottom:10px;text-decoration:none;}
.content-evento h3,.content-body-section h3{ color:#6f0404; font-size:25px;margin-top:20px;border-bottom:1px solid #6f0404; padding-bottom:3px; margin-bottom:15px;}

.bolsa-trabajo-section > h4,.content-body-section > h4{ margin-top:20px; font-size:14px; font-weight:bold;}
.bolsa-trabajo-section > h4 >span,.content-body-section > h4 >span{ float:right;}
.content-body-section{ min-height:650px;}
.content-body-section >h5{ overflow: hidden;}
.content-busqueda{ height:auto; background:#E0DEDF; padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;}
.content-busqueda form{ height:auto;background:#C2C0C1; padding-left: 40px;padding-right: 40px;padding-top: 10px;padding-bottom: 10px; }

#frmBolsaTrabajoBusqueda .content-body,#frmBuscarSedesDeportivas ,.form, .content-body,#frmNoticiasBusqueda .content-body{ background:inherit;}
#frmBolsaTrabajoBusqueda h3,#frmBuscarSedesDeportivas h3,.form h3,#frmEquipoBuscar h3,#frmNoticiasBusqueda h3{ font-weight:bold; margin-bottom: 15px;}
#frmBolsaTrabajoBusqueda dl,#frmBuscarSedesDeportivas dl,.form dl,#frmEquipoBuscar dl,#frmNoticiasBusqueda dl{ display: inline-table;height: auto;}
#frmBolsaTrabajoBusqueda dl > dt,#frmBolsaTrabajoBusqueda dl > dd,#frmBuscarSedesDeportivas dl > dt,#frmBuscarSedesDeportivas dl > dd,.form dl > dt,.form dl > dd,#frmEquipoBuscar dl > dt,#frmNoticiasBusqueda dl > dt{ height:auto;  overflow:hidden;}
#frmBolsaTrabajoBusqueda dl > dt,#frmBuscarSedesDeportivas dl > dt,.form dl > dt,#frmEquipoBuscar dl > dt,#frmNoticiasBusqueda dl > dt{ margin-bottom:5px;}
#frmBolsaTrabajoBusqueda dl > dt > span,#frmBuscarSedesDeportivas dl > dt > span,.form dl > dt > span ,#frmEquipoBuscar dl > dt > span,#frmNoticiasBusqueda dl > dt > span{ float:left; font-size:14px; margin-right:20px; width:135px;}
#frmBolsaTrabajoBusqueda dl > dt > .span-text,#frmBuscarSedesDeportivas dl > dt > .span-text,.form dl > dt > .span-text ,#frmNoticiasBusqueda dl > dt > .span-text{ width:303px;}
#frmBolsaTrabajoBusqueda dl > dd > select,#frmBuscarSedesDeportivas dl > dd > select,.form dl > dd > select,#frmEquipoBuscar dl > dd > select,#frmNoticiasBusqueda dl > dd > select{ float:left; width:135px;}
#frmComboFederaciones dl > dd > select{ float:left; width:535px;}
#frmBolsaTrabajoBusqueda dl > dd > input[type=text],#frmBuscarSedesDeportivas dl > dd > input,.form dl > dd > input,#frmNoticiasBusqueda dl > dd > input[type=text]{ float:left; width:300px; border:1px solid #000000;}
#frmBolsaTrabajoBusqueda dl > dd >.select-margin-right,#frmBuscarSedesDeportivas dl > dd >.select-margin-right,.form dl > dd >.select-margin-right,#frmEquipoBuscar dl > dd >.select-margin-right{ margin-right:20px; }
#frmBolsaTrabajoBusqueda dl > dd > input[type=submit],#frmBuscarSedesDeportivas dl > dd > input,.form dl > dd > input,#frmEquipoBuscar dl > dd > input,#frmNoticiasBusqueda dl > dd > input[type=submit]{ float:left; width:16px;height:16px; cursor:pointer; border:0px; padding-left:0px;padding-right:0px; margin-left:10px;  background:url('../images/btnBusqueda.png') -2px -2px no-repeat;} 

#frmEquipoBuscar select{width:300px!important;}

#content-avisos{ min-height:900px; }
#content-avisos >article{ height:auto; overflow:hidden; border-top: 1px #000000 dashed; padding-bottom:30px;padding-top:30px;}
#content-avisos >article:first-child{ border-top: 0px;}
#content-avisos >article >a,#content-avisos > article > .ca-descripcion >a{ width:100%; color:#6C0408; font-size:16px; margin-bottom:10px; display:inline-table; font-weight:bold; text-decoration:none;}
#content-avisos >article >a:hover,#content-avisos > article > .ca-descripcion >a:hover{ text-decoration:underline;}
#content-avisos >article >p,#content-avisos > article > .ca-descripcion >p{ line-height:20px; color:#000000; text-align:justify; margin-bottom:10px; }
#content-avisos > article > .ca-descripcion > .p-1{margin-bottom:0px!important;}
#content-avisos >article >dl{ width:600px; float:left;}
#content-avisos >article >dl >dd{ display:inline-table; width:100%;}
#content-avisos >article >dl >dd >b{ float:left; font-weight:bold;font-size:13px;color:#6C0408; margin-right:5px;}
#content-avisos >article >dl >dd >span{ float:left;font-size:13px;}
#content-avisos >article > .boton1{ margin-top:10px; }
#content-avisos > article > .ca-foto{ float:left; width:120px; height:100px; margin-right:20px; }
#content-avisos > article > .ca-foto > img{ width:100%;}
#content-avisos > article > .ca-descripcion{ float:right; width:592px; height:auto; overflow:hidden;}
#content-avisos > article > .ca-descripcion >span{ color:#606362; font-size:11px; font-weight:bold; display:inline-table; margin-bottom:5px; }

.content-pagination{display: block; text-align: center;}
#pagination{ display: inline-block; height:auto; overflow:hidden; margin-left:auto;margin-right:auto; margin-bottom:20px;margin-top:20px; }
#pagination > a, #pagination > span{ font-size:13px;  font-weight:bold; color:#000000; float:left; padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px; text-decoration:none;}
#pagination > div{ float:left; height:auto; overflow:hidden;}
#pagination > div > a{ font-weight:bold; float:left; color:#000000;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px; text-decoration:none; border-right:1px solid #000000; }
#pagination > div > a:first-child{border-left:1px solid #000000;}
#pagination > div > a:hover,#pagination > a:hover{color:#6C0408;} 

.content-body-aside{float:right;width:265px;height:auto; background:#FFFFFF; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;}

.content-login{ width:247px; height:131px;background:url('../images/content-logo.png') -6px -2px no-repeat; position:absolute; right:26px; top:49px; display:none;}

#frmLogin div{ height:auto; overflow:hidden; margin-top:5px;}
#frmLogin div:first-child{ margin-top:20px;}
#frmLogin div p{float:left; padding-right:5px; text-align:right; width:78px; font-size:13px;}
#frmLogin div input[type=text],#frmLogin div input[type=password]{float:left;background:url('../images/caja-texto.png') -4px -3px no-repeat; border:0px; width:146px; height:22px; }
#frmLogin div input[type=submit]{ cursor:pointer; background:url('../images/btnlogin.png') -4px -3px no-repeat; border:0px; width:100px; height:23px; color:#FFFFFF; font-size:12px; margin-left:84px;}
#frmLogin div a{ float:left; margin-left:100px; font-size:13px;color:#7F7F7F; text-decoration:none;}
#frmLogin div a:hover{ text-decoration:underline;}

.content-calendario-actividades h1{color:#6C0408;display:inline-table; width:100%; font-size:25px;font-weight:bold;margin-bottom:10px;text-decoration:none;}
.content-calendario-grande{ width:731px; height:550px; background:#414141;}
.content-calendario-grande h3{ height:67px; font-size:35px; font-weight:bold; text-align:center; color:#FFFFFF; line-height:70px; border-bottom:1px solid #FFFFFF; }
.content-calendario-grande h3 a{ width:25px; height:35px; margin-top:15px;   }
.content-calendario-grande h3 .btnCalendarioGrandeIzquierda{ float:left; background:url('../images/btncalendariogrande.png') 0px 0px no-repeat; margin-left:10px; }
.content-calendario-grande h3 .btnCalendarioGrandeDerecha{float:right; background:url('../images/btncalendariogrande.png') -24px 0px no-repeat; margin-right:10px;}

.content-calendario-grande dl{ height:35px; color:#FFFFFF; display:block;}
.content-calendario-grande dl dt{ width:103px; height:35px; line-height:34px; color:#FFFFFF; display:inline-block;  float:left; text-align:center; font-weight:bold; }


.content-image-evento{ height:auto; overflow:hidden;}
.content-image-evento img{ width:100%;}


.content-des-evento{ height:auto; overflow:hidden; margin-bottom:20px;}
.content-des-evento >span{font-size:12px; font-weight:bold; float:right;   text-align:right;}
.evento-des{width:520px; float:left;}
.evento-des >.des-sedes{ margin-bottom:20px;}
.evento-des >.des-sedes > p{ height:auto; overflow:hidden;}
.evento-des >.des-sedes > p > b{ font-weight:bold; float:left; width:120px; color:#6F0404; }
.evento-des >.des-sedes > p > span{float:left;width:140px; color:#000000;}

.span-des{color: #000000;font-weight: bold;margin-bottom: 20px;margin-top: 20px;}

.content-des-evento .evento-des > p{  text-align:justify; color:#606362;}
.content-des-evento .evento-des2 > p{  margin-left:10px;line-height: 20px;margin-bottom: 20px;text-align:justify; color:#606362;}
.content-des-evento .evento-des > p b{ font-weight:bold;color:#6f0404;}
.content-des-evento .evento-des2 > p b{ font-weight:bold;color:#6f0404;}
.content-des-evento .evento-des > p:first-child{ margin-top:0px; margin-bottom:15px; }
.content-des-evento .evento-des2 > p:first-child{ margin-top:0px; margin-bottom:15px; }
.evento-des > h4{ color:#000000; font-weight:bold; margin-bottom:20px;margin-top:20px;}
.evento-des > ul{ color:#6F0404; margin-bottom:20px;margin-top:20px; list-style-type: disc; }
.evento-des > ul >li{ margin-left:30px; font-size:13px; margin-bottom:5px;}
.evento-des > ul >li >span{color:#000000;}
.evento-des2 > h4{ color:#000000; font-weight:bold; margin-bottom:20px;margin-top:20px;}
.evento-des2 > ul{ color:#6F0404; margin-bottom:20px;margin-top:20px; list-style-type: disc; }
.evento-des2 > ul >li{ margin-left:30px; font-size:13px; margin-bottom:5px;}
.evento-des2 > ul >li >span{color:#000000;}
.ed-btn{ height:auto; overflow:hidden;  margin-top:50px; }
.ed-btn > a{float:left;}
.ed-btn > a:first-child{ margin-right:20px;}

/*inicio redes sociales*/
.nav-redes-sociales{ height:auto; overflow:hidden; font-size:12px; font-weight:bold;} 
.nav-redes-sociales a{ float:right; margin-left:5px; width:19px;height:17px;}

.nav-redes-sociales .correo{background:url('../images/iconos-redes.png') -1px -2px no-repeat;}
.nav-redes-sociales .facebook{background:url('../images/iconos-redes.png') -25px -2px no-repeat;}
.nav-redes-sociales .google{background:url('../images/iconos-redes.png') -50px -2px no-repeat;}
.nav-redes-sociales .twitter{background:url('../images/iconos-redes.png') -75px -2px no-repeat;}
.nav-redes-sociales .linkeid{background:url('../images/iconos-redes.png') -99px -2px no-repeat;}

/*fin redes sociales*/
.content-galeria-evento{}
.content-galeria-evento >h4{ background:#6F0404; color:#FFFFFF; height:30px; width:220px; text-align:center; line-height:30px; display:inline-table; margin-bottom:20px;}
.content-galeria-evento > div{ height:auto; overflow:hidden; margin-bottom:10px;}
.content-galeria-evento > div > nav{ float:left;}
.content-galeria-evento > div > nav > a{ height:27px; float:left; position:relative; color:#FFFFFF; text-decoration:none; text-align:left; font-size:18px;line-height: 26px; font-weight:bold;}
.content-galeria-evento > div > nav > .m-fotos{ width:96px; padding-left:20px; background:url('../images/menu-evento.png') -9px -7px no-repeat; z-index:4;}
.content-galeria-evento > div > nav > .m-fotos:hover,.content-galeria-evento > div > nav > .me-activo-fotos{ background:url('../images/menu-evento.png') -9px -42px no-repeat;}
.content-galeria-evento > div > nav > .m-videos{ width:108px; padding-left:40px; margin-left:-18px; background:url('../images/menu-evento.png') -130px -42px no-repeat;z-index:3;}
.content-galeria-evento > div > nav > .m-videos:hover,.content-galeria-evento > div > nav > .me-activo-videos{ background:url('../images/menu-evento.png') -130px -7px no-repeat;}
.content-galeria-evento > div > nav > .m-equipos{ width:113px; padding-left:35px;margin-left:-18px; background:url('../images/menu-evento.png') -279px -7px no-repeat;z-index:2;}
.content-galeria-evento > div > nav > .m-equipos:hover,.content-galeria-evento > div > nav > .me-activo-equipos{background:url('../images/menu-evento.png') -279px -42px no-repeat;}
.content-galeria-evento > div > nav > .m-mapa{ width:84px; padding-left:50px; margin-left:-18px; background:url('../images/menu-evento.png') -432px -7px no-repeat;z-index:1;}
.content-galeria-evento > div > nav > .m-deportistas{ width:133px; padding-left:35px; margin-left:-18px; background:url('../images/menu-evento.png') -432px -7px no-repeat;z-index:1;}
.content-galeria-evento > div > nav > .m-mapa:hover,.content-galeria-evento > div > nav > .me-activo-mapa,.content-galeria-evento > div > nav > .m-deportistas:hover{background:url('../images/menu-evento.png') -432px -42px no-repeat;}


/*inicio galeria*/
.section-galeria{ width:717px; height:auto; overflow:hidden; background:#BCBCBC; position:relative; padding-left:8px;padding-right:8px;padding-top:8px;padding-bottom:8px; }
.content-galeria-fotos,.content-galeria-videos{ height:370px; width:520px; float:left; position:relative;}
.content-galeria-fotos article,.content-galeria-videos article{ width:100%; height:100%;position:absolute; display:none; overflow: hidden; }
.content-galeria-fotos article img,.content-galeria-videos article img{ width:100%; }
.content-galeria-fotos article a,.content-menu-galeria-fotos article a,.content-galeria-videos article a,.content-menu-galeria-videos article a{ width:54px; height:54px;position:absolute;z-index:2;}
.content-galeria-fotos article a,.content-menu-galeria-fotos article a{background:url('../images/galeria.png') -82px -8px no-repeat;}
.content-menu-galeria-videos article a{background:url('../images/galeria.png') -138px 0px no-repeat;}
.content-galeria-fotos article a,.content-galeria-videos article a{top:150px;left:250px;}
.content-galeria-videos article .content-video{ height:295px; width:520px;}
.img-grande-des{color:#FFFFFF; text-align:justify; font-weight:bold; height:50px; width:480px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px; bottom:0px; left:0px; position:absolute;background:url('../images/f-trasparente-negro.png') repeat;}
.img-grande-des >a{ position: relative!important; width:100px!important; color:#FFFFFF!important; top:0px!important; left:0px!important;}
.img-grande-des >a:hover{ text-decoration:underline; }
.content-menu-galeria-fotos,.content-menu-galeria-videos{ position:absolute;right:-197px; width:188px; height:370px; padding-left:8px;  }
.content-menu-galeria-fotos article,.content-menu-galeria-videos article{ width:188px; height:118px; position:relative; margin-top:8px; cursor:pointer;  display:none; }
.content-menu-galeria-fotos article:first-child,.content-menu-galeria-videos article:first-child{margin-top:0px!important;}
.content-menu-galeria-fotos article img,.content-menu-galeria-videos article img{ width:188px; }
.content-menu-galeria-videos article img{ width:188px;height:118px; }
.content-menu-galeria-fotos article div,.content-menu-galeria-videos article div{ width:188px; height:118px; position:absolute; z-index:1; bottom:0px;}
.content-menu-galeria-fotos article a,.content-menu-galeria-videos article a{ top:30%;left:36%; }
.content-menu-galeria-fotos article .fondo-blanco,.content-menu-galeria-videos article .fondo-blanco{background:url('../images/f-trasparente-blanco.png') repeat; }
.content-menu-galeria-fotos article .fondo-rojo,.content-menu-galeria-videos article .fondo-rojo{background:url('../images/f-trasparente-rojo.png') repeat; }
.content-menu-galeria-fotos article .fondo-trasparente,.content-menu-galeria-videos article .fondo-trasparente{background: transparent;}


/*.sg-video >section > article > a{ display:none;}*/

.content-galeria-equipos,.content-malla-curricular,.content-galeria-deportistas{ width:637px; height:272px;  background:#F4F2F3; margin-left:20px;margin-right:20px;margin-bottom:20px;margin-top:20px; padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:20px; }
.content-galeria-equipos h4,.content-galeria-deportistas h4{ font-weight:bold;}
.content-galeria-equipos ul,.content-galeria-deportistas ul{color: #6F0404;list-style-type: disc;margin-bottom: 20px;margin-top: 20px;}
.content-galeria-equipos ul li,.content-galeria-deportistas ul li{font-size: 13px;margin-bottom: 5px;margin-left: 30px;}
.content-galeria-equipos ul li a,.content-galeria-deportistas ul li a{  text-decoration:none; font-size:13px;  font-weight:bold; }
.content-galeria-equipos ul li a:hover,.content-galeria-deportistas ul li a:hover{ color:#6F0404;}

.content-galeria-mapa{width:677px; height:312px; background:#F4F2F3;margin-left:20px;margin-right:20px;margin-bottom:20px;margin-top:20px;}

/*fin galeria*/

.lista-eventos{}
.lista-eventos >h1{ width:100%; color:#6F0404; border-bottom:1px solid #6F0404; padding-bottom:20px; margin-bottom:0px;}
.lista-eventos >h1 a{ margin-top:6px; }
.btnls-anterior,.btnls-siguiente{float:left; width:20px;height:20px;margin-right:10px;}
.btnls-anterior{background:url('../images/btnSiguienteListadoAvisos.png') -5px -2px no-repeat;}
.btnls-siguiente{background:url('../images/btnSiguienteListadoAvisos.png') -40px -2px no-repeat;margin-right:30px;}

.lista-eventos > div{ width:70px;border-right:1px solid #6F0404; padding-top:30px;}
.lista-eventos > div >p{height:auto; width:732px; overflow:hidden; position:relative; border-top:1px #aeadad dashed;  padding-top:5px;padding-bottom:5px;}
.lista-eventos > div >p:hover,.lista-eventos > div >.active-listado{ background:#e3e0e0;}
.lista-eventos > div >p:hover b,.lista-eventos > div >.active-listado b{border-right:1px solid #6F0404;}
.lista-eventos > div >p:first-child{  border:0px;}
.lista-eventos > div >p >b{  float:left; width:70px; color:#6F0404; font-weight:bold;}
.lista-eventos > div >p >a{ color:#000000; font-weight:bold; text-decoration:none; margin-left:10px;}
.lista-eventos > div >p >a:hover{color:#6F0404;}

.gs-anterior{left:-20px;background:url('../images/galeria.png') -199px -6px no-repeat;}
.gs-anterior:hover{background:url('../images/galeria.png') -283px -6px no-repeat;}
.gs-siguiente{ right:-20px;background:url('../images/galeria.png') -392px -6px no-repeat;}
.gs-siguiente:hover{ right:-20px;background:url('../images/galeria.png') -476px -6px no-repeat;}

.content-galeria-sola{ height:600px; width:732px; display:inline-table;background:#000000; margin-top:20px; overflow:hidden; }
.content-galeria-sola > section{height:475px;width:692px;  margin-left:20px;margin-right:20px;margin-bottom:20px;margin-top:20px; position:relative; }
.content-galeria-sola > section >a{width:77px;height:88px;  position:absolute; z-index:1; top:190px;}

.content-galeria-sola > section >article{ width:694px; height:476px; position:absolute; overflow: hidden;  top:0px; left:0px; display:none;}
.content-galeria-sola > section >article >img{ width:100%;  }
.content-galeria-sola >  div{width:692px; height:45px;background:#6f0404;padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:20px;}
.content-galeria-sola >  div >a{ width:130px; float:left;}
.content-galeria-sola >  div >p{ color:#FFFFFF; width:524px; float:right;}

.content-vf-solo{ width:732px; height:auto; overflow:hidden; background:#000000;margin-top: 20px;margin-bottom: 40px; display:inline-table; }
.content-vf-solo .cvs-vf{ width:426px; height:295px; float:left;margin-left:15px;margin-right:15px;margin-top:15px;margin-bottom:15px;}
.content-vf-solo .cvs-vf > img{ width:426px; height:295px; }
.content-vf-solo .cvs-des{ width:245px; height:295px; overflow:hidden; float:right; background:#E0DEDF; padding-left:15px;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.content-vf-solo .cvs-des p{ color:#000000; margin-bottom:10px;}

.content-des{ margin-bottom:100px; height:auto; overflow:hidden;}
.content-des >p{margin-bottom:10px; color:#000000; text-align:justify;}

.content-malla-curricular{ height:auto!important;}
.content-malla-curricular > h4{ font-style:italic; font-weight:bold; margin-bottom:20px;}
.content-malla-curricular > p{margin-bottom:20px; text-align:justify;}

/*inicio tabla1*/
.table1{ height:auto; overflow:hidden;}
.table1 dl{ height:auto; overflow:hidden; margin-bottom:5px; font-size:13px;}
.table1 dl dt,.table1 dl dd{ float:left;height:20px; background:aqua; line-height:20px; margin-left:5px;  text-align:center;padding-left:10px;padding-right:10px;}
.table1 dl dt{ font-weight:bold;}
.table1 dl dt:first-child,.table1 dl dd:first-child{ margin-left:0px;}

.table1 dl .tit-1,.table1 dl .tit-2,.table1 dl .tdes-1,.table1 dl .tdes-2{ width:180px;}
.table1 dl .tdes-1,.table1 dl .tdes-2{ text-align:left;}
.table1 dl .tit-1{ background:#B9C4CF;}
.table1 dl .tit-2{ background:#CDCDCC;}
.table1 dl .tit-3,.table1 dl .tdes-3{ width:90px;}
.table1 dl .tit-3{ background:#E5EBF0;}

.table1 dl .tdes-1{ background:#D9E0E7;}
.table1 dl .tdes-2{ background:#E8E7E6;}
.table1 dl .tdes-3{ background:#F2F9FD;}


/*fin tabla1*/

/*inicio bloques formularios*/
.content-ru{ height:auto; overflow:hidden;}
.content-ru > p{ margin-left:190px; margin-bottom:10px; }
.content-ru .alto1{ height:156px; margin-bottom:10px;}
.ru-titulos {width:190px; height:auto; float:left;}
.ru-titulos dt{font-size:16px;text-align:right; padding-right:20px;}
.ru-titulos dt span{color:#6F0404; font-weight:bold;}
.ru-controles{ float:left; width:360px; height:auto;}
.ru-controles dd,.ru-controles-mapa dd{ width:100%; overflow:hidden;}
.ru-controles-mapa dd input[type=text],.ru-controles dd input[type=password],.ru-controles dd input[type=text],.ru-controles dd select,.ru-controles dd textarea{ width:100%;border:0px; background:#CDCDCD; padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;}
.ru-controles dd textarea{ height:145px; width:350px;}

.ru-controles-mapa{ float:left; width:540px; height:auto;}
.ru-controles-mapa dd{ margin-bottom:10px;}
.ru-controles-mapa dd input[type=text]{ float:left;  width: 440px; margin-right:10px;} 
.content-mapa{ width: 522px; height: 250px; border:1px solid #979797; padding-left: 8px;padding-right: 8px;padding-top: 8px;padding-bottom: 8px;}
.mapa1{width: 522px; height: 250px;}
.mapa2{width: 677px; height: 312px;}
.ru-error{ width:160px; float:right;}
.ru-error dd p{ color: #FF0000; font-size:13px; font-weight:bold; display:none;}
.ru-titulos dt,.ru-controles dd,.ru-error dd{  height:40px;}
.ru-linea{background:#CDCDCD; height:1px; width:100%; margin-bottom:20px;margin-top:10px;}

.content-vf{ height:auto; width:100%; overflow:hidden;margin-bottom: 20px;}
.content-vf > p{ height:auto;overflow:hidden; width:470px;border-bottom:1px #CDCDCD dashed;margin-left: 190px;padding-top:5px;padding-bottom:5px; padding-left:10px;padding-right:10px;}
.content-vf > p:hover{ background:#EFEFEF;}
.content-vf > p:first-child{border-top:1px #CDCDCD dashed;}
.content-vf > p >span{float:left; width:365px; color:#000000;  margin-right: 10px;  }

.content-vf > p >a{float:right; text-decoration:none; color:#006699; font-weight:bold;}
.content-vf > p >a:hover{ text-decoration:underline;}
/*fin bloques formularios*/

#frmRegistrarEventos input[type=submit],#frmContactos input[type=submit],#frmEquipo input[type=submit]{ margin-left:469px;}

/*inicio grilla*/
#grilla{width:100%;  height:auto; overflow:hidden;}
#grilla .titulos,#grilla .contenido{ height:auto; overflow:hidden; display:block;}
#grilla .titulos{background:#000000;}
#grilla .titulos >dt{color:#FFFFFF;font-family:myriad-pro-bold-it;font-size:14px; }
#grilla .contenido >dd{font-family:myriad-pro-regular; font-size:13px;}
#grilla .titulos >dt,#grilla .contenido >dd{ display: inline-block; float:left; height:auto; overflow:hidden;  padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:5px; }
#grilla .titulos > .ancho-1,#grilla .contenido > .ancho-1{ width:385px;}
#grilla .titulos > .ancho-2,#grilla .contenido > .ancho-2{ width:80px;}
#grilla .contenido:hover{ background:#EFEFEF;}
#grilla .contenido dd > a{ text-decoration:none; color:#006699; font-weight:bold;}
#grilla .contenido dd > a:hover{text-decoration:underline;}

#grilla .destacado{ float:left; width:16px; height:16px;  background:url('../images/icons/destacado.png') 0px 0px no-repeat;}
#grilla .sindestacado{float:left; width:16px; height:16px; background:url('../images/icons/sindestacado.png') 0px 0px no-repeat;}
#grilla .add{float:left; width:16px; height:16px;margin-left:10px; background:url('../images/icons/i_add.png') 0px 0px no-repeat;}
#grilla .edit{float:left; width:16px; height:16px;margin-left:10px; background:url('../images/icons/i_edit.png') 0px 0px no-repeat;}
#grilla .delete{float:left; width:16px; height:16px;margin-left:10px; background:url('../images/icons/i_eliminar.png') 0px 0px no-repeat;}

.fila-1{ border-bottom:1px #CDCDCD dashed;}
.fila-2{ border-bottom:1px #CDCDCD dashed;}

.gilla-1{ width:735px!important; margin-left:auto;margin-right:auto;margin-bottom:20px;}
.gilla-1 .ancho-2{width:75px!important;}

.gilla-2{ width:735px!important; margin-left:auto;margin-right:auto;margin-bottom:20px;}
.gilla-2 .ancho-1{width:20px!important;}
.gilla-2 .ancho-2{width:188px!important;}
.gilla-2 .ancho-3{width:100px!important;}

.gilla-3{ width:735px!important; margin-left:auto;margin-right:auto;margin-bottom:20px;}
.gilla-3 .ancho-1{width:20px!important;}
.gilla-3 .ancho-2{width:374px!important;}
.gilla-3 .ancho-3{width:70px!important;}
/*fin grilla*/

/*inicio mensaje*/
.note{  font-size:14px; position:relative;padding:14px 0 14px 41px;margin:0 0 11px 0;border-style:solid;border:#f2f2f2 1px solid;background:#f7f7f7;border-radius:4px;min-height:16px;line-height:16px;}
.note > span{ color:#6F0404; font-weight:bold;}
.note > b{ font-weight:bold;}
.note-red{background:url(../images/notes/note-red.png) no-repeat 16px 13px #ffe6e5;border-color:#fad2d4;}
.note-blue{background:url(../images/notes/note-blue.png) no-repeat 14px 13px #deefff;border-color:#c4ddf6;}
.note-green{background:url(../images/notes/note-green.png) no-repeat 14px 14px #e9f7d2;border-color:#d8e3b2;}
.note-yellow{background:url(../images/notes/note-yellow.png) no-repeat 14px 14px #fffae0;border-color:#f9e495;}

.note-red{color:#dd5a58;}
.note-blue{color:#499abf;}
.note-green{color:#7b9c46;}
.note-yellow{color:#dea803;}

.close-note{position:absolute;width:0; height:0;right:14px;top:17px;padding:9px 0 0 9px;overflow:hidden;background:url(images/backgrounds/ico/close-note.png) no-repeat 0 0;}
.notes{margin-bottom:9px;}

/*fin mensaje*/

.content-tca{ margin-left:auto;margin-right:auto; margin-top:0px;margin-bottom:20px;}
.content-tca h2,.content-tca h3,.content-tca h4,.content-tca h5,.content-tca h6,.content-tca p{ margin-bottom:20px; }
.content-tca p{ font-size:14px; line-height:20px;  text-align:justify;}
.content-tca h4{font-family: "myriad-pro-bold-it"; font-weight:bold;  }

.content-descripcion-sitio{ margin-left:50px; margin-top:50px; display:inline-table;}
.content-descripcion-sitio h1{ font-size:35px; margin-bottom:20px;} 
.content-descripcion-sitio h1 span{color:#982722;} 
.content-descripcion-sitio ul li{ margin-bottom:10px; list-style:disc; margin-left:40px;color: #CC0000;}
.content-descripcion-sitio ul li a{ font-size:25px; text-decoration:none;color:#333333; font-style:italic; } 
.content-descripcion-sitio ul li a:hover{ text-decoration:underline;}

.submenu-matenimiento{ height: auto; overflow: hidden; margin-bottom:20px;}
.submenu-matenimiento a{ margin-right:10px;}
#frmAsignarEquipo{ margin-bottom:15px;}

.content-f{ width:550px; height:auto; overflow:hidden;margin-left:auto;margin-right:auto; margin-top:50px;}
.cf-logo{ width:100px; overflow:hidden;margin-right:10px; height:auto; float:left;}
.cf-logo img{ width:100%;}
.cf-datos{ width:440px;  height:auto; float:left;}
.cf-datos > dl >dd{ height:auto; overflow:hidden; margin-top:5px;margin-bottom:5px; font-size:14px;}
.cf-datos > dl >dd > span{float:left; margin-left:15px; color:#4A4A4A;}
.cf-datos > dl >dd > span:first-child{ width:70px; float:left; margin-left:0px;margin-right:10px;}
.cf-datos > dl >dd > .sp-1{ float:left; width:340px;}
.cf-datos > dl >dd >b{ float:left;}
.cf-datos h3 {color:#000000; margin-bottom:5px; text-align:center; font-size:20px; font-weight:bold; margin-top:25px;}

.cf-grilla{ height:auto; overflow:hidden; font-size:14px;}
.cf-grilla >dl{ width: 100%; overflow: hidden;border-bottom: 1px dashed #CDCDCD;}
.cf-grilla >dl >dt{ background:#B80000; color:#FFFFFF; text-align:center; padding-top:5px;padding-bottom:5px; font-weight:bold;}
.cf-grilla >dl >dt,.cf-grilla >dl >dd{ float:left; width:325px;}
.cf-grilla >dl >dt:first-child,.cf-grilla >dl >dd:first-child{ width:115px;}
.cf-grilla >dl >dd{ padding-top:5px;padding-bottom:5px; color:#4A4A4A;}


.tit-regiones{color:#C00000; font-size:14px; font-weight:bold;}
#tit-regiones-tipo{color:#C00000; font-size:24px; font-weight:bold;  margin-bottom:20px;}

.content-mapa-crd{ height:auto;  width:290px;  overflow:hidden; margin-left:auto;margin-right:auto;}
#content-regiones{ height:auto; overflow:hidden;}
#content-regiones >article{ display:none;}
#content-regiones >h3{ font-size:13px; font-weight:bold; text-align:center; margin-bottom:10px;}
.grilla-regiones{ height:auto; overflow:hidden;font-size:13px;}
.grilla-regiones h4{ font-size:13px; font-weight:bold; color:#C00000; text-align:center; border:1px solid #C00000; padding-top:5px;padding-bottom:5px;}

.gr-mb-data {display:table;border-spacing: 2px; background:#CCCCCC;}
.gr-mb-data dl {display: table-row;}
.gr-mb-data dl dt,.gr-mb-data dl dd{padding: 0.5em;}
.gr-mb-data dl dt{display:table-cell;background:#C00000; color:#FFFFFF; font-weight:bold; text-align:center; padding-top:5px;padding-bottom:5px;}
.gr-mb-data dl dd{display:table-cell; background:#FCFCFC;}
