<section class="content-evento">
		<h2>La Evolución del Deporte &gt; Mapa del sitio</h2>
		<h3><span>Mapa del sitio</span></h3>
                <div class="content-descripcion-sitio">
		                <ul>					
		                        <li><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'inicio','action' => 'index'),'',true); ?>">Inicio</a></li>
		                        <li><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'calendario','action' => 'index'),'',true); ?>">Calendario de actividades</a></li>
		                        <li><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'noticias','action' => 'index'),'',true); ?>">Noticias</a></li>
		                        <li><a href="<?php echo $this->url(array('module' => 'usuarios','controller' => 'bolsa-trabajo','action' => 'index'),'',true); ?>">Bolsa de trabajo</a></li>                                        
		                        <li><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'index'),'',true);?>">Sede deportiva</a></li>
		                        <li><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'equipos','action'=>'index'),'',true);?>">Equipos</a></li>
		                        <li><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'programas','action'=>'index'),'',true);?>">Programas</a></li>
		                </ul>
				</div>
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
	
