<section class="content-evento">
		<h2>Becas IPD &gt; Bolsa de Trabajo</h2>
		<h1>BOLSA DE TRABAJO</h1>								
		<h3><span><?php echo $this->aviso['titulo']; ?></span> <a href="<?php echo $this->url(array('module' => 'usuarios','controller'=>'bolsa-trabajo','action'=>'index'),'',true);?>" class="boton1 right">Regresar</a></h3>
		<div class="content-des-evento">
				<div class="evento-des">
						<p>
							<?php echo $this->aviso['descripcion']; ?>
						</p>
						<p class="marginbottom">
							<b>LUGAR: </b><?php echo $this->aviso['departamento']; ?>
						</p>
						<p>
							<b>Fecha: </b><?php
                                                            $dato = new My_Funciones();
                                                            echo $dato->fecha1($this->aviso['fecharegistro']); 
                                                        ?>
						</p>
						
						<h4>FUNCIONES Y RESPONSABILIDADES</h4>
						<!-- ul>
							<li><span>descripcion de punto 1</span></li>
							<li><span>descripcion de punto 2</span></li>
							<li><span>descripcion de punto 3</span></li>
							<li><span>descripcion de punto 4</span></li>
							<li><span>descripcion de punto 5</span></li>
							<li><span>descripcion de punto 6</span></li>
						</ul -->
						
						<h4>REQUISITOS</h4>
						<!-- ul>
							<li><span>descripcion de punto 1</span></li>
							<li><span>descripcion de punto 2</span></li>
							<li><span>descripcion de punto 3</span></li>
							<li><span>descripcion de punto 4</span></li>
							<li><span>descripcion de punto 5</span></li>
							<li><span>descripcion de punto 6</span></li>
						</ul -->
						
						<div class="ed-btn">
							<a href="<?php echo $this->url(array('module' => 'usuarios','controller'=>'bolsa-trabajo','action'=>'postular','id'=>$this->aviso['id']),'',true);?>" class="boton1">Postular</a>
							<a href="<?php echo $this->url(array('module' => 'usuarios','controller'=>'bolsa-trabajo','action'=>'index'),'',true);?>" class="boton1">Buscar</a>
						</div>
				</div>
				
				<?php 
                                        $data['url'] = $this->rutaBase.$this->url();
                                        echo $this->partial('partials/_nav_compartir_right.phtml',$data);
                                ?>
				<span>Comparte:</span>
		</div>
		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
