<section class="bolsa-trabajo-section">
		<h2>Becas IPD &gt; Bolsa de Trabajo</h2>
		<h1>BOLSA DE TRABAJO</h1>
		<div class="content-busqueda">
			<form  id="frmBolsaTrabajoBusqueda" method="POST" action="<?php echo $this->url(array('module' => 'usuarios','controller' => 'bolsa-trabajo','action' => 'buscar'),'',true); ?>" >
				<h3>CRITERIOS DE BUSQUEDA</h3>
				<dl>
					<dt>
						<span>Tipo Disciplina:</span>
						<span>Departamento:</span>
						<span>Fecha:</span>						
					</dt>
					<dd>
                                                <?php 
                                                        $propertiesDisciplina= array('id' => 'sltDisciplina');
                                                        echo $this -> frmBolsaTrabajoBusqueda -> sltDisciplina -> setAttribs($propertiesDisciplina) -> renderViewHelper();
                                                ?>
                                                <?php 
                                                        $propertiesDepartamento= array('id' => 'sltDepartamento');
                                                        echo $this -> frmBolsaTrabajoBusqueda -> sltDepartamento -> setAttribs($propertiesDepartamento) -> renderViewHelper();
                                                ?>
                                                <?php 
                                                        $propertiesFecha= array('id' => 'sltFecha');
                                                        echo $this -> frmBolsaTrabajoBusqueda -> sltFecha -> setAttribs($propertiesFecha) -> renderViewHelper();
                                                ?>
						
						
						<input type="submit" id="btnBolsaTrabajoBusqueda" name="btnBolsaTrabajoBusqueda" value=""/>
					</dd>
				</dl>
				
			</form>
		</div>
		
		<h4>
			<!-- Resultados de la búsqueda: Informática/Telecomunicaciones <span>1 de 50</span -->
		</h4>
		
		<section id="content-avisos">
				
                        <?php if(count($this->avisos)):?>
                                    <?php foreach($this->avisos as $noticia) : ?>
                                                <article>
                                                        <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'bolsa-trabajo','action'=>'detalle', 'id'=>$noticia['id']),'',true);?>"><?php echo $noticia['titulo'];?></a>							
                                                        <p>
                                                               <?php echo $noticia['descripcion']; ?>
                                                        </p>
                                                        <dl>
                                                                <dd>
                                                                    <b>Departamento:</b>
                                                                    <span> <?php echo $noticia['departamento']; ?></span>
                                                                </dd>
                                                                <dd>
                                                                    <b>Fecha:</b>
                                                                    <span><?php
                                                                                $dato = new My_Funciones();
                                                                                echo $dato->fecha1($noticia['fecharegistro']); 
                                                                            ?>
                                                                    </span>
                                                                </dd>
                                                        </dl>
                                                        <a class="boton1 right" href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'bolsa-trabajo','action'=>'detalle', 'id'=>$noticia['id']),'',true);?>">Ver Aviso</a>
                                                </article>
                                    <?php endforeach; ?>
                    
                                    <?php                                        
                                        $valores['parametros']=$this->parametros;
                                        $valores['urlPagination']=$this->baseUrl().'/bolsa-trabajo/index';

                                        echo $this->paginationControl($this->avisos,'Sliding','paginator/paguinar.phtml',$valores);
                                    ?>
                        <?php else:?>
                            <dl><dd>No existen ofertas de trabajo disponible.</dd></dl>
                        <?php endif;?>
                            <div class="pagination">
                                    <?php if(count($this->paginator)):?>
                                    <?php echo $this->paginator;?>
                                    <?php endif;?>
                            </div>   
                            
		</section>
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
