<section class="content-body-section">
		<h2>Portal IPD &gt; Crear cuenta</h2>
		<h3><span>Postular</span></h3>
		
                <div class="content-msg">
                        <?php if($this->respRegistro==0):?>
                            <div  id="msg-form" class="note note-blue">			                        
			                        <b>Nota</b>: Ingrese sus datos, todos los campos marcados con <span class="campo-obligatorio">(*)</span> son obligatorios. 					
			                </div>
                        <?php else:?>
                            <div  id="msg-form" class="note note-green">			                        
			                        <b>Nota</b>: Se registro correctamente. 					
			                </div>
                        <?php endif;?>
                </div>
                       <?php if($this->respRegistro==0):?> 
                       <form id="frmPostular" action="<?php echo $this->url(array('module' => 'usuarios','controller' => 'bolsa-trabajo','action' => 'postular'),'',true); ?>" method="POST">
                                <div class="content-ru" >
                                        <dl class="ru-titulos">
                                                <dt><span>(*)</span>Nombre Completo:</dt>
                                                <dt><span>(*)</span>Correo:</dt>
                                                <dt><span>(*)</span>Ciudad:</dt>
                                                <dt><span>(*)</span>Pais:</dt>									
                                        </dl>
                                        <dl class="ru-controles">
                                                <dd>
                                                    <?php 
                                                        $propertiesId= array('id' => 'id');
                                                        echo $this -> frmPostular -> id -> setAttribs($propertiesId)-> renderViewHelper();
                                                    ?>
                                                    <?php 
                                                        $propertiesNombreCompletoPo= array('id' => 'txtNombresCompletoPo');
                                                        echo $this -> frmPostular -> txtNombresCompletoPo -> setAttribs($propertiesNombreCompletoPo) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                     <?php 
                                                        $propertiesEmailPo = array('id' => 'txtEmailPo');
                                                        echo $this -> frmPostular -> txtEmailPo -> setAttribs($propertiesEmailPo) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>
                                                    <?php 
                                                        $propertiesCiudadPo= array('id' => 'txtCiudadPo');
                                                        echo $this -> frmPostular -> txtCiudadPo -> setAttribs($propertiesCiudadPo) -> renderViewHelper();
                                                    ?>
                                                </dd>
                                                <dd>    
                                                        <?php 
                                                            $propertiesSelect= array('id' => 'pais');
                                                            echo $this -> frmPostular -> pais -> setAttribs($propertiesSelect) -> renderViewHelper();
                                                        ?>
                                                </dd>
                                                <dd class="alto1">    
                                                        <?php 
                                                            $propertiesComentarioPo= array('id' => 'textComentarioPo');
                                                            echo $this -> frmPostular -> textComentarioPo -> setAttribs($propertiesComentarioPo) -> renderViewHelper();
                                                        ?>
                                                </dd>
                                        </dl>
                                        <dl class="ru-error">
                                                <dd><p id="error-nombre">Ingresar</p></dd>
                                                <dd><p id="error-email">Ingresar</p></dd>
                                                <dd><p id="error-ciudad">Ingresar</p></dd>
                                                <dd><p id="error-pais">Seleccionar</p></dd>
                                        </dl>
                                </div>
                                <div class="ru-linea"></div>
                                <input type="submit" value="Postular" id="btnPostular" name="btnPostular" class="boton1 left" style=" margin-left:470px;">
                        </form>
                <?php endif;?>
               
		
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>