<section class="content-body-section">
    <h2>IPD &gt; Panel de mantenimiento</h2>
    <h3><span>PANEL DE MANTENIMIENTO</span></h3>
    
    <?php
        /*            
        $setMenu[]=array('nombre'=>'Crear Eventos','ruta'=>$this->baseUrl().'/usuarios/calendario/listaeventos','active'=>'');
        $setMenu[]=array('nombre'=>'Registrar Equipos','ruta'=>$this->baseUrl().'/usuarios/equipos/listaequipos','active'=>'');

        $data['menu']=$setMenu;
        echo $this->partial('partials/_menu_mantenimiento.phtml',$data);
        */
    ?>
    
    <nav class="submenu-matenimiento" >
        <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'add'),"",TRUE);?>" class="boton7">Nuevo Evento</a>
    </nav>
    
    <div class="content-msg">
            <div class="note note-blue" id="msg-form">                        
                    <b>Nota</b>: Puede crear eventos, registrar equipos y hacer que tus equipos participen en tus eventos.
            </div>    
    </div>
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>