   <div class="py-5 bg-dark">
    <div class="container">
     <div class="row align-items-center">
       <div class="col-md-6 text-white">
         <h2>About</h2>
       </div>
       <div class="col-md-6">
        <ol class="breadcrumb justify-content-md-end bg-transparent">  
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li> 
          <li class="breadcrumb-item">
           About us
          </li>
        </ol>
       </div>
     </div>
    </div> 
  </div>
     <section class="padding-y-100 border-bottom">
    <div class="container">
    <div class="row align-items-center">


        <div class="col-lg-12">
            <h2>
                <span class="text-primary">About</span> Us
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
            <p>
              Gracias for visiting our website, this is your first step toward beginning or improving your Spanish language skills.  My name is Katherine Mujica Silva.  I am from Miraflores Peru and I have a passion for sharing what makes Peru magical and mystical while providing the best Spanish instruction. With a customizable approach, my team of certified Spanish instructors are patient, adaptable, and professional.
            </p>
            <p>
              As a boutique Spanish Language service provider, Gracias Online Spanish is dedicated to making your experience personal.
            </p>
            
            <p>
              <b>Individuality</b> – We have a distinctive vibe and never have the “cookie cutter” feel of being one of many. We are operated independently, and we are not affiliated with a major chain. 
            </p>
            <p>
              <b>Design</b> – Together we will design a course specific to your learning needs, objectives and learning style.  Whether you are a beginner, learning Spanish for fun or an advance learner who is preparing for the DELE exam – we will meet your needs.
            </p>
            <p>
              <b>Location</b> – Learn from anywhere in the world.
            </p>
            <p>
              <b>Service</b> – Highly personalized service is a hallmark of Gracias Online Spanish. Our office staff and teachers will know your name from the first day of your lessons. Providing a highly customizable lesson plan to meet your learning needs creates a very high-quality, individualized experience.
            </p>
            <p class="mb-5">
              <b>Clientele</b> – Our students are Millennials to Boomers who enjoy our creative approach, quick results, and personalized service.
            </p>
        </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>