<section class="content-evento">
		<h2>IPD &gt; Sede Deportiva &gt; Detalle</h2>
		<h1>SEDES DEPORTIVAS</h1>
		<div class="content-image-evento">
			<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/programas.jpg">									
		</div>
		<h3><span><?php echo $this->sede['nombre']; ?></span> <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'index'),'',true);?>" class="boton1 right">Regresar</a></h3>
		<div class="content-des-evento">
				<div class="evento-des">
						<div class="des-sedes">
								<p>
									<b>Ubicación</b>
									<span>: <?php echo $this->sede['ubicacion']; ?></span>
									<b>Equipamientos</b>
									<span>: _</span>
								</p>
								<p>
									<b>Distrito</b>
									<span>: <?php echo ucwords(strtolower($this->ubigeo['distrito'])); ?></span>
									<b>Hora de atención</b>
									<span><?php echo $this->sede['horario_atencion']; ?></span>
								</p>
								<p>
									<b>Provincia</b>
									<span>: <?php echo ucwords(strtolower($this->ubigeo['provincia'])); ?></span>
									<b>Costo de la hora</b>
									<span>: S/. <?php echo $this->sede['costo_hora']; ?></span>
								</p>
								<p>
									<b>Departamento</b>
									<span>: <?php echo ucwords(strtolower($this->ubigeo['departamento'])); ?></span>
									<b>Responsable</b>
									<span>: <?php echo $this->sede['responsable']; ?></span>
								</p>
								<p>
									<b>Teléfono</b>
									<span>: <?php echo $this->sede['telefono']; ?></span>															
								</p>
								<p>
									<b>Email</b>
									<span>: <?php echo $this->sede['email']; ?></span>															
								</p>
						</div>
				</div>
				
				<?php 
                                    $dataCompartir['lado']='right';
                                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                                ?>
				<span>Comparte:</span>
		</div>
		
		<!--inicio galeria-->
		<div class="content-galeria-evento" tipo="fotos">
				<h4>CANCHA</h4>										
				<section class="section-galeria" vista="1">
						<!--inicio fotos-->
						<section class="content-galeria-fotos ">
                                                                <?php $numFotos=1; ?>
                                                                <?php foreach ($this->fotos as $row):?>
                                                                                <article id="sgag-<?php echo $numFotos;?>" class="g-fotos <?php if($numFotos==1): echo 'mostrar';  endif; ?>">
                                                                                                <img alt="" src="<?php echo $this->rutaFotos.$row['nombre'];?>">
                                                                                                
                                                                                                <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'foto','id'=>$this->sede['id']),'',true);?>"></a>
                                                                                </article>
                                                                                <?php $numFotos+=1; ?>
                                                                <?php endforeach; ?>
								
								<section class="content-menu-galeria-fotos">
                                                                                <?php $numFotos=1; ?>
                                                                                <?php foreach ($this->fotos as $row):?>                                                                                            
                                                                                            <article id="sgagm-<?php echo $numFotos;?>" valor="<?php echo $numFotos;?>" class="mostrar">															
                                                                                                            <img alt="" src="<?php echo $this->rutaFotos.$row['nombre'];?>">
                                                                                                            <div class="<?php if($numFotos==1): echo 'fondo-rojo'; else: echo 'fondo-blanco'; endif; ?>">

                                                                                                            </div>
                                                                                                            <a href="#"></a>
                                                                                            </article>
                                                                                            <?php $numFotos+=1; ?>    
                                                                                <?php endforeach; ?>
								</section>
						</section>
						<!--fin fotos-->																																				
						
				</section>
		</div>
		<!--fin galeria-->
</section>



<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
