<section class="bolsa-trabajo-section">
		<h2>Becas IPD &gt; Sedes deportivas</h2>
		<h1>SEDES DEPORTIVAS</h1>
		<div class="content-busqueda">
			<form  id="frmBuscarSedesDeportivas" method="POST" action="<?php echo $this->baseUrl();?>/sede-deportiva/"  ubigeo="<?php echo $this->ubigeo;?>" page="<?php echo $this->page;?>" >
				<h3>CRITERIOS DE BUSQUEDA</h3>
				<dl>
					<dt>
						<span>Departamento:</span>
						<span>Provincia:</span>
						<span>Distrito:</span>
					</dt>
					<dd>
						<?php 
								$url=$this->baseUrl().'/calendario/getprovincias';
                                $propertiesDepartamento= array('id' => 'departamento','class'=>'select-margin-right','data-source'=>$url);
                                echo $this -> frmBuscarSedes -> departamento -> setAttribs($propertiesDepartamento) -> renderViewHelper();
                        ?>
                        <?php 
                        		$url=$this->baseUrl().'/calendario/getdistritos';
                                $propertiesProvincia= array('id' => 'provincia','class'=>'select-margin-right','data-source'=>$url);
                                echo $this -> frmBuscarSedes -> provincia -> setAttribs($propertiesProvincia) -> renderViewHelper();
                        ?>
                        <?php 
                                $propertiesDistrito= array('id' => 'distrito');
                                echo $this -> frmBuscarSedes -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();
                        ?>
                        
						<input type="submit" id="btnBuscar" name="btnBuscar" value=""/>
					</dd>
				</dl>
								
			</form>
		</div>
		
		<h4>
			<!-- Resultados de la búsqueda: Informática/Telecomunicaciones <span>1 de 50</span -->
		</h4>
		
		<section id="content-avisos">
						<?php $count=count($this->sedesDeportivas);?>
                        <?php if($count>0):?>
			                        <?php foreach($this->sedesDeportivas as $sede) : ?>
                                                                    <article>												
                                                                                    <div class="ca-foto">							
                                                                                            <?php if(!empty($sede['foto_inicio'])):?>
                                                                                                    <img alt="" src="<?php echo $this->rutaFotos.$sede['foto_inicio'];?>">
                                                                                            <?php else:?>
                                                                                                    <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                                                                                            <?php endif;?>

                                                                                    </div>
                                                                                    <div class="ca-descripcion">
                                                                                                    <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'sede-deportiva','action'=>'detalle', 'id'=>$sede['id']),'',true);?>">
                                                                                                                    <?php echo htmlentities($this->escape($sede['nombre'])) ;?>
                                                                                                    </a>
                                                                                    </div>

                                                                    </article>
			                        <?php endforeach; ?>
                        <?php else:?>
                            <dl><dd>No hay datos</dd></dl>
                        <?php endif;?>
                        
                        <?php
                            $valores['parametros']='/ubigeo/'.$this->parametros;
                            $valores['urlPagination']=$this->baseUrl().'/sede-deportiva/index';
                            echo $this->paginationControl($this->sedesDeportivas,'Sliding','paginator/paguinar.phtml',$valores);
                        ?>  

		</section>		
</section>


<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
