<div id="content">
        <div id="main">
                <div class="full_w">
                        
                        <form id="frmLoginAdmin" action="<?php echo $this->baseUrl(); ?>/admin/login/index" method="post">
                                <?php if(isset($this->loginError)): ?>
                                        <div class="n_error"><p>Usuario o contraseña son incorrectos.</p></div>
                                <?php endif ?>
                                
                                <label for="login">Usuario:<span class="msg-error"><p id="error-username"></p></span></label>
                                <?php 
                                    $propertiesUsername = array('id' => 'username','class'=>'text');
                                    echo $this -> frmLoginAdmin -> username -> setAttribs($propertiesUsername) -> renderViewHelper();                            
                                ?>
                                <!-- input id="login" name="login" class="text" / -->
                                <label for="pass">Contraseña:<span class="msg-error"><p id="error-password"></p></span></label>
                                 <?php 
                                    $propertiesPassword = array('id' => 'password','class'=>'text');
                                    echo $this -> frmLoginAdmin -> password -> setAttribs($propertiesPassword) -> renderViewHelper();                            
                                ?>
                                <div class="sep"></div>
                                <?php 
                                    $propertiesBtnLoginAdmin = array('id' => 'btnEnviarLoginAdmin','class' => 'ok');
                                    echo $this -> frmLoginAdmin -> btnEnviarLoginAdmin -> setAttribs($propertiesBtnLoginAdmin) -> renderViewHelper();                            
                                ?>
                                
                                <!-- button type="submit" class="ok">Login</button -->
                        </form>
                </div>
                <div class="footer">&raquo; <a href="<?php echo $this->rutaBase;?>">ipdportal</a> | Panel administrador</div>
        </div>
</div>
