.left{float:left!important;}
.right{float:right!important;}
.mostrar{ display:block!important;}
.ocultar{ display:none;}

/*inicio bloques formularios*/
.content-ru{ height:auto; overflow:hidden;}
.content-ru > p{ margin-left:0px!important; margin-bottom:10px!important; display: inline-table; width: 100%!important; }
.content-ru .alto1{ height:156px; margin-bottom:10px;}
.ru-titulos {width:190px; height:auto; float:left;}
.ru-titulos dt{font-size:16px;text-align:right; padding-right:20px;}
.ru-titulos dt span{color:#6F0404; font-weight:bold;}
.ru-controles{ float:left; width:470px; height:auto;}
.ru-controles dd,.ru-controles-mapa dd{ width:100%; overflow:hidden;}
.ru-controles-mapa dd input[type=text],.ru-controles dd input[type=password],.ru-controles dd input[type=text],.ru-controles dd select,.ru-controles dd textarea{ width:100%!important;border:0px; background:#CDCDCD; padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;}

.ru-controles-mapa{ float:left; width:540px; height:auto;}
.ru-controles-mapa dd{ margin-bottom:10px;}
.ru-controles-mapa dd input[type=text]{ float:left;  width: 440px!important; margin-right:10px;}
.content-mapa{ width: 522px; height: 250px; border:1px solid #979797; padding-left: 8px;padding-right: 8px;padding-top: 8px;padding-bottom: 8px;}
.mapa1{width: 522px; height: 250px;}
.mapa2{width: 677px; height: 312px;}

.ru-error{ width:160px; float:right;}
.ru-error dd p{ color: #FF0000; font-size:13px!important; font-weight:bold; display:none;}
.ru-titulos dt,.ru-controles dd,.ru-error dd{  height:40px;}
.ru-linea{background:#CDCDCD; height:1px; width:100%; margin-bottom:20px;margin-top:10px;}

.content-vf{ height:auto; width:100%; overflow:hidden;margin-bottom: 20px;}
.content-vf > p{ height:auto;overflow:hidden; width:470px;border-bottom:1px #CDCDCD dashed;margin-left: 190px;padding-top:5px;padding-bottom:5px; padding-left:10px;padding-right:10px;}
.content-vf > p:hover{ background:#EFEFEF;}
.content-vf > p:first-child{border-top:1px #CDCDCD dashed;}
.content-vf > p >span{float:left; width:365px; color:#000000;  margin-right: 10px;  }

.content-vf > p >a{float:right; text-decoration:none; color:#006699; font-weight:bold;}
.content-vf > p >a:hover{ text-decoration:underline;}
/*fin bloques formularios*/

.new-label{ height: auto; overflow: hidden;}
.new-label b{ float:left; }
.new-label span > p{ margin-top:0px!important;margin-bottom:0px!important;}
.ru-controles dd input[type=text]{ width:430px!important;}

/*pagination*/
.content-pagination{ display:block;}
#pagination{display: inline-block; overflow: hidden;}
#pagination > a, #pagination > span{ float: left;}
#pagination > div{ float: left; height:auto; overflow: hidden; }
#pagination > div > a{ float: left; padding: 5px 10px;}
