<script type="text/javascript">
	//bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<section>
        <div class="h_title">Editar</div>
        <form id="frmProducto" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/admin/productos/editar" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/productos/editar/">
                
                <div class="element">
                        <label for="name">Nombre <span class="msg-error"><p id="error-titulo">* Ingrese el nombre.</p></span></label>
                        <?php 
                            $propertiesHdnId = array('id' => 'hdnId');
                            echo $this -> formNoticia -> hdnId -> setAttribs($propertiesHdnId) -> renderViewHelper();                            
                        ?> 
                         <?php 
                            $propertiesNombre = array('id' => 'txtNombre');
                            echo $this -> formNoticia -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Precio<span class="msg-error"><p id="error-resumen">* Ingrese un precio.</p></span></label>
                        <?php 
                            $propertiesPrecio = array('id' => 'txtPrecio');
                            echo $this -> formNoticia -> txtPrecio -> setAttribs($propertiesPrecio) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Seleccionar imagen <span class="msg-error"><p id="error-descripcion">* Ingrese una imagen.</p></span></label>
                        <input name="oculto" type="hidden" value="upload" />
                        <input type="file" name="imagen" size="100">
                </div>
				<div class="element">
				<label for="content">Imagen mostrada </label>
					<img alt="" src="<?php echo $this->rutaFotos;?>" style="width:150px">
				</div>
                <div class="entry">
                        <?php 
                            $propertiesBtn = array('id' => 'btnEnviar');
                            echo $this -> formNoticia -> btnEnviar -> setAttribs($propertiesBtn) -> renderViewHelper();                            
                        ?>
                </div>
        </form>
</section>