<section>
        <div class="h_title">Profesores</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <!-- div class="sep"></div -->
                <a class="button add" href="<?php echo $this->url(array('controller'=>'profesores','action'=>'nuevo'));?>">A&ntilde;adir</a>
        </div>
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
							<th scope="col">Correo</th>
							<th scope="col">Estado</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->paginator)):?>
                    <?php foreach($this->paginator as $row) : ?>
                        <tr>		
                            <td class="align-center">-</td>   
                            <td><?php echo $row['firstname'] ;?></td>
                            <td><?php echo $row['lastname']; ?></td>
							<td><?php echo $row['email']; ?></td>
							<td><?php echo $row['estado']; ?></td>
                            <td>
                                <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'profesores', 'action'=>'editar', 'id'=>$row['id']));?>"></a>
                                <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'profesores', 'action'=>'borrar', 'id'=>$row['id']));?>"></a>
                                <?php if($row['estado'] == 1):?>
                                    <a href="<?php echo $this->url(array('controller'=>'profesores', 'action'=>'activar', 'id'=>$row['id'], 'act'=>0));?>" class="table-icon activo" title="Activo"></a>
                                <?php else:?>
                                    <a href="<?php echo $this->url(array('controller'=>'profesores', 'action'=>'activar', 'id'=>$row['id'], 'act'=>1));?>" class="table-icon desactivo" title="Inactivo"></a>
                                <?php endif;?>
                            </td>		
                        </tr>	
                    <?php endforeach; ?>
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                        <!--span>« First</span>
                        <span class="active">1</span>
                        <a href="#">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <span>...</span>
                        <a href="">23</a>
                        <a href="">24</a>
                        <a href="">Last »</a -->
                </div>
                <!-- a class="button" href="">Categories</a --> 
        </div>
</section>
<script language = "javascript">	
	/*$("a").click(function(){		
		var libro = this.id.substring(0, this.id.indexOf("_"));
		var voto = this.id.substring(this.id.indexOf("_") + 1, this.id.length);			
		alert("libro: " + libro + " voto: " + voto);
	
		//Tratamos la devolución a través de json
		$.post("<?php echo $this->url(array('controller'=>'index', 'action'=>'votacion'));?>", {libro: libro, voto: voto}, function(data){
			document.getElementById("rating" + libro).innerHTML = "Media: " + data.media + " Total: " +  data.total;			
			console.log(data);
		}, "json");

		//Tratamos el resultado a través de la devolución de un XML
		$.post("<?php echo $this->url(array('controller'=>'index', 'action'=>'votacion'));?>", {libro: libro, voto: voto}, function(data){			
			//alert(data);
			var media = data.substring(data.indexOf("<average>") + 9, data.indexOf("</average>"));
			var total = data.substring(data.indexOf("<count>") + 7, data.indexOf("</count>"));
			//document.getElementById("rating" + libro).innerHTML = "Media: " + media + " Total: " +  total;			
			console.log(data);
		}, "text");				
	});*/
</script>