<script type="text/javascript">
	//bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<section class="full_w">
    <div class="h_title">Nuevo Producto</div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>El producto fue creado.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar, el peso de la imagen deb ser maximo 2MB.</p></div>
    <?php  } ?> 
    <form id="frmProducto" enctype="multipart/form-data" action="" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/productos/nuevo">
                <div class="element">
                        <!-- label for="name">Pertenece a (Opcional)<span class="msg-error"><p id="error-pertenece">* Ingrese el titulo de la noticia.</p></span></label -->
                         
                         <?php 
                            //$propertiesFederacions = array('id' => 'federaciones');
                            //echo $this -> form -> federaciones -> setAttribs($propertiesFederacions) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="name">Nombre <span class="msg-error"><p id="error-titulo">* Ingrese el nombre.</p></span></label>
                        <?php 
                            $propertiesid = array('id' => 'HdnId');
                            echo $this -> form -> HdnId -> setAttribs($propertiesid) -> renderViewHelper();                            
                        ?> 
                         <?php 
                            $propertiesNombre = array('id' => 'txtNombre');
                            echo $this -> form -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Precio<span class="msg-error"><p id="error-resumen">* Ingrese un precio.</p></span></label>
                        <?php 
                            $propertiesPrecio = array('id' => 'txtPrecio');
                            echo $this -> form -> txtPrecio -> setAttribs($propertiesPrecio) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                        <label for="content">Imagen del producto <span class="msg-error"><p id="error-descripcion">* Ingrese una imagen.</p></span></label>
                        <input name="oculto" type="hidden" value="upload" />
                        <input type="file" name="imagen" size="100">
                </div>
                <div class="entry">
                        <?php 
                            $propertiesBtn = array('id' => 'btnEnviar');
                            echo $this -> form -> btnEnviar -> setAttribs($propertiesBtn) -> renderViewHelper();                            
                        ?>
                        <!-- button type="submit" class="add">Guardar</button> 
                        <button class="cancel">Cancelar</button -->
                </div>
        </form>
</section>