<div class="content-gen-noticias n-style-2">
        <h2><span class="left">NOTICIAS </span><a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'noticias','action'=>'index'),'',true);?>" class="right">Ver m&aacute;s</a></h2>
        <?php foreach ($this->dataNoticias as $noticia): ?>
            <div class="content-noticia content-border-top">
                <?php if(!empty($noticia['nombre'])):?>
                        <img alt="" src="<?php echo $this->urlgetimagen.$noticia['nombre'];?>">
                <?php else:?>
                        <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/no-disponible-120x100.jpg">
                <?php endif;?>
                
                <p>
                        <a  href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'noticias','action'=>'detalle', 'id'=>$noticia['id']),'',true);?>"><?php echo $noticia['titulo']; ?></a>
                        <span>
                                <?php echo $noticia['resumen']; ?>
                        </span>
                </p>
            </div> 
        <?php endforeach;?>

</div>