<?php 
    $countRow=count($this->row);
    if($this->dia=='domingo'):
        $this->nuevoCss=$this->nuevoCss." domingo";
    endif;
?>
<?php 
    $css_quien_creo='';
?>

<?php if(($countRow - 2)==1){ ?>
            <?php
                if($this->row[0]['quien_creo']=='usuario'):
                    $css_quien_creo=' evento-usuario'; 
                else:       
                    $css_quien_creo=' evento-admin'; 
                endif; 
            ?>

            <a  href="#" id="<?php echo $this->row[0]['id'];?>" tit="<?php echo $this->row[0]['nombre_evento'];?>" des="<?php echo $this->row[0]['descripcion'];?>" class="<?php echo $this->nuevoCss.' '.$css_quien_creo;?> evento">
                    <?php echo $this->row['dia'];?>
            </a>
<?php }else{?>
            <?php
                    $ids=0;
                    $titulos="";
                    $descripciones="";

                    for($i=0;$i<($countRow-2);$i++):
                            
                                    if($this->row[$i]['quien_creo']=='usuario'):                                        
                                        $css_quien_creo=' evento-usuario'; 
                                    else:                                        
                                        $css_quien_creo=' evento-admin'; 
                                    endif; 
                                    
                                    if($ids==0):
                                        $ids=$this->row[$i]['id'];
                                    else:
                                        $ids=$ids.'-'.$this->row[$i]['id'];
                                    endif;

                                    if($titulos==""):
                                        $titulos=$this->row[$i]['nombre_evento'];
                                    else:
                                        $titulos=$titulos.'/////'.$this->row[$i]['nombre_evento'];
                                    endif;

                                    if($descripciones==""):
                                        $descripciones=$this->row[$i]['descripcion'];
                                    else:
                                        $descripciones=$descripciones.'/////'.$this->row[$i]['descripcion'];
                                    endif;
                    endfor;
            ?>
            <a  href="#" id="<?php echo $ids;?>" tit="<?php echo $titulos;?>" des="<?php echo $descripciones;?>" class="<?php echo $this->nuevoCss.' '.$css_quien_creo;?> evento">
                    <?php echo $this->row['dia'];?>
            </a>

<?php } ?>