<?php 
    $countRow=count($this->row);
    if($this->dia=='domingo'):
        $this->nuevoCss=$this->nuevoCss." domingo";
    endif;
?>

<?php 
    //--------------------------------------------------------------------------
    //temporal hasta crear el poput de calendario grande 
    $dia=(int)$this->row['dia'];
    if($dia<10){
        $dia='0'.$dia;
    }
    //--------------------------------------------------------------------------
?>

<?php 
    $css_quien_creo='';
?>

<?php if(($countRow - 2)==1){ ?>
            <?php
                if($this->row[0]['quien_creo']=='usuario'):
                    $css_quien_creo=' evento-usuario'; 
                else:       
                    $css_quien_creo=' evento-admin'; 
                endif; 
            ?>

            <dd id="<?php echo $this->row[0]['id'];?>" tit="<?php echo $this->row[0]['nombre_evento'];?>" des="<?php echo $this->row[0]['descripcion'];?>" class="<?php echo $this->nuevoCss.' '.$css_quien_creo;?> evento">                    
                    <span><?php echo $this->row['dia'];?></span>
                    <p>
                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listado','fecha'=>$dia.'-'.date('m').'-'.date('Y')),'',true);?>"><?php echo $this->row[0]['nombre_evento'];?></a>
                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listado','fecha'=>$dia.'-'.date('m').'-'.date('Y')),'',true);?>">Ver más…</a>
                    </p>
            </dd>
<?php }else{?>
            <?php
                    $ids=0;
                    $titulos="";
                    $descripciones="";

                    for($i=0;$i<($countRow-2);$i++):
                                    if($this->row[$i]['quien_creo']=='usuario'):                                        
                                        $css_quien_creo=' evento-usuario'; 
                                    else:                                        
                                        $css_quien_creo=' evento-admin'; 
                                    endif; 
                                    
                                    if($ids==0):
                                        $ids=$this->row[$i]['id'];
                                    else:
                                        $ids=$ids.'-'.$this->row[$i]['id'];
                                    endif;

                                    if($titulos==""):
                                        $titulos=$this->row[$i]['nombre_evento'];
                                    else:
                                        $titulos=$titulos.'/////'.$this->row[$i]['nombre_evento'];
                                    endif;

                                    if($descripciones==""):
                                        $descripciones=$this->row[$i]['descripcion'];
                                    else:
                                        $descripciones=$descripciones.'/////'.$this->row[$i]['descripcion'];
                                    endif;
                    endfor;
            ?>
            
            <dd id="<?php echo $ids;?>" tit="<?php echo $titulos;?>" des="<?php echo $descripciones;?>" class="<?php echo $this->nuevoCss.' '.$css_quien_creo;?> evento">
                    <span><?php echo $this->row['dia'];?></span>
                    <p>
                            <?php 
                                $primerAviso=explode('/////',$titulos);
                            ?>
                        
                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listado','fecha'=>$dia.'-'.date('m').'-'.date('Y')),'',true);?>"><?php echo $primerAviso[0];?></a>
                            <a href="<?php echo $this->url(array('module'=>'usuarios','controller'=>'calendario','action'=>'listado','fecha'=>$dia.'-'.date('m').'-'.date('Y')),'',true);?>">Ver más…</a>
                    </p>
            </dd>

<?php } ?>