<?php 
    $styleCalendario="";
    if($this->ubicasion=='vista'):
        $styleCalendario=$this->cssStylo;
    endif;
?>
    

<!--inicio calendario-->
<div class="content-calendario <?php echo $styleCalendario;?>">
            <?php if($this->ubicasion=='vista'): ?>
                <h2><span class="left">CALENDARIO DE ACTIVIDADES </span><span id="mesActual" class="right"> <?php echo $this->nombreMes;?></span></h2>                
            <?php endif;?>
                
            <a href="#" class="btnCalendarioDerecha"></a>
            <a href="#" class="btnCalendarioIzquierda"></a>
            <nav id="nav-calendario" year="<?php echo date('Y');?>" month="<?php echo date('m');?>" diasMes="<?php echo $this->diasMes;?>" diaSemana="<?php echo $this->diaSemana;?>" data-source="<?php echo $this->baseUrl(); ?>/inicio/getcalendario" actionEvento="<?php echo $this->baseUrl(); ?>/usuarios/calendario/listado" css="<?php echo $this->cssAlto;?>">
                            <div class="content-aviso-calendario">
                                    <div class="left">
                                            <p id="num-msg-calendario"></p>
                                    </div>
                                    <div class="right">
                                            <a href="#">Dia del Deporte</a>
                                            <p>noticia 1 es simplemente el texto de relleno. <a href="#">Ver más…</a></p>
                                    </div>
                            </div>

                            <?php                                                        	
                                    $num=$dia=1;
                                    $countEventos=count($this->dataEventos);
                                    $diaSemana=$this->diaSemana;
                                    $diasMes=$this->diasMes;
                                    $nuevoCss="";                                    

                            if(((int)$diaSemana==7 && (int)$diasMes>=30 ) || ((int)$diaSemana==6 && (int)$diasMes==31) ){$nuevoCss=$this->cssAlto;}

                            ?>
                            
                
                            <?php foreach ($this->dataEventos as $row):?>                                                        
                                                              
                                            <?php if($num==1){ ?>
                                                            <p>	
                                            <?php } ?>

                                                            <?php for($i=0;$dia<$diaSemana;$i++){ ?>
                                                                            <a  href="#" class="<?php echo $nuevoCss;?>"></a>
                                                                            <?php $num=$num+1; ?>
                                                                            <?php $dia=$dia+1; ?>
                                                            <?php } ?>

                                            <?php if($num <=6){ ?>	
                                                            <?php if($row['existe']==1){ ?>
                                                                     <?php 
                                                                        $data['row']=$row;
                                                                        $data['dia']='normal';
                                                                        $data['nuevoCss']=$nuevoCss;
                                                                        echo $this->partial('partials/_calendario_bloque.phtml',$data);
                                                                      ?>       
                                                            <?php }else{?>
                                                                            <a  href="#" class="<?php echo $nuevoCss;?>">
                                                                                    <?php echo $row['dia'];?>
                                                                            </a>
                                                            <?php } ?>
                                            <?php } ?>

                                            <?php if($num==7){ ?>
                                                            <?php if($row['existe']==1){ ?>
                                                                            <?php 
                                                                                $data['row']=$row;
                                                                                $data['dia']='domingo';
                                                                                $data['nuevoCss']='evento-domingo '.$nuevoCss;
                                                                                echo $this->partial('partials/_calendario_bloque.phtml',$data);
                                                                              ?>
                                                            <?php }else{?>
                                                                            <a  href="#" class="domingo <?php echo $nuevoCss;?>" >
                                                                                    <?php echo $row['dia'];?>
                                                                            </a>
                                                            <?php } ?>	
                                            <?php } ?>

                                            <?php if($num==7 || $countEventos==$num){ ?>
                                                            </p>
                                                            <?php $num=0; ?>
                                            <?php } ?>

                                            <?php $num=$num+1; ?>                                                        		
                                            <?php $dia=$dia+1; ?>
                                            
                                    <?php endforeach;?>

            </nav>
</div>
<!--fin calendario-->

        