<nav id="menu-mantenimiento">
        <?php foreach ($this->menu as $menu):?>
            <a href="<?php echo $menu['ruta'];?>" class="<?php echo $menu['active'];?>">
                <?php echo $menu['nombre'];?>
            </a>
        <?php endforeach;?>
</nav>