
<nav class="nav-redes-sociales right">																								
    <a class="correo" href="mailto:[email protected]"></a>
    <a class="twitter" href="javascript: void(0);" onclick="window.open('http://twitter.com/home?status=<?php echo urlencode("Leyendo ".$this->url);?>','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');"></a>
    <a class="facebook" href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=<?php echo $this->url;?>','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');"></a>
    <a class="g-plusone" data-size="small" data-annotation="none"></a>	
</nav>
<!-- 
script para red social de google plus
-->
<script type="text/javascript">
    window.___gcfg = {lang: 'es'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
