<section class="content-evento">
		<h2>La Evolución del Deporte &gt; Programas</h2>
		<h1>PROGRAMAS</h1>
		<div class="content-image-evento">
			<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/programas.jpg">									
		</div>
		<h3><span></span></h3>
		<div class="content-des-evento">
			
				<?php 
                                    $dataCompartir['lado']='right';
                                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                                ?>
				<span>Comparte:</span>
				<div class="evento-des2">
					
						<h4>1.	JUÉGATELA POR TUS HIJOS</h4>
						<p>
							Plataforma virtual que brinda servicio a padres de familia sobre una asesoría en la formación integral 
							del niño entre 0-4 años, con la finalidad de usar la estimulación temprana como medio para el desarrollo 
							motriz e implementar de forma lúdica una cultura deportiva en la sociedad peruana desde temprana edad.
						</p>
						
						<h4><span>¿Qué buscamos?</span></h4>
					
						<p>
							Concientizar a los padres, madres, educadores y cuidadores sobre la importancia de los juegos que impliquen
							actividad física para el ser humano. Logrando a partir de este, un correcto desarrollo de la coordinación 
							psicomotriz, sensorial, motor muscular e intelectual de la niñez peruana.
						</p>
						<h4>2.	AULAS VIRTUALES</h4>
						<p>
							Esta propuesta busca implementar aulas interactivas, que permitan realizar Conferencias, Cursos y 
							Exposiciones de alto nivel con capacitadores extranjeros como nacionales e interactuar  en tiempo 
							real o replicándolo mediante grabaciones de dichas capacitaciones, primero en las Regiones y luego 
							en las provincias que cumplan con el criterio de focalización del Programa Presupuestal IPD.
						</p>
						<p>
							Proyectándonos a un futuro cercano, podemos hacer uso de dicha tecnología para profesionalizar a todos
							los Entrenadores deportivos del país, que actualmente no cuentan con un Título uniforme para poder 
							ejercer su carrera. 
						</p>
						<h4>3.	INVESTIGACIÓN DEPORTIVA</h4>
						<p>
							<span class="span-des">1.	Estudio físico-antropométrico de los escolares del nivel secundario en las edades de 12 a 14 años 
							de edad perú-2013  -  “El Perú se mide”</span>
						</p>
						<p>
							Investigación que permitirá conocer el perfil físico-antropométrico de los estudiantes del nivel 
							secundario de 12 a 14 años de edad en todo el Perú, mediante medidas de tamaño, forma, proporcionalidad,
							composición corporal y evaluaciones de sus capacidades de fuerza, velocidad, resistencia y flexibilidad 
							con  el  fin  establecer la primera línea base de las capacidades físicas y las posibilidades de 
							manifestación deportiva, según sus características y particularidades geográficas (por pisos altitudinales
							, departamento, provincias y distrito), así como por su género (masculino y femenino). 
						</p>
						<p>
							<span class="span-des">2.	Juegos Deportivos Bolivarianos Perú 2013: seguimiento y análisis de metodologías de entrenamiento 
							por deporte de los seleccionados nacionales e internacionales</span>
						</p>
						<p>
							El desarrollo temporal del estudio será en el mes de noviembre del 2013, iniciando 15 y culminado el 30 
							del mencionado mes. Por conveniencia para un mejor desarrollo del estudio se está agrupando los deportes
							por sus características competitivas en los siguientes grupos:

						</p>
						<p>
							a) Deportes de tiempo y marca</br>
							b) Deportes de contacto o combate</br>
							c) Deportes con balón</br>
							d) Deportes de apreciación</br>

						</p>
						<p>
							<span class="span-des">3.	I Encuesta nacional de la actividad física y deportes en la población de 18 a 64 años de edad, desafío 
							para la promoción de la actividad física en el Perú</span>
						</p>
						<p>
							La inactividad física, la obesidad y las enfermedades no transmisibles (ENT) están alcanzando con 
							velocidad acelerada un nivel de proporciones epidémicas y se están constituyendo en la principal 
							causa de muerte y discapacidad especialmente en el continente americano. 

						</p>
						
						
				</div>
				
				
				
		</div>
		
		<!--inicio galeria-->
		<div class="content-galeria-evento" tipo="fotos">
				
				<a style="color:#8D3D40;font-weight:bolder;" href="<?php echo $this->baseUrl(); ?>/static/doc/201309_malla curricular.pdf"  target="_blank">VER MALLA CURRICULAR <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/pdf.ico"></a>
				
				<!-- section class="section-galeria" vista="1">																														
						<section class="content-malla-curricular">
								<h4>Cursos Disponibles:</h4>
								<p>
									Las especializaciones han sido diseñadas para poder ser completadas en 3 años, incluyendo el estudio de los materiales educativos desde una plataforma online de capacitación virtual y la sustentación de horas de práctica.
								</p>
								
								<div class="table1">
										<dl>
											<dt class="tit-1">Gestión Deportiva</dt>
											<dt class="tit-2">técnico Deportivo</dt>
											<dt class="tit-3">Duración</dt>
											<dt class="tit-3">Práctica</dt>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor y Técnico Deportivo Básico I</dd>
											<dd class="tdes-2">Gestor y Técnico Deportivo Básico I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Básico II</dd>
											<dd class="tdes-2">Técnico Deportivo Básico II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Intermedio I</dd>
											<dd class="tdes-2">Técnico Deportivo Intermedio I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Intermedio II</dd>
											<dd class="tdes-2">Técnico Deportivo Intermedio II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Avanzado I</dd>
											<dd class="tdes-2">Técnico Deportivo Avanzado I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
                                                                                <dl>
											<dd class="tdes-1">Gestor Deportivo Avanzado II</dd>
											<dd class="tdes-2">Técnico Deportivo Avanzado II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
								</div>
						</section>												
				</section -->
		</div>
		<!--fin galeria-->
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>
