<section class="content-evento">
		<h2>La Evolución del Deporte &gt; Especializaciones</h2>
		<h1>ESPECILIZACIONES</h1>
		<div class="content-image-evento">
			<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/programas.jpg">									
		</div>
		<h3><span></span></h3>
		<div class="content-des-evento">
			
				<?php 
                                    $dataCompartir['lado']='right';
                                    $dataCompartir['url'] = $this->rutaBase.$this->url();
                                    echo $this->partial('partials/_compartir_redes_sociales.phtml',$dataCompartir);
                                ?>
				<span>Comparte:</span>
				<div class="evento-des2">
					
						<h4>ESPECIALIZACIÓN PARA GESTORES Y TÉCNICOS DEPORTIVOS </h4>
						<p>
							Responde a la necesidad de masificar la capacitación, brindada oportunidad a la mayor cantidad 
							de personas interesadas en el conocimiento del deporte a través de la plataforma virtual.</br>

							Es un programa de formación académica por niveles que permite capacitar a nuevos actores del deporte y especializar a los que ya están inmersos en él.
							
							<li class="lista-generals">Gestor Deportivo </li>
							<li class="lista-generals">Técnico Deportivo</li>

						</p>
						
						
						<h4><span>¿Quién es un Gestor Deportivo? </span></h4>
					
						<p>
							<li class="lista-generals">Una persona que tiene los conocimientos administrativos y de gestión, que le sirven de 
							herramientas para promover las actividades de competencia deportiva y recreacionales.</li>

							<li class="lista-generals">Se necesita liderazgo, amor por el deporte, manejo básico de internet y ganas de aportar a 
							la evolución del deporte en nuestro país. </li>
						</p>
						<h4>¿Quién es un Técnico Deportivo? </h4>
						<p>
							<li class="lista-generals">Es la persona con la capacidad de organizar y desarrollar acciones en el ámbito de la actividad
							física deportivo-recreativa.</li>

							<li class="lista-generals">Todo líder que desee incursionar en los aspectos técnicos – recreativos de las diferentes 
							disciplinas.</li> 
						</p>
						
						<h4>Enfoque de las Especializaciones </h4>
						<p>
							<li class="lista-generals">Se basa en el enfoque educativo <span class="span-des">aprender – haciendo</span>, enfoque que 
							prioriza la práctica como fuente enriquecedora del aprendizaje.</li> 

							<li class="lista-generals">El estudiante pondrá en práctica sus experiencias, imaginación y conocimientos previos para 
							poder actuar en la realidad e intentar transformarla.</li> 
						
						</p>
						<div class="content-image-evento">
							<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/estadistica000.jpg">									
						</div>
						</br></br>
						
						<h4>¿A quiénes están dirigidas las Especializaciones? </h4>
						<p>
							<li class="lista-generals">Deportistas</li>

							<li class="lista-generals">Entrenadores</li>

							<li class="lista-generals">Profesores de Educación Física y otras especialidades</li>

							<li class="lista-generals">Estudiantes egresados de educación secundaria</li>

							<li class="lista-generals">Dirigentes</li>

							<li class="lista-generals">Personas amantes del deporte</li> 
						
						</p>
						
						<h4>Requisitos para acceder a las Especializaciones:  </h4>
						<p>
							<li class="lista-generals">Amor por el deporte</li>

							<li class="lista-generals">Contar con educación secundaria completa</li>

							<li class="lista-generals">Manejo básico de internet</li>

							<li class="lista-generals">Aceptar condiciones de participación</li> 
						
						</p>
						<h4>¿Cómo accedo a las Especializaciones?  </h4>
						<p>
							<li class="lista-generals">El estudiante puede matricularse vía web o a través del promotor mediante las fichas 
							de inscripción.</li>

							<li class="lista-generals">Una vez inscrito el estudiante, se le asignará automáticamente un código de Usuario y
							un Password, luego el estudiante tendrá que aceptar las condiciones de participación para 
							acceder e interactuar con el aula virtual.</li> 
						
						</p>
						<h4>Horas prácticas   </h4>
						<p>
							En cada etapa de las especializaciones el alumno deberá realizar un promedio de 120 horas de 
							práctica efectiva en su comunidad, a través de la organización y ejecución de eventos deportivos 
							en los que pondrá en acción sus conocimientos propios y los recibidos en el curso.</br></br>
							Para tal efecto y con ayuda de los tutores del curso se organizarán por grupos (teniendo como 
							criterio la cercanía de sus viviendas) para ejecutar dichas practicas 
						
						</p>
						<h4>Campo de acción de los egresados de las Especializaciones  </h4>
						<p>
							<li class="lista-generals">Organizaciones deportivas</li>

							<li class="lista-generals">Municipalidades</li>

							<li class="lista-generals">Gobiernos Regionales</li>

							<li class="lista-generals">IPD</li>

							<li class="lista-generals">Instituciones Educativas</li>

							<li class="lista-generals">Instituciones Policiales y Militares</li>

							<li class="lista-generals">Empresas Privadas</li>

							<li class="lista-generals">Conformar su negocio propio de eventos Deportivos </li>
						
						</p>
						
						<h4>Costo  </h4>
						<p>
							Las especializaciones están subvencionadas en su totalidad por el IPD bajo la modalidad de 
							Beca de Estudio Integral, ésta beca tiene un valor de $ 4,000.
							<a  style="color:#8D3D40;font-weight:bolder;" href="<?php echo $this->baseUrl(); ?>/static/doc/201309_malla curricular.pdf"  target="_blank">VER MALLA CURRICULAR <img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/pdf.ico"></a>						
						
						</p>
						
						<h4>ESTADISTICA  </h4>
						<p>
							<span class="span-des">I Grupo</span> 
						</p>
						
						<div class="content-image-evento">
							<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/estadistica001.jpg">									
						</div>
						</br></br>
						<p>
							<span class="span-des">II Grupo</span> 
						</p>
						
						<div class="content-image-evento">
							<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/estadistica002.jpg">									
						</div>
						</br></br>
						<p>
							<span class="span-des">III Grupo</span> 
						</p>
						
						<div class="content-image-evento">
							<img alt="" src="<?php echo $this->baseUrl(); ?>/static/images/estadistica003.jpg">									
						</div>
						</br></br>
						
						<p>
							<span class="span-des">Descripción:</span>  El IPD se trazó el objetivo de masificar las 
							capacitaciones de acuerdo a las necesidades de cada región a nivel nacional, es por eso, 
							contamos con promotores que tienen la tarea de promocionar y comunicar que ofrecemos becas 
							integrales en ambas especializaciones (Gestor y Técnico Deportivo), estos promotores se 
							encargan de atender requerimientos y acondicionar los convenios que se firmarán entre el 
							IPD y cada uno de los gobiernos regionales. 
						</p>
						
						<h4>Objetivos  </h4>
						<p>
							a. Expandir el número de alumnos en los programas de especialización a nivel nacional.</br>

							b. Hacer partícipe a todo el Perú de las becas y programas en general que ofrece el IPD.</br>

							c. Descentralizar la capacitación en el ámbito deportivo e iniciar “La evolución del deporte”.</br>

							d. Iniciar la construcción de una cultura deportiva a nivel nacional.</br>

							e. Proyectar los convenios macro entre el IPD y las Regiones según los requerimientos y las necesidades que estas tengan de manera particular. 
						
						</p>
						
						<h4>Datos Informativos   </h4>
						<p>
							Existen en promedio dos promotores por región que están encargados de informar a la población acerca 
							de los programas brindados por el IPD. </br></br>
							Los supervisores de Lima (de la DNCTD) han visitado hasta el momento las siguientes regiones:</br></br>
							1. Tumbes</br>

							2. Piura</br>

							3. Chiclayo</br>

							4. Ica</br>

							5. Arequipa</br>

							6. Tacna</br>

							7. Moquegua
						
						</p>
						<p>
							Se espera que al finalizar el primer trimestre del próximo año, los supervisores hayan terminado 
							de visitar todas las regiones del Perú. 
						
							La Firma de Convenios con Gob. Regionales se llevará a cabo en distintas fechas según la disponibilidad 
							y el acuerdo de ambas partes.  
						</p>
						
				</div>
				
				
				
		</div>
		
		<!--inicio galeria-->
		<div class="content-galeria-evento" tipo="fotos">
				
				
				
				<!-- section class="section-galeria" vista="1">																														
						<section class="content-malla-curricular">
								<h4>Cursos Disponibles:</h4>
								<p>
									Las especializaciones han sido diseñadas para poder ser completadas en 3 años, incluyendo el estudio de los materiales educativos desde una plataforma online de capacitación virtual y la sustentación de horas de práctica.
								</p>
								
								<div class="table1">
										<dl>
											<dt class="tit-1">Gestión Deportiva</dt>
											<dt class="tit-2">técnico Deportivo</dt>
											<dt class="tit-3">Duración</dt>
											<dt class="tit-3">Práctica</dt>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor y Técnico Deportivo Básico I</dd>
											<dd class="tdes-2">Gestor y Técnico Deportivo Básico I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Básico II</dd>
											<dd class="tdes-2">Técnico Deportivo Básico II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Intermedio I</dd>
											<dd class="tdes-2">Técnico Deportivo Intermedio I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Intermedio II</dd>
											<dd class="tdes-2">Técnico Deportivo Intermedio II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
										<dl>
											<dd class="tdes-1">Gestor Deportivo Avanzado I</dd>
											<dd class="tdes-2">Técnico Deportivo Avanzado I</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
                                                                                <dl>
											<dd class="tdes-1">Gestor Deportivo Avanzado II</dd>
											<dd class="tdes-2">Técnico Deportivo Avanzado II</dd>
											<dd class="tdes-3">6 meses</dd>
											<dd class="tdes-3">120 horas</dd>
										</dl>
								</div>
						</section>												
				</section -->
		</div>
		<!--fin galeria-->
</section>

<aside class="content-body-aside">
    
    <?php 
        $data['cssAlto']='alto2';
        $data['cssStylo']='cc-style-2';
        $data['ubicasion']='vista';
        $data['diasMes']=$this->diasMes;
        $data['diaSemana']=$this->diaSemana;
        $data['dataEventos']=$this->dataEventos;
        $data['nombreMes'] = $this->nombreMes;
        echo $this->partial('partials/_calendario.phtml',$data);                            
    ?>
    
    <?php 
        $data['dataNoticias'] = $this->wgtnoticia;
        $data['urlgetimagen'] = $this->urlgetimagen;
        echo $this->partial('partials/_aside_noticias.phtml',$data);
    ?>
</aside>

