<section>
        <div class="h_title">Asignar equipos a eventos</div>
        <!-- h2>Lista de noticias</h2 -->
        <div class="entry">
                <a class="button add" href="<?php echo $this->url(array('controller'=>'equipos','action'=>'nuevo'));?>">A&ntilde;adir nuevo equipo</a>
                <div class="sep"></div>
        </div>
        
        <form id="frmAsignarEquipo" name="frmAsignarEquipo" action="<?php echo $this->baseUrl();?>/admin/equipos/addasignarequipo" method="POST">
            <?php 
                $propertiesEventos= array('id' => 'eventos');
                echo $this -> frmAsignarEquipo -> eventos -> setAttribs($propertiesEventos)-> renderViewHelper();
            ?>
            
            <?php 
                $propertiesEquipos= array('id' => 'equipos');
                echo $this -> frmAsignarEquipo -> equipos -> setAttribs($propertiesEquipos)-> renderViewHelper();
            ?>
            
            <?php 
                $propertiesBtnAgregar= array('id' => 'btnAgregar');
                echo $this -> frmAsignarEquipo -> btnAgregar -> setAttribs($propertiesBtnAgregar)-> renderViewHelper();
            ?>
        </form>
        
        <p>
            <?php if((int)$this->existe==1): ?>
                    El quipo ya participa en ese evento.
            <?php endif; ?>
            
        </p>
        <table>
                <thead>
                        <tr>
                            <th scope="col">Num</th>
                            <th scope="col">Nombre de Evento</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>                            
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if(count($this->participa)):?>
                            <?php $num=1;?>
                            <?php foreach($this->participa as $row) : ?>
                                    <tr>		
                                        <td class="align-center"><?php echo $num;?></td>   
                                        <td><?php echo $row['nombre_evento']; ?></td>
                                        <td class="align-center">Activo</td>
                                        <td class="align-center"><?php echo $row['fecha']; ?></td>
                                        <td class="align-center"><?php echo $row['hora']; ?></td>
                                        
                                        <td class="align-center">
                                            <a class="table-icon delete" href="<?php echo $this->url(array('module'=>'admin','controller'=>'equipos', 'action'=>'deleteasignarequipos', 'id'=>$row['id']),'',true).'/equipo/'.$row['id_equipos'];?>" title="Eliminar Evento"></a>
                                        </td>		
                                    </tr>
                                    <?php $num+=1;?>
                            <?php endforeach; ?>                            
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        
                        <?php //if(count($this->participa)):?>
                        <?php //echo $this->participa;?>
                        <?php //endif;?>
                        
                </div>
                
        </div>
</section>
