<section class="full_w">
    <div class="h_title">Eliminar equipo</div>
    <p>¿Estas seguro que quieres borrar el equipo? 
    </p>
    <form action="<?php echo $this->baseUrl(); ?>/admin/equipos/borrar" method="post">
            <div>
                    <input type="hidden" name="id" value="<?php echo $this->equipo['id']; ?>" />
                    <input type="submit" name="del" value="Si" />
                    <input type="submit" name="del" value="No" />
            </div>
    </form>
</section>