<section>
        <div class="h_title">Equipos deportivos</div>
        <!-- h2>Lista de noticias</h2 -->
        <!-- 
        <div class="entry">
                <a class="button add" href="<?php echo $this->url(array('controller'=>'equipos','action'=>'nuevo'));?>">A&ntilde;adir nuevo equipo</a>
                <div class="sep"></div>
        </div>
        -->
        <table>
                <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Deporte</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col" style="width: 65px;">Opcion</th>
                        </tr>
                </thead>
                
                <tbody>
                    <?php if(count($this->paginator)):?>
                            <?php $num=1;?>
                            <?php foreach($this->paginator as $sede) : ?>
                                    <tr>		
                                        <td class="align-center"><?php echo $num;?></td>   
                                        <td><?php echo $this->escape($sede['nombre']); ?></td>
                                        <td><?php echo $this->escape($sede['deporte']); ?></td>
                                        <td><?php echo $this->escape($sede['disciplina']); ?></td>
                                        <td><?php echo $this->escape($sede['email']); ?></td>
                                        <td><?php echo $this->escape($sede['telefono']); ?></td>
                                        <td>
                                          
                                            
                                        <?php if($sede['destacado'] == 1):?>
                                            <a href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'destacar', 'id'=>$sede['id'], 'act'=>0));?>" class="table-icon destacado" title="Destacado"></a>
                                        <?php else:?>
                                            <a href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'destacar', 'id'=>$sede['id'], 'act'=>1));?>" class="table-icon sindestacado" title="Sin destacar"></a>
                                        <?php endif;?>
                                            <!-- 
                                            <a class="table-icon add" href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'asignarequipo', 'id'=>$sede['id']));?>" title="Agregar  a evento"></a>
                                            <a class="table-icon edit" href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'update', 'id'=>$sede['id']));?>" title="Editar Equipo"></a>
                                            <a class="table-icon delete" href="<?php echo $this->url(array('controller'=>'equipos', 'action'=>'borrar', 'id'=>$sede['id']));?>" title="Eliminar Equipo"></a>
                                            -->
                                        </td>		
                                    </tr>
                                    <?php $num+=1;?>
                            <?php endforeach; ?>                            
                    <?php else:?>
                        <tr><td>No hay datos</td></tr>
                    <?php endif;?> 
                </tbody>
        </table>
        <div class="entry">
                <div class="pagination">
                        <?php if(count($this->paginator)):?>
                        <?php echo $this->paginator;?>
                        <?php endif;?>
                </div>
                
        </div>
</section>
