<section class="full_w">
    <div class="h_title">Nueva equipo deportivo</div>
    <div class="entry">
        <a class="button" href="<?php echo $this->url(array('controller'=>'equipos','action'=>'index'));?>">Equipos deportivos</a>
        <div class="sep"></div>
    </div>
    <?php   if(isset($this->respRegistro) && $this->respRegistro==1){ ?>                
                <div class="n_ok"><p>El equipo deportivo fue creado.</p></div>
    <?php  }else if(isset($this->respRegistro) && $this->respRegistro==0){ ?>
                <div class="n_error"><p>Error al registrar el equipo.</p></div>
    <?php  } ?> 
    <form id="frmEquipo" enctype="multipart/form-data" action="<?php echo $this->baseUrl(); ?>/admin/equipos/update" method="post" data-source="<?php echo $this->baseUrl(); ?>/admin/equipos/update">
                <div class="element">
                    <label for="name" class="new-label"><b>Eventos Actuales </b><span class="msg-error"><p id="error-nombre">* Ingrese el nombre del equipo deportivo.</p></span></label>
                         <?php 
                            $propertiesEventos = array('id' => 'eventos');
                            echo $this -> frmEquipoDeportivo -> eventos -> setAttribs($propertiesEventos) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Equipo nombre </b><span class="msg-error"><p id="error-nombre">* Ingrese el nombre del equipo deportivo.</p></span></label>
                        
                         <?php 
                            $propertiesNombre = array('id' => 'txtNombre');
                            echo $this -> frmEquipoDeportivo -> txtNombre -> setAttribs($propertiesNombre) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Deporte </b><span class="msg-error"><p id="error-deporte">* Ingrese el deporte.</p></span></label>
                         <?php 
                            $propertiesDeporte= array('id' => 'txtDeporte');
                            echo $this -> frmEquipoDeportivo -> txtDeporte -> setAttribs($propertiesDeporte) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Disciplina </b> <span class="msg-error"><p id="error-disciplina">* Ingrese una disciplina.</p></span></label>
                         <?php 
                            $propertiesDisciplina= array('id' => 'sltDisciplina');
                            echo $this -> frmEquipoDeportivo -> sltDisciplina -> setAttribs($propertiesDisciplina) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Direccion postal </b> <span class="msg-error"><p id="error-direccion">* Ingrese una direccion postal.</p></span></label>
                         <?php 
                            $propertiesDireccion= array('id' => 'txtDireccionpostal');
                            echo $this -> frmEquipoDeportivo -> txtDireccionpostal -> setAttribs($propertiesDireccion) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Departamento </b> <span class="msg-error"><p id="error-departamento">* Seleccione un departamento.</p></span></label>
                         <?php 
                            $url=$this->baseUrl().'/calendario/getprovincias';
                            $propertiesDepartamentos= array('id' => 'departamento','data-source'=>$url);
                            echo $this -> frmEquipoDeportivo -> departamento -> setAttribs($propertiesDepartamentos) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Provincia </b> <span class="msg-error"><p id="error-provincia">* Seleccione una provincia.</p></span></label>
                         <?php 
                            $url=$this->baseUrl().'/calendario/getdistritos';
                            $propertiesProvincias= array('id' => 'provincia','data-source'=>$url);
                            echo $this -> frmEquipoDeportivo -> provincia -> setAttribs($propertiesProvincias) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Distrito</b> <span class="msg-error"><p id="error-distrito">* Seleccione un distrito.</p></span></label>
                         <?php 
                            $propertiesDistrito= array('id' => 'distrito');
                            echo $this -> frmEquipoDeportivo -> distrito -> setAttribs($propertiesDistrito) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Telefono</b> <span class="msg-error"><p id="error-telefono">* Ingrese un telefono.</p></span></label>
                         <?php 
                            $propertiesTelefono= array('id' => 'txtTelefono');
                            echo $this -> frmEquipoDeportivo -> txtTelefono -> setAttribs($propertiesTelefono) -> renderViewHelper();                            
                        ?>
                </div>
                <div class="element">
                    <label for="name" class="new-label"><b>Email</b> <span class="msg-error"><p id="error-email">* Ingrese un email.</p></span></label>
                         <?php 
                            $propertiesEmail= array('id' => 'txtEmail');
                            echo $this -> frmEquipoDeportivo -> txtEmail -> setAttribs($propertiesEmail) -> renderViewHelper();                            
                        ?>
                </div>
                
                <div class="element">
                            <label for="name">Fotos</label>
                            <!-- inicio fotos -->
                                <div class="content-ru">
                                                <p>Se puede subir hasta 3 fotos, con un tamaño de (520x370) o similares, solo acepta las extensiones (JPG, JPEG, PNG, BMP), hasta un peso máximo de (1MB).</p>
                                                
                                                <dl class="ru-controles">
                                                        <dd>    
                                                                <a id="subir-fotos" href="#" class="button left">Subir fotos</a>
                                                        </dd>
                                                </dl>
                                                
                                                <dl class="ru-error left">
                                                        <dd><p id="error-fotos">Falta subir una foto.</p></dd>
                                                </dl>
                                                
                                                <?php 
                                                    $css="";
                                                    if(isset($this->fotos)):
                                                        $css='mostrar';
                                                    endif;
                                                    
                                                    $num=0;
                                                    $countFotos=count($this->fotos);
                                                ?>
                                                <div id="content-sf" class="content-vf <?php echo $css;?>"  tipo='fotos'>
                                                    
                                                            <?php foreach ($this->fotos as $foto):?>
                                                                    <p id="p-<?php echo $num;?>">
                                                                            <span><?php echo $foto['nombre'];?></span>                                                                        
                                                                            <a href="#" evento="<?php echo $foto['id'];?>">eliminar</a>
                                                                    </p>

                                                                    <?php $num++; ?>
                                                            <?php endforeach; ?>
                                                                    
                                                            <?php 
                                                                $propertiesGetFotos= array('id' => 'getFotos');
                                                                echo $this -> frmEquipoDeportivo -> getFotos -> setAttribs($propertiesGetFotos) -> renderViewHelper();
                                                            ?>
                                                                    
                                                            <input  type="hidden" id="getFotosEliminados" name="getFotosEliminados"  value=""/>
                                                            
                                                </div>
                                </div>
                            <!-- fotos fotos -->
                </div>
        
                <div class="element">
                            <label for="name">Videos</label>
                            <div class="content-ru">
                                    <p>Mostrará solo videos de YouTube hasta un máximo de 3.</p>

                                    <dl class="ru-controles">
                                            <dd>
                                                <input type="text" id="txtVideos" name="txtVideos" placeholder="https://www.youtube.com/" class="text">
                                            </dd>
                                            <dd><a id="subir-videos" href="#" class="button left">Agregar</a></dd>
                                    </dl>
                                    <dl class="ru-error left">
                                            <dd><p id="error-videos">Falta subir un video.</p></dd>											
                                    </dl>
                                    
                                    <?php 
                                        $css="";
                                        if(isset($this->videos)):
                                            $css='mostrar';
                                        endif;

                                        $num=0;                                                    
                                        $nombreVideos="";
                                    ?>
                                    
                                    <div id="content-sv" class="content-vf <?php echo $css;?>"  tipo='videos'>
                                                <?php foreach ($this->videos as $video):?>
                                                        <p id="p-<?php echo $num;?>">
                                                                <span><?php echo $video['nombre'];?></span>                                                                        
                                                                <a href="#" evento="<?php echo $video['id'];?>">eliminar</a>

                                                                <?php
                                                                        if(strlen($nombreVideos)==''):
                                                                                $nombreVideos=$video['nombre'];
                                                                        else:
                                                                                $nombreVideos=$nombreVideos.'/////'.$video['nombre'];
                                                                        endif;
                                                                ?>
                                                        </p>

                                                        <?php $num++; ?>
                                                <?php endforeach; ?>
                                                        
                                               <?php 
                                                    $propertiesGetVideos= array('id' => 'getVideos');
                                                    echo $this -> frmEquipoDeportivo -> getVideos -> setAttribs($propertiesGetVideos) -> renderViewHelper();
                                                ?>
                                                        
                                                <input  type="hidden" id="getTraidos" name="getTraidos"  value="<?php echo $nombreVideos;?>">
                                                <input  type="hidden" id="getVideosEliminados" name="getVideosEliminados"  value=""/>
                                    </div>
                             </div>   
                </div>
        
                <div class="entry">
                        <?php 
                            $propertiesId= array('id' => 'id');
                            echo $this -> frmEquipoDeportivo -> id -> setAttribs($propertiesId) -> renderViewHelper();
                        ?>
                        
                        <?php 
                            $propertiesIdEveEqui= array('id' => 'idEveEqui');
                            echo $this -> frmEquipoDeportivo -> idEveEqui -> setAttribs($propertiesIdEveEqui) -> renderViewHelper();
                        ?>
                    
                        <?php 
                            $propertiesFotoInicio= array('id' => 'fotoInicio');
                            echo $this -> frmEquipoDeportivo -> fotoInicio -> setAttribs($propertiesFotoInicio) -> renderViewHelper();
                        ?>
                        <?php 
                            $propertiesBtnSede = array('id' => 'btnEquipo');
                            echo $this -> frmEquipoDeportivo -> btnEquipo -> setAttribs($propertiesBtnSede) -> renderViewHelper();                            
                        ?>
                </div>
        </form>
</section>